extends ../_layout

block vars
  - var pageDescription = 'Lynn Erickson is an artist, designer, and developer from Chandler, Arizona.'
  - var bodyClass = 'right'

block title
  | 2007 Site Archive - Hobbit Sized - 

block content

  .blog
    h3 Hobbit Sized
    p.date Ink jet print | 20″ x 16″ | Spring 2004
    img(src='/assets/images/archive/2007/paintings/2d_hobbit.jpg')
