extends ../_layout

block vars
  - var pageDescription = 'Lynn Erickson is an artist, designer, and developer from Chandler, Arizona.'
  - var bodyClass = 'right'

block title
  | 2007 Site Archive - Stalefish - 

block content

  .blog
    h3 Stalefish
    p.date Paint chips, glue | 13″ x 18″ | Spring 2004
    img(src='/assets/images/archive/2007/paintings/2d_stalefish.jpg')
