extends ../_layout

block vars
  - var pageDescription = 'Lynn Erickson is an artist, designer, and developer from Chandler, Arizona.'
  - var bodyClass = 'right'

block title
  | 2007 Site Archive - Various Older Work - 

block content

  .blog
    h3 Various Older Work
    p.date Spring 2004 - Fall 2005
    p Here is a small selection of work from all of my beginning art classes at ASU. Most of my projects were less than show-worthy. These are the few that I still love regardless of the skill level involved and the obvious mistakes. Not all of them are paintings, but I put them here anyway.
    p Included here are the following pieces:
    ul
      li #[em Stalefish] (Project: make a mosaic demonstrating a specific color scheme)
      li #[em Vincent Vs. Dali] (Project: combine two artists’ styles and techniques into one piece)
      li #[em Hobbit Sized] (Project: create a self portrait through the use of collage)
      li #[em Trompe-l'oeil] (Project: create a trompe-l’oeil drawing of a memory box)
      li #[em Tiny Dancer] (Project: create a piece using another artist’s style and color palette)
      li #[em The Color Red] (Project: provoke an abstract feeling through imagery)
      li #[em You Look So Good in Blue] (Project: make an ordinary object extraordinary)
