extends ../_layout

block vars
  - var pageDescription = 'Lynn Erickson is an artist, designer, and developer from Chandler, Arizona.'
  - var bodyClass = 'right'

block title
  | 2007 Site Archive - www - 

block content

  .blog
    h3 You Look So Good in Blue
    p.date >Acrylic on canvas | 12″ x 16″ | Fall 2005
    img(src='/assets/images/archive/2007/paintings/painting_goodinblue.jpg')
