extends ../_layout

block vars
  - var pageDescription = 'Lynn Erickson is an artist, designer, and developer from Chandler, Arizona.'
  - var bodyClass = 'right'

block title
  | 2007 Site Archive - The Color Red - 

block content

  .blog
    h3 The Color Red
    p.date Acrylic on canvas | 12″ x 16″ | Fall 2005
    img(src='/assets/images/archive/2007/paintings/painting_colorred.jpg')
