extends ../_layout

block vars
  - var pageDescription = 'Lynn Erickson is an artist, designer, and developer from Chandler, Arizona.'
  - var bodyClass = 'right'

block title
  | 2007 Site Archive - The Smart One - 

block content

  .blog
    h3 The Smart One (Which One’s the Ho?)
    p.date Acrylic on canvas | 16″ x 20″ | Fall 2004
    img(src='/assets/images/archive/2007/paintings/smartone_kaycie.jpg')
