extends ../_layout

block vars
  - var pageDescription = 'Lynn Erickson is an artist, designer, and developer from Chandler, Arizona.'
  - var bodyClass = 'right'

block title
  | 2007 Site Archive - The Smart One - 

block content

  .blog
    h3 The Smart One (Which One’s the Ho?)
    p.date Fall 2004
    p This portrait series was completed for the final project in my Color class. I have to admit that I twisted the assignment a little bit and didn’t use much color. Regardless, I knew I wanted to try portraiture. These were my first attempts at doing realistic renditions of the human face.
    p The concept for this piece was inspired by comedian Margaret Cho. She has a joke that states that in every group of three friends, there’s the smart one, the sweet one, and then there’s the ho. Can you tell who’s who?
    p This piece was shown in the 2004-2005 Juried Undergraduate Exhibition in Harry Wood Gallery at Arizona State University.
