extends ../_layout

block vars
  - var pageDescription = 'Lynn Erickson is an artist, designer, and developer from Chandler, Arizona.'
  - var bodyClass = 'right'

block title
  | 2007 Site Archive - We Were All Yellow - 

block content

  .blog
    h3 Kim, Oh No!
    p.date Oil on canvas | 48″ x 48″ | Spring 2007
    img(src='/assets/images/archive/2007/paintings/thesis_kori.jpg')
