extends ../_layout

block vars
  - var pageDescription = 'Lynn Erickson is an artist, designer, and developer from Chandler, Arizona.'
  - var bodyClass = 'right'

block title
  | 2007 Site Archive - www - 

block content

  .blog
    h3 We Were All Yellow
    p.date Spring 2007
    p #[em We Were All Yellow] was my creative project for my honors thesis. The original idea was to comment on the ideas and perceptions of Asians in America by Caucasians. I surveyed 25 Caucasians about Asian imagery, stereotypes, and concepts. The portraits that resulted are Caucasian individuals depicting both traditional and stereotypical Asian settings.
    p These were the first large-scale paintings I attempted and it took and extraordinary amount of time and effort. It was also a venture into oil paints. Looking back, I probably would have done things differently, but it was a great learning experience. And hey, I passed!
    p Paintings in this series include:
    ul
      li #[em I Met a Chinese Person Once] (Many Americans not only can’t tell different Asian groups apart, but often clump them all together into an all-purpose “Chinese” ethnicity)
      li #[em Kim, Oh No!] (Geisha culture has become glamorous in America in books, movies, and fashion)
      li #[em They All Look the Same Anyway] (Addresses the stereotype that all Asians look like)
      li #[em Still Trying to Back Out of the Driveway] (Addresses the stereotype that Asians are bad drivers)
      li #[em Don’t Drink and Derive (I Know My Calculus)] (Address the stereotpye that Asians are good at math)
      li #[em Herro, Kitty] (Hello, Kitty is a celebrity in Japan and is often associated with Asian culture. The title pokes fun at the stereotype that Asians mix up their R’s and L’s)
