/*--------------------------------------------------------------------
* $404
--------------------------------------------------------------------*/

.fourohfour
  display: flex
  flex-direction: column
  background-repeat: no-repeat
  background-image: url('/assets/images/scene0-airplane.svg'),
                    url('/assets/images/scene0-stars.svg')
  background-position: center 58%, center center
  background-size: 100px auto, cover
  background-color: #333

  header
    background-color: var(--background)

  main
    min-height: 300px

  .main-footer
    margin-top: auto
