/*--------------------------------------------------------------------
* $THOUGHTS ENTRIES
--------------------------------------------------------------------*/

.thoughts,
.thought-detail

  .main-nav .nav-thoughts
    nav-active()

.thoughts

  @media screen and (min-width: $bp-sm + 1)
    main
      display: grid
      grid-template-columns: 1fr 1.5fr
      grid-gap: 4em

  .thought
    display: grid
    grid-template-columns: auto auto
    grid-column-gap: .6em
    justify-content: start
    align-items: center

  .date
    grid-row: 2

  .thought:not(:last-child)
    margin-bottom: 2em

  .thought-title
    link-alt()
    margin-bottom: .2em
    font-size: 1.6em
    font-family: $font-family-source-serif
    line-height: 1.2

  .external:not(:empty)

    &:after
      content: '↗'
      margin-left: .3em
      display: inline-block

.thought-detail

  header
    text-align: center

    h1
      max-width: 750px
      margin: 0 auto .5em
      @media screen and (max-width: $bp-xs)
        font-size: 2rem
      @media screen and (min-width: $bp-xs + 1)
        font-size: 2.5rem
      @media screen and (min-width: $bp-sm + 1)
        font-size: 4rem
    
    .date
      font-size: 90%

  main
    @media screen and (min-width: $bp-xs + 1)
      font-size: 1.2em
      line-height: 1.5

  .back
    margin-top: 1em
    padding-top: 1em
    border-top: 1px dotted var(--border-color)

  .cp_embed_wrapper
    margin-bottom: 1.5em

  .twitter-tweet
    margin-bottom: 1.5em !important

  .footnote
    margin-top: -1.3em
    margin-bottom: 2em
    display: block
    text-align: center

  h2, h3
    margin: .5em 0 .75em

  ul:not(.unstyled)
    padding-left: 1.3em
    list-style-type: disc

    li
      margin-bottom: .5em

  // markdown formatting
  p img:last-child
    margin-bottom: 0

  blockquote
    margin-bottom: 1em
    padding-left: 1.2em
    position: relative
    font-style: italic

    &:before
      content: '“'
      position: absolute
      left: 0
      top: -8px
      font-size: 200%

    cite
      margin-top: .7em
      display: block
      text-align: right
      font-size: .8em
      font-style: normal

      &:before
        content:'—'
      
    & > p:last-child
      margin-bottom: .5em

  .callout
    margin-bottom: 1.5em
    border: 1px dashed var(--border-color)
    padding: 1em
    font-size: 1rem

  .content
    width: 100%
    max-width: 850px

    // video embeds
    div.wide
      margin-bottom: 1.4em
      > img
        margin-bottom: 0

    img
      display: block
      margin-bottom: 1.4em

  @media screen and (min-width: 701px)

    .content
      display: grid
      grid-template-columns: b(full-start) minmax(1em, 1fr) b(main-start) minmax(0, 600px) b(main-end) minmax(1em, 1fr) b(full-end)

      & > *
        grid-column: main

      .wide, pre
        grid-column: full
