/*--------------------------------------------------------------------
* $ABOUT
--------------------------------------------------------------------*/

.about

  .main-nav
    .nav-about
      background: black
      color: white

  .content

    .wide
      margin-bottom: 60px
