/*--------------------------------------------------------------------
* $WORK
--------------------------------------------------------------------*/

.work

  &.web .main-nav .nav-web
    background: black
    color: white

  &.art .main-nav .nav-art
    background: black
    color: white

  a.project-image
    background: none

  hr
    margin: 30px auto 50px

  @supports (display: grid)
    hr
      margin: 30px 0 50px

  .footnote
    margin: 0 auto 50px
    padding: 10px 30px 0
    display: inline-block
    border-top: 1px solid $grey-lightest
