extends ../_layout

block vars
  - var description = 'A CSS drawing experiment to see what’s possible with a single div.'
  - var bodyClass = 'project-detail'

block title
  | 2015 Site Archive - A Single Div - 

block content

  .caption
    h1 A Single Div
      span 2014 to present
      span web

  .intro

    .preview.a-single-div

    blockquote
      span “Wonderfully creative use of CSS gradients, borders, box-shadows, and generated content.”
        cite Jeremy Keith

  .detail

    .detail-content

      p An ongoing drawing project to see what’s possible with CSS. Each drawing is a single &lt;div&gt; element.
      blockquote
        span “Some damned impressive CSS drawing.”
          cite Ethan Marcotte
      p A Single Div was featured in Net Magazine issue 261.
      p You can examine the source files on 
        a(href='https://github.com/lynnandtonic/a-single-div') Github
        | , read about the process on 
        a(href='https://hacks.mozilla.org/2014/09/single-div-drawings-with-css/') Mozilla Hacks
        | , or see the illustrations in action at 
        a(href='https://a.singlediv.com/') a.singlediv.com
        | .

    .detail-images
      img(src='/assets/images/archive/2015/a-single-div-1.jpg')
      img(src='/assets/images/archive/2015/a-single-div-2.jpg')
      img(src='/assets/images/archive/2015/a-single-div-3.jpg')
      img(src='/assets/images/archive/2015/a-single-div-4.jpg')
      img(src='/assets/images/archive/2015/a-single-div-5.jpg')
      img(src='/assets/images/archive/2015/a-single-div-6.jpg')
      img(src='/assets/images/archive/2015/a-single-div-7.jpg')
      img(src='/assets/images/archive/2015/a-single-div-8.jpg')
      img(src='/assets/images/archive/2015/a-single-div-9.jpg')
      img(src='/assets/images/archive/2015/a-single-div-10.jpg')
      img(src='/assets/images/archive/2015/a-single-div-11.jpg')
      img(src='/assets/images/archive/2015/a-single-div-12.jpg')
      img(src='/assets/images/archive/2015/a-single-div-13.jpg')
      img(src='/assets/images/archive/2015/a-single-div-14.jpg')
      img(src='/assets/images/archive/2015/a-single-div-15.jpg')
      img(src='/assets/images/archive/2015/a-single-div-16.jpg')
      img(src='/assets/images/archive/2015/a-single-div-17.jpg')
      img(src='/assets/images/archive/2015/a-single-div-18.jpg')
      img(src='/assets/images/archive/2015/a-single-div-19.jpg')
      img(src='/assets/images/archive/2015/a-single-div-20.jpg')
      img(src='/assets/images/archive/2015/a-single-div-21.jpg')
      img(src='/assets/images/archive/2015/a-single-div-22.jpg')
      img(src='/assets/images/archive/2015/a-single-div-23.jpg')
      img(src='/assets/images/archive/2015/a-single-div-24.jpg')
      img(src='/assets/images/archive/2015/a-single-div-25.jpg')

  .controls
    a.back(href='/archive/2015/work/benjamin-heise') Previous
    a.next(href='/archive/2015/work/crohn-wedding') Next
