extends ../_layout

block vars
  - var description = 'Illustrations capturing the pieces of the wedding of Nick and Melissa Crohn'
  - var bodyClass = 'project-detail'

block title
  | 2015 Site Archive - Crohn Wedding - 

block content

  .caption
    h1 The Crohn Wedding
      span 2014
      span illustration

  .intro

    //- .preview.crohn-wedding

    blockquote
      span “Webster’s Dictionary defines ‘wedding’ as the fusing of two metals with a hot torch.”
        cite Michael Scott

  .detail
    .detail-content
      p Little illustrations for Nick and Melissa Crohn, capturing the physical pieces of their wedding and engagement photos.

    .detail-images
      img(src='/assets/images/archive/2015/crohn-wedding-1.jpg')
      img(src='/assets/images/archive/2015/crohn-wedding-2.jpg')

  .controls
    a.back(href='/archive/2015/work/a-single-div') Previous
    a.next(href='/archive/2015/work/logical-doctor') Next
