extends ../_layout

block vars
  - var description = 'Various icons for various projects.'
  - var bodyClass = 'project-detail'

block title
  | 2015 Site Archive - Icons - 

block content

  .caption
    h1 Icons & Illustrations
      span 2014-2016

  .detail

    .detail-content
      p Some icons and illustrations for various projects, a lot of which were completed for #[a(href="https://andyet.com") &yet].

    .detail-images
      img(src='/assets/images/archive/2015/illo-all-the-trades.png')
      img(src='/assets/images/archive/2015/icons-andyetconf.png')
      img(src='/assets/images/archive/2015/icons-andyetconf-2.png')
      img(src='/assets/images/archive/2015/illo-lynn-rainbow.png')
      img(src='/assets/images/archive/2015/icons-sandwich.png')
      img(src='/assets/images/archive/2015/icons-jsforteams.png')
      img(src='/assets/images/archive/2015/illo-security-map.png')
      img(src='/assets/images/archive/2015/illo-yoda.png')
      img(src='/assets/images/archive/2015/illo-sandwich-yeti.png')
      img(src='/assets/images/archive/2015/icons-seaworthy.png')
      img(src='/assets/images/archive/2015/illo-viewfinder.png')
      img(src='/assets/images/archive/2015/illo-yeti-threads.png')
      img(src='/assets/images/archive/2015/illo-alignment.png')

  .controls
    a.back(href='/archive/2015/work/top-chef-stats') Previous
    a.next(href='/archive/2015/work/airport-codes') Next
