extends ../_layout

block vars
  - var description = 'A portrait of Spock as the 11th Doctor, painted for Devon Tackett.'
  - var bodyClass = 'project-detail'

block title
  | 2015 Site Archive - The Logical Doctor - 

block content

  .caption
    h1 The Logical Doctor
      span 2013
      span acrylic on canvas

  .intro

    .preview.logical-doctor

    blockquote
      span “Live long and wibbily wobbly timey wimey.”
        cite The Logical Doctor

  .detail
    .detail-content
      p A mashup portrait of the two coolest sci-fi heroes around (Spock from #[em Star Trek] and the 11th Doctor from #[em Doctor Who], in case you don’t love awesome television). Fandoms unite!

      p This painting was created for #[a(href='https://meltmedia.com') meltmedia]’s annual Secret Santa gift exchange for my friend and awesome dude, Devon Tackett.

    .detail-images
      img(src='/assets/images/archive/2015/logical-doctor.jpg')
      img(src='/assets/images/archive/2015/logical-doctor-bg.jpg')

  .controls
    a.back(href='/archive/2015/work/crohn-wedding') Previous
    a.next(href='/archive/2015/work/whyaz') Next
