extends ../_layout

block vars
  - var description = 'A site about why it’s great to live and work in Arizona.'
  - var bodyClass = 'project-detail'

block title
  | 2015 Site Archive - WhyAZ - 

block content

  .caption
    h1 WhyAZ
      span 2013
      span web

  .intro

    blockquote
      span #whyaz

  .detail
    .detail-content
      p WhyAZ is a little web project that resulted from asking questions about attracting and keeping talent in Arizona. We spend a lot of time building up and promoting our brands and projects, but we spend little time talking about Arizona. Our state has a lot to offer and so #[a(href='https://why.az') why.az] was born.
      p To make it even more fun, I thought it might be neat if we designed the site completely in browser, drawing our graphical elements in CSS while maintaining clean, semantic markup.
      p To read more about the approach, check out this blog post: #[a(href='/thoughts/entries/why-whyaz/') Why WhyAZ?]
      p At the time of that post, each illustration consisted of two HTML elements. But now, each illustration is one sweet single div.
      p To see the many many examples we've made (and to learn more about our great state), visit #[a(href='https://why.az') why.az].

    .detail-images
      img(src='/assets/images/archive/2015/whyaz-1.jpg')
      img(src='/assets/images/archive/2015/whyaz-2.jpg')
      img(src='/assets/images/archive/2015/whyaz-3.jpg')

  .controls
    a.back(href='/archive/2015/work/logical-doctor') Previous
    a.next(href='/archive/2015/work/where-dwell-the-brave-at-heart') Next
