extends ../_layout

block vars
  - var description = 'Arwen is an internal screen shot tool, developed for meltmedia.'

block title
  | 2014 Site Archive - Arwen - 

block content

  .preview.arwen

  .details.project
    h1 Arwen
    p.meta-info
      span.meta web application
      span.meta 2012
    p Arwen is an internal automated screenshot tool built by the awesome folks at #[a(href='http://meltmedia.com') meltmedia]. I was able to help out with a logo based on Arwen's Evenstar Pendant and a simple, responsive interface.

    img.logo(src='/assets/images/archive/2014/arwen-1.svg')
    img(src='/assets/images/archive/2014/arwen-2.jpg')

    .controls.cf
      a.back(href='/archive/2014/work/cadmium') Previous
      a.next(href='/archive/2014/work/paintstagram1') Next
