extends ../_layout

block vars
  - var description = 'Cadmium is an internal content distribution system, developed for meltmedia.'

block title
  | 2014 Site Archive - Cadmium - 

block content

  .preview.cadmium

  .details.project
    h1 Cadmium
    p.meta-info
      span.meta web application
      span.meta 2013
    p Cadmium is an internal content deployment tool built by the awesome folks at #[a(href='http://meltmedia.com') meltmedia]. I was able to help out with a logo based on the Lernaean Hydra and two simple, responsive interfaces.

    img.logo(src='/assets/images/archive/2014/cadmium-1.svg')
    img(src='/assets/images/archive/2014/cadmium-2.jpg')
    img(src='/assets/images/archive/2014/cadmium-3.jpg')

    .controls.cf
      a.back(href='/archive/2014/work/lynnandtonic-v8') Previous
      a.next(href='/archive/2014/work/arwen') Next
