extends ../_layout

block vars
  - var description = 'A commissioned painting for Andy Frey, inspired by Dogs Playing Poker.'

block title
  | 2014 Site Archive - Cartoons Playing Poker - 

block content

  .preview.cartoons-playing-poker

  .details.project
    h1 Cartoons Playing Poker
    p.meta-info
      span.meta acrylic on canvas
      span.meta 40″ x 30″
      span.meta 2010
    p My friend and former coworker, Andy Frey, commissioned me to paint him a parody of the famous #[em Dogs Playing Poker], but instead with his favorite cartoon characters. Fun, geekery, and nostalgia all around.

    img(src='/assets/images/archive/2014/cartoons-playing-poker-1.jpg')

    .controls.cf
      a.back(href='/archive/2014/work/japanese-american-gothic') Previous
      a.next(href='/archive/2014/work/character-studies') Next
