extends ../_layout

block vars
  - var description = 'An illustration series depicting our faveorite film characters in everday situations.'

block title
  | 2014 Site Archive - Character Studies - 

block content

  .preview.character-studies

  .details.project
    h1 Character Studies
    p.meta-info
      span.meta digital illustration
      span.meta 2010/2011
    p A series of little illustrations showing beloved and iconic film characters in everyday situations. These were shown during the First Friday Art Walk at New City Studios in October of 2011.

    img(src='/assets/images/archive/2014/character-studies-6.jpg')
    p.footnote Spock at ComicCon
    img(src='/assets/images/archive/2014/character-studies-1.jpg')
    p.footnote Amelie at Tour de Fat
    img(src='/assets/images/archive/2014/character-studies-2.jpg')
    p.footnote Wolverine at an ugly sweater party
    img(src='/assets/images/archive/2014/character-studies-3.jpg')
    p.footnote Veruca at the rodeo
    img(src='/assets/images/archive/2014/character-studies-4.jpg')
    p.footnote Boba at a luau
    img(src='/assets/images/archive/2014/character-studies-5.jpg')
    p.footnote The Dude at Ikea
    img(src='/assets/images/archive/2014/character-studies-7.jpg')
    p.footnote Rufio at the Renaissance Faire
    img(src='/assets/images/archive/2014/character-studies-8.jpg')
    p.footnote Paulie at the beach
    img(src='/assets/images/archive/2014/character-studies-9.jpg')
    p.footnote Max at the gym
    img(src='/assets/images/archive/2014/character-studies-10.jpg')
    p.footnote Margot at the fair
    img(src='/assets/images/archive/2014/character-studies-11.jpg')
    p.footnote Gogo at the Playboy Mansion
    img(src='/assets/images/archive/2014/character-studies-12.jpg')
    p.footnote Gandalf at the arcade
    img(src='/assets/images/archive/2014/character-studies-13.jpg')
    p.footnote Donnie at the DMV

    .controls.cf
      a.back(href='/archive/2014/work/cartoons-playing-poker') Previous
