extends ../_layout

block vars
  - var description = 'Illustrations capturing the pieces of the wedding of Nick and Melissa Crohn'

block title
  | 2014 Site Archive - Crohn Wedding - 

block content

  .preview.crohn-wedding

  .details.project
    h1 The Crohn Wedding
    p.meta-info
      span.meta digital illustration
      span.meta 2014
    p Little illustrations for Nick and Melissa Crohn, capturing the physical pieces of their wedding and engagement photos.

    img(src='/assets/images/archive/2014/crohn-wedding-1.jpg')
    img(src='/assets/images/archive/2014/crohn-wedding-2.jpg')

    .controls.cf
      a.back(href='/archive/2014/work/a-single-div') Previous
      a.next(href='/archive/2014/work/logical-doctor') Next
