extends ../_layout

block vars
  - var description = 'A portrait for Naomi Suzuki, inspired by American Gothic.'

block title
  | 2014 Site Archive - Japanese American Gothic - 

block content

  .preview.japanese-american-gothic

  .details.project
    h1 Japanese American Gothic
    p.meta-info
      span.meta acrylic on canvas
      span.meta 16″ x 20″
      span.meta 2010
    p This painting was created for #[a(href='http://meltmedia.com') meltmedia]’s annual Secret Santa gift exchange for my friend and awesome dude, Naomi Suzuki.
    p Naomi and Ben (on the right) have always had a strange, bickering couple kind of relationship and I wanted to capture that for him. It was a hit and even inspired a couples Halloween costume.

    img(src='/assets/images/archive/2014/japanese-american-gothic-1.jpg')
    img(src='/assets/images/archive/2014/japanese-american-gothic-2.png')
    img(src='/assets/images/archive/2014/japanese-american-gothic-3.jpg')

    .controls.cf
      a.back(href='/archive/2014/work/may-the-goose-be-with-you') Previous
      a.next(href='/archive/2014/work/cartoons-playing-poker') Next
