extends ../_layout

block vars
  - var description = 'A portrait of Spock as the 11th Doctor, painted for Devon Tackett.'

block title
  | 2014 Site Archive - The Logical Doctor - 

block content

  .preview.logical-doctor

  .details.project
    h1 The Logical Doctor
    p.meta-info
      span.meta acrylic on canvas
      span.meta 12″ x 18″
      span.meta 2013
    p A mashup portrait of the two coolest sci-fi heroes around (Spock from #[em Star Trek] and the 11th Doctor from #[em Doctor Who], in case you don’t love awesome television). Fandoms unite!

    img(src='/assets/images/archive/2014/logical-doctor.jpg')

    p This painting was created for #[a(href='http://meltmedia.com') meltmedia]’s annual Secret Santa gift exchange for my friend and awesome dude, Devon Tackett.

    .controls.cf
      a.back(href='/archive/2014/work/crohn-wedding') Previous
      a.next(href='/archive/2014/work/whyaz') Next
