extends ../_layout

block vars
  - var description = "Version 2013 of lynnandtonic.com, the portfolio of Lynn Fisher."

block title
  | 2014 Site Archive - lynnandtonic.com - 

block content

  .preview.lynnandtonic-v8

  .details.project
    h1 lynnandtonic.com
    p.meta-info
      span.meta responsive website
      span.meta 2013
    p A previous version of this very site! How fun.

    img(src="/assets/images/archive/2014/lynnandtonic-v8-1.jpg")
    img(src="/assets/images/archive/2014/lynnandtonic-v8-2.jpg")
    img(src="/assets/images/archive/2014/lynnandtonic-v8-3.jpg")
    img(src="/assets/images/archive/2014/lynnandtonic-v8-4.jpg")
    img(src="/assets/images/archive/2014/lynnandtonic-v8-5.jpg")

    .controls.cf
      a.back(href="/archive/2014/work/where-dwell-the-brave-at-heart") Previous
      a.next(href="/archive/2014/work/cadmium") Next
