extends ../_layout

block vars
  - var description = 'Version 2012 of lynnandtonic.com, the portfolio of Lynn Fisher.'

block title
  | 2014 Site Archive - lynnandtonic.com - 

block content

  .preview.lynnandtonic-v7

  .details.project
    h1 lynnandtonic.com
    p.meta-info
      span.meta responsive website
      span.meta 2012
    p An earlier version of this very site! How time flies. It was featured on the #[a(href='http://admiretheweb.com/?s=lynn+fisher') Admire the Web] gallery.

    img(src='/assets/images/archive/2014/lynnandtonic-v7-1.jpg')
    img(src='/assets/images/archive/2014/lynnandtonic-v7-2.jpg')

    .controls.cf
      a.back(href='/archive/2014/work/notconf') Previous
      a.next(href='/archive/2014/work/may-the-goose-be-with-you') Next
