extends ../_layout

block vars
  - var description = 'NotConf was a JSConf pre-conference in Phoenix.'

block title
  | 2014 Site Archive - NotConf - 

block content

  .preview.notconf

  .details.project
    h1 NotConf
    p.meta-info
      span.meta responsive website
      span.meta 2012
    p In 2012, #[a(href='http://jsconf.com/') JSConf] visited my hometown of Scottsdale, Arizona. The folks at #[a(href='http://meltmedia.com') meltmedia] were tapped to plan and host a pre-conference the day before.

    p It was called NotConf, hosted at the AZ Historical Society, and featured awesome talks, demos, local music, food, and beer.

    p Although the event is long over, you can still visit the site here: #[a(href='http://notconf.com/') NotConf].

    img(src='/assets/images/archive/2014/notconf-1.jpg')

    p The site featured a 'day of' event guide to help attendees get around.

    img(src='/assets/images/archive/2014/notconf-2.jpg')
    img(src='/assets/images/archive/2014/notconf-3.png')
    img(src='/assets/images/archive/2014/notconf-4.png')

    .controls.cf
      a.back(href='/archive/2014/work/paintstagram2') Previous
      a.next(href='/archive/2014/work/lynnandtonic-v7') Next
