extends ../_layout

block vars
  - var description = 'Paintings based on Instagram photos.'

block title
  | 2014 Site Archive - Paintstagram - 

block content

  .preview.paintstagram2

  .details.project
    h1 Paintstagram
    p.meta-info
      span.meta acrylic on canvas
      span.meta 6″ x 6″
      span.meta 2012
    p A tiny painting of an Instagram photo. Painted for my friend Dave Woodruff.

    img(src='/assets/images/archive/2014/paintstagram2.jpg')

    .controls.cf
      a.back(href='/archive/2014/work/paintstagram1') Previous
      a.next(href='/archive/2014/work/notconf') Next
