extends ../_layout

block vars
  - var description = 'A commissioned portrait for Adam Low, inspired by Harry Potter.'

block title
  | 2014 Site Archive - Where Dwell the Brave at Heart - 

block content

  .preview.where-dwell

  .details.project
    h1 Where Dwell the Brave at Heart
    p.meta-info
      span.meta acrylic on canvas
      span.meta 16″ x 20″
      span.meta 2013
    p A portrait commission of a new addition to a Gryffindor family. This was created for a friend and former coworker, Adam Low, to give to his wife Angela on their anniversary. I was thrilled to take part and to do something 
      em Harry Potter 
      | themed.

    img(src='/assets/images/archive/2014/where-dwell-the-brave-at-heart.jpg')

    .controls.cf
      a.back(href='/archive/2014/work/whyaz') Previous
      a.next(href='/archive/2014/work/lynnandtonic-v8') Next
