extends ../_layout

block vars
  - var pageDescription = 'Lynn Fisher is an artist, designer, and developer from Chandler, Arizona.'

block title
  | 2009 Site Archive - Desire for Normality - 

block content

  img.portfolio(src='/assets/images/archive/2009/d4n-2.jpg')
  p.title Desire for Normality - client from 2006 to 2008
