extends ../_layout

block vars
  - var pageDescription = 'Lynn Fisher is an artist, designer, and developer from Chandler, Arizona.'

block title
  | 2009 Site Archive - Mary Bates Neubauer - 

block content

  img.portfolio(src='/assets/images/archive/2009/mary-2.jpg')
  p.title Mary Bates Neubauer - client since 2007
