extends ../_layout

block vars
  - var pageDescription = 'Lynn Fisher is an artist, designer, and developer from Chandler, Arizona.'

block title
  | 2009 Site Archive - Parking Meter Project - 

block content

  img.portfolio(src='/assets/images/archive/2009/parking-1.jpg')
  p.title Parking Meter Project - created 2007 - flash and html
