extends ../_layout

block vars
  - var pageDescription = 'Lynn Fisher is an artist, designer, and developer from Chandler, Arizona.'

block title
  | 2009 Site Archive - Jill Sabatino - 

block content

  img.portfolio(src='/assets/images/archive/2009/sabatino.jpg')
  p.title Jill Sabatino - client since 2005
