extends ../_layout

block vars
  - var pageDescription = 'Lynn Fisher is an artist, designer, and developer from Chandler, Arizona.'

block title
  | 2009 Site Archive - Victory Fundraising - 

block content

  img.portfolio(src='/assets/images/archive/2009/victory-2.jpg')
  p.title Victory Fundraising - client since 2009
