extends 2008/_layout

block vars
  - var pageDescription = 'Lynn Erickson is an artist, designer, and developer from Chandler, Arizona.'

block title
  | 2008 Site Archive - 

block content

  #updates
    img(src='/assets/images/archive/2008/news.gif', width='63', height='24', alt='News')
    p.date 21 July 2008
    p Updated the site again. Hopefully will be adding more content soon...

  #about.clearfix
    img#about-lynn(src='/assets/images/archive/2008/about-lynn.jpg', width='290', height='192', alt='Lynn')
    img#about-me(src='/assets/images/archive/2008/about.gif', width='119', height='33', alt='About Me')
    p My name is Lynn Erickson. I was born in Pusan, South Korea and when I was 11 months old I was adopted. I won my very first art contest in pre-school for the piece #[em My Mother and Me]. I was off to a good start.
    p Through middle school and high school, art took a backseat to academics and going to local shows in the Nile Basement. When I was 16 I fell in love with a band called 17FourEyes and I created my very first website, a fansite.
    p I studied fine arts in college and focused mostly on painting and sculpture. On my own time I taught myself html and have since created many low-cost, easily accessible websites for bands and artists in the Phoenix area.
    p In the spring of 2007, I completed and defended my honors thesis titled #[em We Were All Yellow], a painting series about Asian stereotypes in America. Since graduation I have had a mild life-crisis and obtained a job at meltmedia, a website production company out of Tempe.
    p Some other things I enjoy: trivia, interior design, reality television, the color green, puppies, pop punk music, Apple computers, John Steinbeck, and Paris France.
    p Feel free to contact me for fine art commissions, print or website design, or for creative conversation.
    p Email: #[a(href='mailto:lynn@lynnandtonic.com') lynn@lynnandtonic.com] | AIM: a familiar lynn
