extends 2010/_layout

block vars
  - var pageDescription = 'Lynn Fisher is an artist, designer, and developer from Chandler, Arizona.'

block title
  | 2010 Site Archive - 

block content

  .section
    a.top(href='#top') &#710;back to top
    h2: a#painting() Painting/Drawing

    .piece.large.clearfix
      .info
        h3 We Were All Yellow - Series
        h4 2007 / oil on canvas / 4 ft x 4 ft each
        p #[em We Were All Yellow] is a series of 6 paintings created as commentary on Asian stereotypes in America. It depicts 6 Caucasians set in specific, stereotypical Asian situations. The paintings were completed in a Western style rather than Asian, to emphasize the 'whiteness' of the portrayed subjects. 
        p I surveyed 30 Caucasians and asked them to describe the things/stereotypes they thought of when imagining an Asian. The following were the most popular: chopsticks, noodles, lanterns, triangle hats, fortune cookies, abacus, Hello Kitty, bad drivers, good at math, geishas, and they all look the same.

      img.preview(src='/assets/images/archive/2010/preview-we-were-all-yellow.jpg', width='500', height='236')

    .piece.large.clearfix
      .info
        h3 The Smart One (Which One’s the Ho?) - Series
        h4 2004 / acrylic on canvas / 16 in x 20 in each
        p This series was inspired by the sketch from comedian Margaret Cho. She says that within every group of three girlfriends, there's the smart one, the sweet one, and then there's the ho. Can you tell which is which?
        p This series was featured in Harry Wood Gallery at Arizona State University in the Annual Juried Undergraduate Exhibition in 2004-2005.

      img.preview(src='/assets/images/archive/2010/preview-smart-one.jpg', width='500', height='236')
    
    .piece.large.three-pieces.clearfix
      .info
        img(src='/assets/images/archive/2010/preview-color-red.jpg', width='301', height='183')
        h3 The Color Red
        h4 2005 / acrylic on canvas / 12 in x 16 in
        p This piece was inspired by the book #[em The Giver] by Lois Lowry. My favorite scene in the book is when Jonas watches Fiona walk away and sees the color red in her hair and in the flowers nearby. His blindfold begins to slip and he starts to see the world truthfully and in beautiful color.

      .info
        img(src='/assets/images/archive/2010/preview-asian-viking.jpg', width='301', height='183')
        h3 Asian Viking
        h4 2005 / acrylic on canvas / 36 in x 24 in
        p I was adopted from Korea when I was 11 months old to a Chinese mother and a Norwegian father. My name, Lynn Erickson, got me the nickname of the Asian Viking.
        p Featured in Harry Wood Gallery at Arizona State University in the Annual Juried Undergraduate Exhibition in 2005-2006.
      
      .info.last
        img(src='/assets/images/archive/2010/vincent-vs-dali.jpg', width='301', height='183')
        h3 Vincent vs. Dali
        h4 2004 / acrylic/graphite on board / 20 in x 16 in
        p This was my very first project in art school, so I have a ceratin affinity for it. Our assignment was to create one composition using the styles of two different and recognizable artists. I chose Vincent Van Gogh and Salvador Dali for their distinctive techniques and the use of landscapes in their work.
      
    
    .piece.large.three-pieces.clearfix.last
      .info
        img(src='/assets/images/archive/2010/preview-so-good-in-blue.jpg', width='301', height='183')
        h3 You Look So Good in Blue
        h4 2005 / acrylic on canvas / 12 in x 16 in
        p Making an ordinary object extraordinary.
      
      .info
        img(src='/assets/images/archive/2010/preview-trompe.jpg', width='301', height='183')
        h3 Trompe l’oeil
        h4 2004 / graphite on paper / 24 in x 16 in
        p Trompe l’oeil drawing of a few of my favorite things.
      
      .info.last
        img(src='/assets/images/archive/2010/cartoons-playing-poker.jpg', width='301', height='183')
        h3 Cartoons Playing Poker
        h4 2010 / acrylic on canvas / 36 in x 24 in
        p A commission for a friend: all of his favorite cartoon characters set in the famous #[em Dogs Playing Poker].

  .section
    a(href='#top' class='top') &#710;back to top
    h2
      a#mixedmedia() Mixed Media
    .piece.large.clearfix
      .info
        h3 Instababies Technology Inc.
        h4 2006 / mixed media
        p I was adopted when I was young, and my parents often joke that my brother and I were the best purchases they had ever made. The concept of purchasing a child from a store was a derivative of that idea. This piece was designed to look as though it was pulled directly from a store display.
        p At closer look, the customer can purchase pill capsules that contain a boy, girl, or sets of twins. Just add water and watch your family grow. Instababies Technology Inc. offers the easiest and most inexpensive adoption solution to date.

      img.preview(src='/assets/images/archive/2010/preview-instababies.jpg', width='500', height='236')

    .piece.large.clearfix
      .info
        h3 Shipping and Handling
        h4 2006 / mixed media
        p This is another piece inspired by the purchasing aspect of adoption. Ever since I was young, I’ve joked that I was sent from South Korea in a FedEx box. This piece was designed to look like one shelf from a South Korean adoption warehouse. Babies are packed with popcorn, taped up, and shipped out to their new (and hopefully better) homes abroad.
        p This piece was featured at the Icehouse in Phoenix for the group show #[em Off the Wall] in 2006.

      img.preview(src='/assets/images/archive/2010/preview-shipping-and-handling.jpg', width='500', height='236')

    .piece.large.three-pieces.clearfix
      .info
        img(src='/assets/images/archive/2010/preview-allow-6.jpg', width='301', height='183')
        h3 Allow 6 to 8 Weeks
        h4 2006 / mixed media
        p Not long ago, my brother requested to receive information about his birth parents and family history. I thought it was an interesting concept getting an envelope in

      .info
        img(src='/assets/images/archive/2010/preview-breakfast-of-champions.jpg', width='301', height='183')
        h3 Breakfast of Champions
        h4 2006 / mixed media
        p Asians are good at math! I eat a sushi abacus for breakfast!
        p This piece was featured at Wet Paint Art Supply in Tempe for the group show #[em Small/Beautiful] in 2006.

      .info.last
        img(src='/assets/images/archive/2010/preview-subway.jpg', width='301', height='183')
        h3 Subway
        h4 2005 / corrugated cardboard, hot glue / 20 in x 20 in x 15 in
        p This project was to take a 2-dimensional picture and turn it into a 3-dimensional relief sculpture using forced perspective. Still one of my favorite 3-D pieces I’ve done.

    .piece.large.three-pieces.clearfix.last
      .info
        img(src='/assets/images/archive/2010/preview-girls-best-friend.jpg', width='301', height='183')
        h3 A Girl’s Best Friend
        h4 2005 / mixed media
        p Found object piece about birth control. Part 1 of 3...can’t find the pictures of the other 2.
 
      .info
        img(src='/assets/images/archive/2010/preview-takeout.jpg', width='301', height='183')
        h3 Take Out
        h4 2005 / sheet metal, metal wiring
        p Yum, I love Chinese take out!
 
      .info.last
        img(src='/assets/images/archive/2010/preview-stalefish.jpg', width='301', height='183')
        h3 Stalefish
        h4 2004 / paint chips / 16 in x 20 in
        p I cut up stacks of paint chips from Home Depot for this mosaic. It won second place in an art contest through <em>Wakeboarding</em> magazine.

  .section
    a.top(href='#top') &#710; back to top
    h2
      a#webprint() Web/Print
    .piece.large.three-pieces.clearfix
      .info
        img(src='/assets/images/archive/2010/preview-victory.jpg', width='301', height='183')
        h3 Victory Fundraising
        h4 client since 2009
        p The reps at Victory have worked with over 600 athletic groups in the west every year, and have helped those groups raise a combined $2.5 million every year for their programs.
      
      .info
        img(src='/assets/images/archive/2010/preview-astrigh.jpg', width='301', height='183' )
        h3 Astrigh Truck Risk
        h4 client since 2009
        p Astrigh Truck Risk strives to provide risk management services to the trucking and transportation industry; and to offer litigation management services and claims oversight.
      
      .info.last
        img(src='/assets/images/archive/2010/preview-lettershark.jpg', width='301', height='183')
        h3 Lettershark
        h4 site redesign 2008
        p All letter openers open. This one also closes. Introducing LetterShark, the best improvement to the letter opener since the original.
      
    
    .piece.large.three-pieces.clearfix.last
      .info
        img(src='/assets/images/archive/2010/preview-panophobic.jpg', width='301', height='183')
        h3 Panophobic
        h4 2007 / flash
        p This site was a school project and features three 2-d animations depicting irrational fears. Best if viewed with the volume on.
      
      .info
        img(src='/assets/images/archive/2010/preview-senior-exhibition.jpg', width='301', height='183')
        h3 Senior Exhibition 2007
        h4 2007 / print
        p Senior Exhibition Poster for Intermedia, Digital Art, and Studio Art 2007.
      
      .info.last
        img(src='/assets/images/archive/2010/preview-senior-exhibition2.jpg', width='301', height='183')
        h3 Senior Exhibition 2007
        h4 2007 / print
        p Senior Exhibition Poster for Sculpture 2007.

  .section.clearfix
    a.top(href='#top') &#710;back to top
    .contact-section
      h2
        a#contact() Contact Me
      .contact-form
        form.clearfix
          h3 Send me an E-Mail
          h4 please fill all fields
          <br />
          .clearfix
            label Name:
            input.required(type='text', name='username')
          
          .clearfix
            label E-Mail:
            input.required(type='text',name='email')
          
          .clearfix
            label Message:
            textarea(rows='8', name='message')
          
          #submit
            img#send(src='/assets/images/archive/2010/send.gif', width='49', height='16', alt='Send', border='0')

      .about
        p My name is Lynn Fisher and I am an artist and designer out of Chandler, Arizona. In addition to art and design, I also love pizza, humor, reality tv, talk radio, dance dance revolution, and interior decorating.
        p.view-more.contact-link
          a(href='http://www.facebook.com/lynnandtonic') Facebook
          br
          a(href='http://twitter.com/lynnandtonic') Twitter
          br
          a(href='http://www.linkedin.com/in/lynnmfisher') LinkedIn
          br
          a(href='http://lynnandtonicblog.com') Blog

    .friends-section
      h2
        a#friends() Friends #[span (or people I admire)]
      a.friend(href='http://lookonpoint.wordpress.com/', id='swbat') SWBAT Look on Point
      a.friend(href='http://creatiffity.com', id='duening') Tiffany Duening
      a.friend(href='http://www.jessicalynnwoodson.com/drawings.html', id='woodson') Jessica Woodson
      a.friend(href='http://rericmcmaster.com', id='mcmaster') R. Eric McMaster
      a.friend(href='http://rosichelli.com', id='rosichelli') Marco Rosichelli
      a.friend(href='http://www.kjellgrenalkire.com/', id='alkire') Kjellgren Alkire
      a.friend(href='http://jonreadstudio.com/splash.html', id='read') Jonathan Read
      a.friend(href='http://derek-wilkinson.com/', id='wilkinson') Derek Wilkinson
      a.friend(href='http://scotthassell.com/www.scotthassell.com/statement.html', id='hassell') Scott Hassell
      a.friend(href='http://mattkruback.com/', id='kruback') Matt Kruback
      a.friend(href='http://homepage.mac.com/mikewirtz/index.htm', id='wirtz') Mike Wirtz
      a.friend(href='http://kingjackass.menglef.org/', id='adrian') Brent Adrian
      a.friend(href='http://www.smoca.org/', id='smoca') SMOCA
      a.friend(href='http://www.phxart.org/', id='phxart') Phoenix Art Museum
      a.friend(href='http://asuartmuseum.asu.edu/', id='asu') ASU Art Museum
      a.friend(href='http://meltmedia.com', id='melt') meltmedia

  .section.copyright
    p.copyright &#169; Lynn M Fisher 2010

