extends 2011/_layout

block vars
  - var pageDescription = 'Lynn Fisher is an artist, designer, and developer from Chandler, Arizona.'

block scripts
  link(rel='stylesheet', href='/assets/js/archive/2011/fancybox/jquery.fancybox-1.3.4.css')
  script(type='text/javascript', src='/assets/js/archive/2011/jquery-1.5.min.js')
  script(type='text/javascript', src='/assets/js/archive/2011/fancybox/jquery.fancybox-1.3.4.pack.js')
  script(type='text/javascript', src='/assets/js/archive/2011/fancybox/jquery.easing-1.3.pack.js')
  script(type='text/javascript', src='/assets/js/archive/2011/global.js')

block title
  | 2011 Site Archive - 

block content

  #content.clearfix
    ul#portfolio.clearfix
      li.all.two-d.group.japanesegothic
        a(href='#')
          img(src='/assets/images/archive/2011/work/thumb-japanese-gothic.jpg', alt='Japanese American Gothic')
          span #[strong Japanese American Gothic] acrylic, 2010
      li.all.two-d
        a(href='/assets/images/archive/2011/work/cartoons-poker.jpg')
          img(src='/assets/images/archive/2011/work/thumb-cartoons-poker.jpg', alt='Cartoons Playing Poker, commission, acrylic on canvas, 2010')
          span #[strong Cartoons Playing Poker] acrylic, 2010
      li.all.digital.group.characters
        a(href='#')
          img(src='/assets/images/archive/2011/work/thumb-characters.jpg', alt='Character Studies')
          span #[strong Character Studies] illustration series, 2010
      li.all.digital.group.steve
        a(href='#')
          img(src='/assets/images/archive/2011/work/thumb-steve-v.jpg', alt='Steve and V Wedding')
          span #[strong Steve and V’s Wedding] invites and website, 2010
      li.all.digital.group.lynnandtonicv5
        a(href='#')
          img(src='/assets/images/archive/2011/work/thumb-lynnandtonic-v5.jpg', alt='Lynnandtonic.com v5')
          span #[strong Lynnandtonic.com v5] website design, 2010
      li.all.digital.nickthink
        a(href='/assets/images/archive/2011/work/nick-think2.jpg')
          img(src='/assets/images/archive/2011/work/thumb-nick-think.jpg', alt='What Does Nick Think?')
          span #[strong What Does Nick Think?] website design, 2009
      li.all.digital.astrigh
        a(href='/assets/images/archive/2011/work/astrigh1.jpg')
          img(src='/assets/images/archive/2011/work/thumb-astrigh.jpg', alt='Astrigh Truck Risk')
          span #[strong Astrigh Truck Risk] website design, 2008
      li.all.digital.group.lynnandtonicv4
        a(href='#')
          img(src='/assets/images/archive/2011/work/thumb-lynnandtonic-v4.jpg', alt='Lynnandtonic.com v4')
          span #[strong Lynnandtonic.com v4] website design, 2008
      li.all.two-d.group.yellow
        a(href='#')
          img(src='/assets/images/archive/2011/work/thumb-we-were-all-yellow.jpg', alt='We Were All Yellow')
          span #[strong We Were All Yellow] oil series, 2007
      li.all.digital
        a(href='/assets/images/archive/2011/work/senior-intermedia.jpg')
          img(src='/assets/images/archive/2011/work/thumb-senior-intermedia.jpg', alt='Senior Exhibition')
          span #[strong Senior Exhibition].digital.print, 2007
      li.all.digital
        a(href='/assets/images/archive/2011/work/senior-sculpture.jpg')
          img(src='/assets/images/archive/2011/work/thumb-senior-sculpture.jpg', alt='Senior Exhibition')
          span #[strong Senior Exhibition].digital.print, 2007
      li.all.digital
        a.swf(href='/assets/images/archive/2011/work/panophobic.swf')
          img(src='/assets/images/archive/2011/work/thumb-panophobic.jpg', alt='Panophobic')
          span #[strong Panophobic] flash animation, 2007
      li.all.two-d
        a(href='/assets/images/archive/2011/work/asian-viking.jpg')
          img(src='/assets/images/archive/2011/work/thumb-asian-viking.jpg', alt='Asian Viking')
          span #[strong Asian Viking] acrylic, 2006
      li.all.three-d.group.shipping
        a(href='#')
          img(src='/assets/images/archive/2011/work/thumb-shipping.jpg', alt='Shipping and Handling')
          span #[strong Shipping and Handling] installation, 2006
      li.all.three-d.group.instababies
        a(href='#')
          img(src='/assets/images/archive/2011/work/thumb-instababies.jpg', alt='Instababies Technology Inc.')
          span #[strong Instababies Technology Inc.] installation, 2006
      li.all.three-d.group.inventory
        a(href='#')
          img(src='/assets/images/archive/2011/work/thumb-inventory.jpg', alt='Inventory')
          span #[strong Inventory] installation, 2006
      li.all.three-d.group.weeks68
        a(href='#')
          img(src='/assets/images/archive/2011/work/thumb-6-8-weeks.jpg', alt='Allow 6-8 Weeks')
          span #[strong Allow 6-8 Weeks] mixed media, 2006
      li.all.three-d
        a(href='/assets/images/archive/2011/work/breakfast.jpg')
          img(src='/assets/images/archive/2011/work/thumb-breakfast-of-champions.jpg', alt='Breakfast of Champions')
          span #[strong Breakfast of Champions] mixed media, 2006
      li.all.digital
        a(href='/assets/images/archive/2011/work/horse-project.jpg')
          img(src='/assets/images/archive/2011/work/thumb-horse-project.jpg', alt='Horse Project')
          span #[strong Horse Project] website illustration, 2006
      li.all.two-d
        a(href='/assets/images/archive/2011/work/color-red.jpg')
          img(src='/assets/images/archive/2011/work/thumb-color-red.jpg', alt='The Color Red')
          span #[strong The Color Red] acrylic, 2005
      li.all.three-d.group.alterego
        a(href='#')
          img(src='/assets/images/archive/2011/work/thumb-alter-ego.jpg', alt='Alter Ego')
          span #[strong Alter Ego] mixed media, 2005
      li.all.three-d
        a(href='/assets/images/archive/2011/work/subway.jpg')
          img(src='/assets/images/archive/2011/work/thumb-subway.jpg', alt='Subway')
          span #[strong Subway] carboard, 2005
      li.all.three-d
        a(href='/assets/images/archive/2011/work/girlsbestfriend.jpg')
          img(src='/assets/images/archive/2011/work/thumb-girls-best-friend.jpg', alt='Girl’s Best Friend')
          span #[strong Girl’s Best Friend] mixed media, 2005
      li.all.three-d
        a(href='/assets/images/archive/2011/work/takeout.jpg')
          img(src='/assets/images/archive/2011/work/thumb-takeout.jpg', alt='Takeout')
          span #[strong Takeout] steel, 2005
      li.all.two-d
        a(href='/assets/images/archive/2011/work/good-in-blue.jpg')
          img(src='/assets/images/archive/2011/work/thumb-good-in-blue.jpg', alt='So Good in Blue ')
          span #[strong You Look So Good In Blue] acrylic, 2005
      li.all.two-d.group.smartone
        a(href='#')
          img(src='/assets/images/archive/2011/work/thumb-smart-one.jpg', alt='Smart One, series, acrylic on canvas, 2004')
          span #[strong The Smart One<br />(Which One’s the Ho?)] acrylic series, 2004
      li.all.two-d
        a(href='/assets/images/archive/2011/work/vincent-vs-dali.jpg')
          img(src='/assets/images/archive/2011/work/thumb-vincent-dali.jpg', alt='Vincent vs. Dali')
          span #[strong Vincent vs. Dali] acrylic/graphite, 2004
      li.all.two-d
        a(href='/assets/images/archive/2011/work/trompe.jpg')
          img(src='/assets/images/archive/2011/work/thumb-trompe.jpg', alt='Trompe L’Oeil')
          span #[strong Trompe L’Oeil] graphite, 2004
      li.all.two-d
        a(href='/assets/images/archive/2011/work/stalefish.jpg')
          img(src='/assets/images/archive/2011/work/thumb-stalefish.jpg', alt='Stalefish')
          span #[strong Stalefish] paint chips, 2004

      li#copyright.all.two-d.three-d.digital all content &#169; lynn m fisher 2011

    #contact.clearfix
      #biography
        h2 Oh, herro.
        p My name is Lynn Fisher and I am an artist and designer out of Chandler, Arizona.
        p
          img(src="/assets/images/archive/2011/lynn-bio.jpg")
        p By day, I design for #[a(href="http://meltmedia.com") meltmedia], an interactive web agency out of Tempe. By night, I paint, create, and blog things I find intriguing and beautiful.
        p I try to keep my work fun, reflecting my inner nerd and bringing humor to otherwise serious topics. I also love watching reruns of <em>Top Chef</em>, quoting <em>the Office</em>, and drinking obscene amounts of diet soda.
        p I am available for fine art or design commissions and marathon discussions of Battlestar Galactica.

      #contact-stuffs
        h3 #[a#contact-info() On the interwebz]
        ul#social
          li#twitter
            a(href='http://twitter.com/lynnandtonic') @lynnandtonic on Twitter
          li#facebook
            a(href='http://facebook.com/lynnandtonic') lynn fisher on Facebook
          li#linkedin
            a(href='http://www.linkedin.com/in/lynnmfisher') lynnfisher on LinkedIn
          li#wordpress
            a(href='lynnandtonicblog.com') lynnandtonicblog.com

        form
          fieldset.clearfix
            input.required(type='text', name='username', value='Name')
            input.required(type='text', name='email', value='Email')
            textarea(rows='8', name='message', value='Message') Message
            input#send.disabled(value='Send Plz')
