extends 2012/_layout

block vars
  - var pageDescription = 'Lynn Fisher is an artist, designer, and developer from Chandler, Arizona.'

block title
  | 2012 Site Archive - 

block content

    section#about
      #lynn
        img#lynn1(src='/assets/images/archive/2012/lynn1.png')
        img#lynn2(src='/assets/images/archive/2012/lynn2.png')
        img#lynn3(src='/assets/images/archive/2012/lynn3.png')
      
      section#bio
        #intro
          h2 Introduction
          p My name is Lynn Fisher and I am an artist and designer out of Chandler, AZ. For the last decade I’ve been a student of the interactive world, designing sites and applications for the web. I’ve also been known to dabble with paint once in a while.
          p I spend my days (and sometimes evenings) with #[a(href='http://meltmedia.com', title='meltmedia') meltmedia], an agency in Tempe. I am the Interactive Designer for their Research &#38; Development team, lovingly named the Bit Masons. Feel free to email me at #[a(href='mailto:lynn@lynnandtonic.com', title='lynn@lynnandtonic.com') lynn@lynnandtonic.com].
          h2 3 Truths and a Lie
          ul
            li Tell me your birthday once and I'll never forget it.
            li I love Nicolas Cage movies.
            li I prefer the British version of #[em The Office].
            li My two dogs are named after #[em Battlestar Galactica] characters.
        #specialties
          <h2>Specialties</h2>
          <ul>
            li HTML5
            li CSS3
            li Photoshop
            li Illustrator
            li Timeline animation
            li ActionScript 3
            li Responsive design
            li In-browser design
            li Hand-coded websites
            li iOS application design
            li Web application design
            li the Movie Game
            li #[em Top Chef] trivia

        #preferences
          h2 Preferences
          #thisorthat

            #apple.item Apple
            .meter
              span.marker &#8730;
              span &#9674;
              span &#9674;
              span &#9674;
              span &#9674;
              span &#9674;
            #windows.item Windows

            #trek.item Star Trek
            .meter
              span &#9674;
              span &#9674;
              span &#9674;
              span &#9674;
              span &#9674;
              span.marker &#8730;
            #starwars.item Star Wars

            #mario.item Mario
            .meter
              span &#9674;
              span.marker &#8730;
              span &#9674;
              span &#9674;
              span &#9674;
              span &#9674;
            #zelda.item Zelda

            #vans.item Vans
            .meter
              span &#9674;
              span &#9674;
              span.marker &#8730;
              span &#9674;
              span &#9674;
              span &#9674;

            #converse.item Converse

            #asu.item ASU
            .meter
              span.marker &#8730;
              span &#9674;
              span &#9674;
              span &#9674;
              span &#9674;
              span &#9674;
            #arizona.item U of A

            #avengers.item the Avengers
            .meter
              span &#9674;
              span &#9674;
              span &#9674;
              span &#9674;
              span.marker &#8730;
              span &#9674;
            #xmen.item X-Men
