extends 2014/_layout

block vars
  - var pageDescription = 'Lynn Fisher is an artist, designer, and developer from Chandler, Arizona.'

block title
  | 2014 Site Archive - 

block content

  .preview.home
    .lynn

  .details
    h1 My name is Lynn Fisher.
    p I love making things for the web and for walls. I work with the fine folks at #[a(href='https://andyet.com') &amp;yet], where I design and develop interfaces and occasionally draw pictures.
    p I’m passionate about designing for the web, making decisions in the browser, and improving the way designers and developers work together.
    p I’ve also been known to dabble with paint once in a while.
    p I live in Chandler, #[a(href='https://why.az') Arizona] with my husband Clay and our two pups, #[a(href='http://packdog.com/boomer-5') Boomer] and #[a(href='http://packdog.com/helo-1') Helo].

    .social
      a.social-link.twitter(href='https://twitter.com/lynnandtonic', title='@lynnandtonic on Twitter') Twitter
      a.social-link.instagram(href='http://instagram.com/lynnandtonic', title='@lynnandtonic on Instagram') Instagram
      a.social-link.github(href='https://github.com/lynnandtonic', title='@lynnandtonic on GitHub') GitHub
      a.social-link.dribbble(href='https://dribbble.com/lynnandtonic', title='@lynnandtonic on Dribbble') Dribbble
      a.social-link.pinterest(href='http://www.pinterest.com/lynnandtonic/', title='@lynnandtonic on Pinterest') Pinterest
      a.social-link.wordpress(href='http://lynnandtonicblog.com/', title='Lynnandtonicblog') Lynnandtonicblog

    p Feel free to send me an #[a(href='mailto:lynn@lynnandtonic.com') electronic letter].
