extends 2016/_layout

block vars
  - var pageDescription = 'Lynn Fisher is an artist, designer, and developer from Chandler, Arizona.'
  - var bodyClass = 'home layout-home'

block title
  | 2016 Site Archive - 

block content

  .card.card-project
    a.project-title(href='https://a.singlediv.com')
      span.em.em-sparkles
      span.title A Single Div
      span.url a.singlediv.com
    p.description A CSS drawing project to see what’s possible with a single div.
    a.learn-more(href='/archive/2016/work/a-single-div')
      span.em.em-zap
      span Learn more

  .card.card-project
    a.project-title(href='https://airportcod.es')
      span.em.em-airplane
      span.title Airport Codes
      span.url airportcod.es
    p.description Making sense of those three-letter airport codes.
    a.learn-more(href='/archive/2016/work/airport-codes')
      span.em.em-zap
      span Learn more

  .card.card-project
    a.project-title(href='https://why.az')
      span.em.em-cactus
      span.title WhyAZ
      span.url why.az
    p.description Reasons it’s awesome to live and work in Arizona.
    a.learn-more(href='/archive/2016/work/whyaz')
      span.em.em-zap
      span Learn more

  .card.card-project
    a.project-title(href='https://topchefstats.com')
      span.em.em-hocho
      span.title Top Chef Stats
      span.url topchefstats.com
    p.description Compiled stats and facts about the reality cooking show #[em Top Chef].
    a.learn-more(href='/archive/2016/work/top-chef-stats')
      span.em.em-zap
      span Learn more

  .card.card-project
    a.project-title(href='https://hollywoodagegap.com')
      span.em.em-clapper
      span.title Hollywood Age Gap
      span.url hollywoodagegap.com
    p.description Examining the age difference in years between movie love interests.
    a.learn-more(href='/archive/2016/work/hollywood-age-gap')
      span.em.em-zap
      span Learn more

  .card.card-project
    a.project-title(href='https://www.pinterest.com/lynnandtonic/sit-or-sleep-on-your-food/')
      span.em.em-pushpin
      span.title Sit or Sleep on Your Food
      span.url pinterest.com
    p.description The single most important Pinterest board of our time.

  .card.card-project
    a.project-title(href='https://twitter.com/shitlynndreams')
      span.em.em-thought_balloon
      span.title Shit Lynn Dreams
      span.url twitter.com/shitlynndreams
    p.description Dreamin’ some crazy shit. Follow along.

  .card.card-project
    a.project-title(href='/archive/2016/work/character-studies')
      span.em.em-dancer
      span.title Character Studies
      span.url /character-studies
    p.description An illustration series portraying beloved film characters in everyday situations.
    a.learn-more(href='/archive/2016/work/character-studies')
      span.em.em-zap
      span Learn more

  .card.card-project
    a.project-title(href='/archive/2016/work/illustration')
      span.em.em-pencil2
      span.title Illustration Portfolio
      span.url /illustration
    p.description A selection of recent (and not so recent) illustration work.
    a.learn-more(href='/archive/2016/work/illustration')
      span.em.em-zap
      span Learn more

  .card.card-project
    a.project-title(href='/archive/2016/work/painting')
      span.em.em-art
      span.title Painting Portfolio
      span.url /painting
    p.description A selection of recent (and not so recent) painting work.
    a.learn-more(href='/archive/2016/work/painting')
      span.em.em-zap
      span Learn more
