extends 2017/_layout

block vars
  - var pageTitle = 'Home'
  - var pageDescription = 'Lynn Fisher is an artist, designer, and developer from Phoenix, Arizona.'
  - var bodyClass = 'home'

block content

  h1
    span.name Lynn Fisher 
    span.desc artist and designer from Phoenix, Arizona

  p.intro
    span I make things for the web and for walls. 
    span I specialize in light-hearted projects that make people say, “I don’t get it.” 
    span Yes, I’ve heard of SVG.

  picture.lynn
    source(srcset='/assets/images/archive/2017/lynn-small.png' media='(max-width: 1400px)')
    source(srcset='/assets/images/archive/2017/lynn.png')
    img(src='/assets/images/archive/2017/lynn.png', alt='a photo of the artist')
