extends 2018/_layout

block vars
  - var pageTitle = 'Home'
  - var pageDescription = 'Lynn Fisher is an artist, designer, and developer from Phoenix, Arizona.'
  - var bodyClass = 'home'

block content

  .lynns-burgers
    .lynn
      .other.legs
      .other.shoes
      .clothes.pants
      .other.arm.arm-left
      .other.arm.arm-right
      .other.hair
      .other.shirt
      .clothes.hoodie
      .other.face
      .other.mouth
