extends 2021/_layout

block vars
  - var pageTitle = 'Home'
  - var pageDescription = 'Lynn Fisher is a web designer, CSS developer, and artist from Phoenix, Arizona.'
  - var bodyClass = 'home'

block typetura
  script(src='/assets/js/archive/2021/typetura.min.js')

block content

  main
    include ../../_assets/images/archive/2021/scene0-stars.svg
    include ../../_assets/images/archive/2021/scene0.svg
    .airplanes
      include ../../_assets/images/archive/2021/scene0-airplane.svg
      include ../../_assets/images/archive/2021/scene0-airplane2.svg
    .reflection
    include ../../_assets/images/archive/2021/scene1.svg
    .window
    include ../../_assets/images/archive/2021/scene2.svg
    .haze
    include ../../_assets/images/archive/2021/elevator-left.svg
    include ../../_assets/images/archive/2021/elevator-right.svg
    include ../../_assets/images/archive/2021/scene3.svg
    include ../../_assets/images/archive/2021/scene4-standby.svg
    include ../../_assets/images/archive/2021/scene4.svg
    .fade
    include ../../_assets/images/archive/2021/scene5-stuff1.svg
    include ../../_assets/images/archive/2021/scene5-stuff2.svg
    include ../../_assets/images/archive/2021/scene5-stuff3.svg
    include ../../_assets/images/archive/2021/scene5.svg
    include ../../_assets/images/archive/2021/scene5-page1.svg
    include ../../_assets/images/archive/2021/scene5-page2.svg
    include ../../_assets/images/archive/2021/scene5-page3.svg
    .screenreader
      p This page has a unique visual experience. As you resize the browser window, the artwork animates so it feels like you are moving forward or backward through space.
      p From widest to narrowest sizes, this is the experience:
        ol
          li You zoom in on a workspace. Posters are taped to the wall and a monitor sits on a desk. You zoom into the browser that’s open on the monitor.
          li The workspace disappears, and you zoom in past the interface elements and move through dark space. A pop tart, Richard Nixon’s head in a jar, and a Jeremy Bearimy (from The Good Place) poster fly by you.
          li A vintage television moves closer, spinning in space. Its screen changes from standby to a black and white scene of an elevator lobby.
          li As you get closer, the screen turns to color. You zoom inside the television and are now in the elevator lobby.
          li You zoom closer to the elevator and the doors slide open. You travel through them and are now in a minimalist desertscape. A single door with a window stands in front of you.
          li You travel toward the door and the window turns from opaque to transparent and you can see a living room inside. You travel through the window into the room.
          li You move toward a painting above the fireplace. As you get closer, you travel into the painting and are now in outer space.
          li You continue to move forward along a floating rainbow bridge toward a pedestal that holds a slice of pizza within a glass cloche. Paper airplanes fly forward and backward around you.
