extends _layout

block vars
  - var pageDescription = 'Lynn Fisher is an artist, designer, and developer from Chandler, Arizona.'

block title
  | 2009 Site Archive - About - 

block content

  img.portfolio(src='/assets/images/archive/2009/about.jpg', id='about')
  #about
    h1 About Me
    p My name is Lynn Fisher (formerly Lynn Erickson). I was born in Pusan, South Korea and when I was 11 months old I was adopted. I won my very first art contest in pre-school for the piece #[em My Mother and Me]. I was off to a good start.
    p Through middle school and high school, art took a backseat to academics and going to local shows in the Nile Basement. When I was 16 I fell in love with a band called 17FourEyes and I created my very first website, a fansite.
    p I studied fine art in college and focused mostly on painting and sculpture. On my own time I taught myself html and have since created many low-cost, easily accessible websites for bands and artists in the Phoenix area.
    p In the spring of 2007, I completed and defended my honors thesis titled #[em We Were All Yellow], a painting series about Asian stereotypes in America. Since graduation I have had a small life-crisis and obtained a job at meltmedia, a website production company out of Tempe.
    p Feel free to contact me for fine art commissions, print or website design, or for creative conversation.
    a(href='mailto:lynn@lynnandtonic.com') #[span 01] Email me
