extends _layout

block vars
  - var pageDescription = 'Lynn Fisher is an artist, designer, and developer from Chandler, Arizona.'

block title
  | 2009 Site Archive - Links - 

block content

  ul#links
    li.links
      a(href='http://phxart.org', class='phxart') Phoenix Art Museum
    li.links
      a(href='http://asuartmuseum.asu.edu', class='asuart') ASU Art Museum
    li.links
      a(href='http://rericmcmaster.com', class='mcmaster') R. Eric McMaster
    li.links
      a(href='http://derek-wilkinson.com', class='wilkinson') Derek Wilkinson
    li.links
      a(href='http://scotthassell.com/www.scotthassell.com/statement.html', class='hassell') Scott Hassell
    li.links
      a(href='http://indierockphoto.com', class='dennisho') Dennis Ho Photography
    li.links
      a(href='http://dwongphotography.com', class='derekwong') Derek Wong Photography
    li.links
      a(href='http://anthonygoicolea.com', class='goicolea') Anthony Goicolea
    li.links
      a(href='http://unclutterer.com', class='unclutterer') Unclutterer
    li.links
      a(href='http://postsecret.blogspot.com', class='postsecret') Post Secret
    li.links
      a(href='http://www.meltmedia.com', class='melt') Meltmedia
    li.links
      a(href='http://thesartorialist.blogspot.com', class='sartorialist') The Sartorialist
    li.links
      a(href='http://bentobjects.blogspot.com', class='bent') Bent Objects
