extends _layout

block vars
  - var pageDescription = 'Lynn Fisher is an artist, designer, and developer from Chandler, Arizona.'

block title
  | 2009 Site Archive - Recommendations - 

block content

  #recommend
    a(href='', id='amelie')
      img(src='/assets/images/archive/2009/rec-amelie.jpg')
      span(id='wide-250')
        h2 Am&#233;lie #[author - Jean-Pierre Jeunet]
        p A blissful story of a Parisian girl who revels in life’s simple pleasures and devotes her life to bringing happiness to others. I love the whimsical Paris backdrop and the amazing music by Yann Tiersen.
    a(href='', id='cannery')
      img(src='/assets/images/archive/2009/rec-cannery.jpg')
      span(id='wide-250')
        h2 Cannery Row #[author - John Steinbeck]
        p A collection of linked vignettes describe the lives of the locals and the collective life of Cannery Row. Steinbeck at his best.
    a(href='', id='curious')
      img(src='/assets/images/archive/2009/rec-curious.jpg')
      span(id='wide-250')
        h2 The Curious Incident of the Dog in the Night-time #[author - Mark Haddon]
        p A murder mystery and developmental journey of an unlikely protagonist: autistic teenager Christopher Boone.
    a(href='', id='ava')
      img(src='/assets/images/archive/2009/rec-ava.jpg')
      span(id='wide-250', class='bottom')
        h2 I, Empire #[author - Angels and Airwaves]
        p I was crushed when Blink-182 parted ways, but it was really a blessing in disguise because Tom Delonge could create Angels and Airwaves and renew the world’s faith in God and love. Best songs: Sirens, Secret Crowds
    a(href='', id='arrested')
      img(src='/assets/images/archive/2009/rec-arrested.jpg')
      span(id='wide-250')
        h2 Arrested Developmen
        p One of the funniest shows I’ve ever seen about the most self-absorbed and co-dependent family ever. Unfortunately it was cancelled, but now you can enjoy it whenever you want on DVD!
    a(href='', id='dog-whisperer')
      img(src='/assets/images/archive/2009/rec-dog-whisperer.jpg')
      span(id='wide-250')
        h2 Dog Whisperer
        p Cesar Millan is the Dog Whisperer and can put even the most agressive dog into a calm, submissive state!
    a(href='', id='tenenbaums')
      img(src='/assets/images/archive/2009/rec-tenenbaums.jpg')
      span(id='wide-250')
        h2 The Royal Tenenbaums #[author - Wes Anderson]
        p Follows the eccentric and disfunctional lives of the Tenenbaum family as their father returns, pretending to be dying of cancer. Wonderful performances by entire cast. My favorite Wes Anderson film.
    a(href='', id='gatsby')
      img(src='/assets/images/archive/2009/rec-gatsby.jpg')
      span(id='wide-250')
        h2 The Great Gatsby #[author - F. Scott Fitzgerald]
        p A story of abundance and destruction on Long Island in the Jazz Age. Particularly wonderful is the color symbolism.
    a(href='', id='invisible-monsters')
      img(src='/assets/images/archive/2009/rec-invisible-monsters.jpg')
      span(id='wide-250')
        h2 Invisible Monsters #[author - Chuck Palahniuk]
        p A disturbing tale of self destruction, drag queens, drugs, and hidden identities. 
    a(href='', id='readymade')
      img(src='/assets/images/archive/2009/rec-readymade.jpg')
      span(id='wide-250', class='last')
        h2 ReadyMade Magazin
        p A DIY magazine with unique and inexpensive ways to make improvements to your home and life. 
    a(href='', id='fow')
      img(src='/assets/images/archive/2009/rec-fow.jpg')
      span(id='wide-250')
        h2 Fountains of Wayne #[author - Fountains of Wayne]
        p Years before “Stacey’s Mom”, Fountains of Wayne was making catchy pop music to sing to. Best Songs: Survival Car, Leave the Biker
    a(href='', id='project-runway')
      img(src='/assets/images/archive/2009/rec-project-runway.jpg')
      span(id='wide-250')
        h2 Project Runway
        p A guilty pleasure! Watch fashion designers compete in challenges to show at Olympus Fashion Week! So fun.
    a(href='', id='naked')
      img(src='/assets/images/archive/2009/rec-naked.jpg')
      span(id='wide-250')
        h2 Naked #[author - David Sedaris]
        p A collection of humorous essays detailing Sedaris’ life. Irreverent, witty, and darkly funny.
    a(href='', id='nfg')
      img(src='/assets/images/archive/2009/rec-nfg.jpg')
      span(id='wide-250')
        h2 Sticks and Stones #[author - New Found Glory]
        p It’s hard to pick a favorite NFG album, but I think Sticks and Stones embodies everything I love about them. It also reminds me of one of the best summers I’ve had! Best songs: Understatement, It’s Been a Summer
