/*-----------------------------

Details Area

-----------------------------*/

.details
  width: 45%
  height: 100vh
  padding: 40px
  background: #f7f7f7
  float: left
  overflow-y: scroll
  position: relative
  z-index: 2

  @media (max-width: 960px)

    float: none
    width: 100%
    height: auto
    overflow-y: auto

  @media (max-width: 450px)

    padding: 30px 20px