/*--------------------------------------------------------------------
* $HEADER
--------------------------------------------------------------------*/

header
  padding-top: 2em
  padding-bottom: 2em
  border-bottom: $ui-border

  h1
    margin: 0

