/*--------------------------------------------------------------------
* $ICONS
--------------------------------------------------------------------*/

a.social,
a.social:focus
  background-image: url('/assets/images/archive/2021/social-icons.svg')

a.social
  width: $social-w
  height: $social-w
  position: relative
  background-repeat: no-repeat
  background-size: auto $social-w
  text-indent: -9999em

  &:hover
    background-color: transparent

  &:after
    content: ''
    width: 28px
    height: @width
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%,-50%)
    border: 1px solid $brown
    border-radius: 50%
    opacity: 0
    transition: transform 150ms ease-in-out
    z-index: -1

  &:hover:after,
  &:focus:after
    opacity: 1
    transform: translate(-50%,-50%) scale(1.2)

  &:focus:focus-visible
    outline: none
    background-color: transparent
    &:after
      box-shadow: 0 0 0 3px $pink

  &.dark:after
    border-color: var(--text-color, $grey-drk)

  &.twitter
    background-position: 0 0
  &.instagram
    background-position: -($social-w) 0
    &:after
      border-radius: 3px
  &.dribbble
    background-position: -($social-w*2) 0
  &.github
    background-position: -($social-w*3) 0
    &.dark
      background-position: var(--github-icon-position, -($social-w*5)) 0
  &.codepen
    background-position: -($social-w*4) 0
  &.mastodon
    background-position: -($social-w*7) 0
