@font-face
  font-family: 'Source Serif VF'
  font-weight: 200 900
  font-style: normal
  font-stretch: normal
  font-display: swap
  src: url('/assets/fonts/archive/2021/SourceSerif4Variable-Roman.ttf.woff2') format('woff2'),
       url('/assets/fonts/archive/2021/SourceSerif4Variable-Roman.ttf.woff') format('woff'),
       url('/assets/fonts/archive/2021/SourceSerif4Variable-Roman.ttf') format('truetype')

@font-face
  font-family: 'Source Sans 3 VF'
  font-weight: 200 900
  font-style: normal
  font-stretch: normal
  font-display: swap
  src: url('/assets/fonts/archive/2021/SourceSans3VF-Roman.ttf.woff2') format('woff2'),
       url('/assets/fonts/archive/2021/SourceSans3VF-Roman.ttf.woff') format('woff'),
       url('/assets/fonts/archive/2021/SourceSans3VF-Roman.ttf') format('truetype')

@font-face
  font-family: 'Source Sans 3 VF'
  font-weight: 200 900
  font-style: italic
  font-stretch: normal
  font-display: swap
  src: url('/assets/fonts/archive/2021/SourceSans3VF-Italic.ttf.woff2') format('woff2'),
       url('/assets/fonts/archive/2021/SourceSans3VF-Italic.ttf.woff') format('woff'),
       url('/assets/fonts/archive/2021/SourceSans3VF-Italic.ttf') format('truetype')
