/*--------------------------------------------------------------------
*
* $AVATARS
*
--------------------------------------------------------------------*/

.past-talks,
.upcoming-talk
  
  .avatar
    width: 40px
    height: 40px

.avatar-outlined
  border: 2px solid $gray-lighter
  
  &:hover
    animation-name: pulse
    border: 2px solid $blue