/*--------------------------------------------------------------------
* $BASE
--------------------------------------------------------------------*/

*, *:before, *:after
  box-sizing: border-box

body
  height: 100%
  position: relative
  font-size: 16px

hr
  margin: 25px 0
  height: 0
  border: none
  border-top: 1px solid $blue-light
