/*--------------------------------------------------------------------
* $BASE
--------------------------------------------------------------------*/

*, *:before, *:after
  box-sizing: border-box

::selection
  background: cyan
  color: black

hr
  margin: 10px 0 30px
  height: 2px
  border-top: 0
  background: $red

img
  max-width: 100%
