blockquote
  margin-bottom: 30px
  padding-left: 25px
  position: relative
  font-family: $font-family-georgia
  font-style: italic
  font-size: 24px

  &:before
    content: '“'
    position: absolute
    left: 0
    top: -8px
    font-size: 160%
    color: $grey-med

  cite
    margin-top: 10px
    display: block
    text-align: right
    font-family: $font-family-proxima
    font-size: 80%
    font-style: normal
    color: $grey-med

    &:before
      content:'—'

  &.small
    font-size: 18px
    padding-left: 15px

  &:before
    font-size: 140%
    top: -6px
