/*--------------------------------------------------------------------
*
* $BUTTONS
*
--------------------------------------------------------------------*/

.button-outlined-base
  border: 2px solid $blue
  background-color: transparent
  color: $blue
  
  &:hover
    background-color: $blue
    animation-name: pulse

p
  .button + .button
    margin: 10px

input.button-large
  line-height: 1.4