// Panda Syntax Light and Dark

pre code.hljs
  display: block
  overflow-x: auto
  padding: 1em
  background: var(--pre-bg)

.hljs-link
  text-decoration: underline

.hljs-comment,
.hljs-quote,
.hljs-emphasis
  font-style: italic

.hljs-strong
  font-weight: 700

.hljs
  color: light-dark(black, white)

.hljs-comment,
.hljs-quote,
.hljs-params
  color: light-dark(#676b79, #bbb)

.hljs-attr,
.hljs-punctuation
  color: light-dark(#2a2c2d, #e6e6e6)

.hljs-char.escape_,
.hljs-meta,
.hljs-name,
.hljs-operator,
.hljs-selector-tag
  color: light-dark(#c56200, #b084eb)

.hljs-deletion,
.hljs-keyword
  color: light-dark(#d92792, #ff75b5)

.hljs-regexp,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-variable.language_
  color: light-dark(#cc5e91, #ff9ac1)

.hljs-code,
.hljs-formula,
.hljs-property,
.hljs-section,
.hljs-subst,
.hljs-title.function_
  color: light-dark(#3787c7, #45a9f9)

.hljs-addition,
.hljs-bullet,
.hljs-meta .hljs-string,
.hljs-selector-class,
.hljs-string,
.hljs-symbol,
.hljs-title.class_,
.hljs-title.class_.inherited__
  color: light-dark(#0d7d6c, #19f9d8)

.hljs-attribute,
.hljs-built_in,
.hljs-doctag,
.hljs-link,
.hljs-literal,
.hljs-meta .hljs-keyword,
.hljs-number,
.hljs-selector-id,
.hljs-tag,
.hljs-template-tag,
.hljs-template-variable,
.hljs-title,
.hljs-type,
.hljs-variable
  color: light-dark(#7641bb, #ffb86c)
