/*--------------------------------------------------------------------
* $CONTENT
--------------------------------------------------------------------*/

hr
  height: 1px
  margin: 2rem 0
  background-color: var(--light-color)
  border: none

.content

  * + *
    margin-top: 1lh

  h2, h3
    margin-top: 1.5lh

  ul:not(.unstyled)
    padding-left: 1.3em
    list-style-type: disc

  ol
    padding-left: 1.3em
    list-style-type: decimal

  ul, ol
    li + li
      margin-top: .5em

  video,
  figure
    max-width: 100%

  video
    margin-top: 1.4em
    & + p
      margin-top: 1.4em

  figure > a
    linked-img()

  source + img
    margin-top: 0

  img:not(.no-border)
    border: $ui-border-thin

  img[src$='.png']
    border: none

  p + small
    margin-top: 1.6em
    display: block

  > small
    display: block
    line-height: 1.3

  > p:first-of-type::first-letter
    font-size: var(--font-xl)
    line-height: 1

  hr
    margin: calc(var(--content-padding) * .75) 0

  blockquote:not(.tweet-text)
    padding: 1em 0
    padding-left: .7em
    position: relative
    border-top: $ui-border-thick
    border-bottom: $ui-border-thick
    border-color: var(--light-color)

    &::before
      content: '“'
      position: absolute
      left: 0
      transform: translateX(50%)

    cite
      margin-top: .5em
      display: block
      text-align: right
      font-size: var(--font-sm)

      &::before
        content:'—'
    
    & + blockquote
      border-top: none
      margin-top: 0
    
    & + hr
      opacity: 0

  .footnote
    margin-top: .4em
    display: block
    text-align: center

    code
      font-size: .9em

  .callout
    border: 1px dashed var(--light-color)
    padding: 1em
    font-size: var(--font-sm)
