/*--------------------------------------------------------------------
* $CONTENT
--------------------------------------------------------------------*/

main
  @media screen and (max-width: $bp-sm)
    padding-top: 30px
    padding-bottom: 30px
  @media screen and (min-width: $bp-sm + 1)
    padding-top: 60px
    padding-bottom: 60px

.container
  width: 100%
  max-width: 1260px
  margin-left: auto
  margin-right: auto
  @media screen and (max-width: $bp-xs)
    padding-left: 20px
    padding-right: 20px
  @media screen and (min-width: $bp-xs + 1)
    padding-left: 30px
    padding-right: 30px

.intro
  max-width: 450px
  margin-bottom: 3em
