/*--------------------------------------------------------------------
* $HEADER
--------------------------------------------------------------------*/

.header-main
  border: $ui-border
  border-top-left-radius: $ui-radius
  border-top-right-radius: $ui-radius

  &:not(.home)
    h1
      padding: clamp(4rem, 10vw, 6rem) 20vw
      container: page / inline-size
      display: grid
      gap: clamp(.5rem, 1.5vw, 1rem)

    .page,
    .desc
      display: flex

    .page-piece
      height: 17vw
      max-height: 140px

    .desc-piece
      height: 5vw
      max-height: 40px

    .stretch
      margin-inline: -.01rem
      flex: 1

  &.thoughts
    h1
      padding-inline: 14vw
    .page-piece
      height: 14vw
    .desc-piece
      height: 3.5vw

  &.archive
    h1
      padding-inline: 18vw
    .page-piece
      height: 14vw
    .desc-piece
      height: 3.5vw

  @container page (min-width: 500px)
    &:not(.thoughts)
      .page
        .stretch
          margin-inline: -2px

  @container page (min-width: 690px)
    &.thoughts
      .page
        .stretch
            margin-inline: -2px

  @container page (min-width: 2000px)
    .page
      .stretch
        margin-inline: -4px

  @container page (min-width: 500px)
    &.work
      .desc
        .stretch
          margin-inline: -2px

  @container page (min-width: 530px)
    &.about
      .desc
        .stretch
          margin-inline: -2px

  @container page (min-width: 685px)
    &.archive
      .desc
        .stretch
          margin-inline: -2px

  @container page (min-width: 850px)
    &.thoughts
      .desc
        .stretch
          margin-inline: -2px

