/*--------------------------------------------------------------------
*
* $HELPERS
*
--------------------------------------------------------------------*/

.center
  text-align: center
  
.left
  text-align: left
  
.right
  text-align: right
  
.content-narrower
  max-width: 550px
  margin: 0 auto $space
  
.mb0
  margin-bottom: 0

.mb2
  margin-bottom: $space*2

.mb3
  margin-bottom: $space*3

.mt2
  margin-top: $space*2

.m0
  margin: 0
  
.ml0
  margin-left: 0
  
.mr0
  margin-right: 0
  
.inline
  display: inline
  
.no-border-bottom
  border-bottom: none