/*--------------------------------------------------------------------
* $HELPERS
--------------------------------------------------------------------*/

.center
  text-align: center
  
.left
  text-align: left
  
.right
  text-align: right

.uppercase
  text-transform: uppercase

.hidden
  display: none