/*--------------------------------------------------------------------
*
* $ICONS
*
--------------------------------------------------------------------*/

.icon
  padding-left: $ui-padding-extra-spaced
  background-image: url('/images/icon-sprite.svg')
  background-repeat: no-repeat

  &.icon-email
    background-position: 0 1px

  &.icon-twitter
    background-position: 0 -23px

  &.icon-location
    background-position: 0 -51px

.icon-service
  background: $blue-lighter
  margin: 10px 5px
  padding: 8px 10px
  padding-left: 45px
  position: relative

  &:last-child
    margin-bottom: 0

  &:before
    content: ''
    width: 40px
    height: 40px
    position: absolute
    left: 0
    top: 0
    background-image: url('/images/icon-sprite-services.svg')
    background-repeat: no-repeat

  &.icon-chat:before
    background-position: 0 0

  &.icon-help:before
    background-position: 0 -40px

  &.icon-video:before
    background-position: 0 -80px

  &.icon-lock:before
    background-position: 0 -120px

  &.icon-code:before
    background-position: 0 -160px

  &.icon-console:before
    background-position: 0 -200px

  &.icon-watch:before
    background-position: 0 -240px

  &.icon-broadcast:before
    background-position: 0 -280px

  &.icon-wrench:before
    background-position: 0 -320px

  &.icon-gear:before
    background-position: 0 -360px

  &.icon-web:before
    background-position: 0 -400px

  &.icon-map:before
    background-position: 0 -440px

  &.icon-compass:before
    background-position: 0 -480px

  &.icon-books:before
    background-position: 0 -520px

  &.icon-ui:before
    background-position: 0 -560px

  &.icon-phone:before
    background-position: 0 -600px

  &.icon-folders:before
    background-position: 0 -640px