@media all and (-ms-high-contrast: none), (-ms-high-contrast: active)

  body
    font-family: Arial
    &:before
      width: 100%
      padding: 5px
      display: block
      content: 'This site is better in Firefox, Edge, or Chrome!'
      background-color: $yellow
      font-size: 80%
      text-align: center

  .main-nav
    width: 100%
    padding: 10px 30px
    display: block
    background-color: white
    .nav-home
      display: inline-block
    a
      margin-left: 0
      margin-right: 1em
      background-image: none !important

      &:hover
        text-decoration: underline

  .main-footer
    padding: 30px

  header
    border-top: 1px solid $brown
    border-bottom: 1px solid $brown

  main
    display: block

  .screenreader
    position: static
    height: auto
    width: auto
    clip: none
    clip-path: none
    overflow: visible !important

  .home main
    height: 100vh
    > svg,
    div
      height: 100vh

  .archive,
  .work
    a, img
      max-width: 500px
    .project
      display: block
      margin-bottom: 1em

  .archive-list,
  .archive-list .links,
  .projects-list
    display: block
  .archive-list
    li
      margin-bottom: 1em
    .study
      margin-left: 1em
      display: inline-block

  a.social
    display: inline-block
    margin-right: 20px
