/*--------------------------------------------------------------------
* $LINKS
--------------------------------------------------------------------*/

link-default()
  text-decoration: underline
  text-decoration-thickness: 1px
  text-underline-offset: 3px

link-alt()
  text-decoration: none

  &:hover
    link-default()
    background-color: transparent
    color: var(--text-color)
    text-decoration-style: wavy

a
  link-default()
  color: var(--text-color)
  font-weight: 550
  position: relative


  &:hover
    text-decoration-style: wavy

  &:focus:focus-visible
    focus()
    text-decoration: none
    transition: none

  &:focus:not(:focus-visible)
    outline: none

  &:not(:has(figure)):active
    transform: translateY(1px)

  &.skip-link
    padding: .4em 1em
    position: fixed
    left: 1em
    top: 1em
    // border: $ui-border-thick
    clip: rect(0 0 0 0)
    z-index: 200

    &:hover
      color: inherit

    &:focus
      clip: unset
      focus-img()

a.button,
button
  padding: .5em 1em
  background-color: var(--text-color)
  border: none
  border-radius: 4px
  font-weight: 600
  color: var(--bg-color)
  cursor: pointer

a.button,
button
  &:active
    transform: translateY(1px)
  &:focus:focus-visible
    focus-btn()

button
  font-family: $font-base
