/*--------------------------------------------------------------------
*
* $LOGO
*
--------------------------------------------------------------------*/


.logo
  display: inline-block
  background-position: 0 0
  background-repeat: no-repeat
  background-size: contain
  text-indent: -999rem
  transition: opacity .3s ease-in
  
  &:hover
    opacity: .5

.client-list
  max-width: 750px
  margin: 0 auto $space

.logo-client
  display: inline-block
  vertical-align: middle

  .logo
    max-height: 50px
    opacity: .35

    &:hover
      opacity: .8

.testimonials section .logo
  text-indent: 0
  height: auto
  width: 200px

.logo-container .logo
  height: 70px
  width: auto

.logo-andyou
  width: 100px
  margin: 0 0 15px
  display: inline-block


@media screen and (max-width: $breakpoint-tablet)

  .testimonials section .logo-container
    text-align: center
    margin: $space 0

@media screen and (max-width: $breakpoint-smartphone)

  .logo-client
    max-width: 115px
    padding: 15px 20px

@media screen and (min-width: $breakpoint-smartphone + 1)

  .logo-client
    padding: 20px 30px
    max-width: 180px