/*--------------------------------------------------------------------
* $NAV
--------------------------------------------------------------------*/

.main-nav,
.home-contact

  a
    display: inline-grid
    font-weight: 400
    text-decoration: none

    &:hover
      background-color: transparent
      color: inherit

  .toggle-button

    & > svg:first-of-type,

    .toggle-icon
      transform: scale(1) rotate(0deg)
      transition: transform 150ms ease-in-out
    .toggle-text
      transform: translate(0,0) rotate(0deg)
      transition: transform 200ms ease-in-out

.main-nav:not(.home)
  min-height: 60px
  padding: 0 clamp(1rem, 3vw, 2rem)
  display: flex
  gap: 0 clamp(.5rem, 2vw, 1rem)
  justify-content: flex-end
  align-items: flex-end
  border-bottom: $ui-border

  .toggle-button
    translate: 0 36%

    & > svg:first-of-type,
    .toggle-icon
      height: clamp(48px, 10vw, 80px)
      rotate: -3deg
      grid-row: 1
    
    .toggle-text
      rotate: 4deg
      translate: 20% 0
      grid-row: 2
      font-size: clamp(.8rem, 2vw, 1.1rem)

    &:hover
      .toggle-text
        transform: translate(20%,20%) rotate(-10deg)
      & > svg:first-of-type,
      .toggle-icon
        transform: scale(1.1) rotate(10deg)

.mode-toggle

  .no-js &
    display: none

.toggle-button
  padding: 0
  display: grid
  grid-template-columns: 1
  grid-template-rows: auto 1fr
  gap: .5em 0
  background-color: transparent
  border: none
  cursor: pointer

  & > svg,
  .toggle-icon
    grid-column: 1
    grid-row: 2

  .toggle-text
    grid-row: 1
    font-family: $font-base
    font-weight: 400
    color: var(--text-color)

  &:active
    transform: translateY(0)


[data-user-color-scheme="light"]
  .toggle-icon  svg
    transform: none

[data-user-color-scheme="dark"]
  .toggle-icon svg
    transform: scale(-1,1) rotate(180deg)

@media (prefers-color-scheme: dark)
  .toggle-icon svg
    transform: scale(-1,1) rotate(180deg)
