/*--------------------------------------------------------------------
*
* $NAVIGATION
*
--------------------------------------------------------------------*/

//- Top Nav

.top-nav
  position: relative
  z-index: 1
  
.top-nav,
.top-nav li
  background-color: transparent
  
//- Top Nav Light Variation

.top-nav-light
  border-bottom: none
  
  a, label
    color: white
    
  a:hover
    opacity: .75

@media screen and (max-width: $breakpoint-tablet)

  .top-nav
    float: none

    ul
      display: none
      clear: left

      > li
        padding: 0

      > li a
        padding: $ui-padding-default $ui-padding-default $ui-padding-default 0
        display: block
        font-size: $font-base

  .top-nav-light
    
    .menu-toggle:checked ~ ul > li:not(:last-child)
      border-bottom: 1px solid rgba(255, 255, 255, .25)

  .top-nav .menu-toggle:checked ~ ul
    position: absolute
    top: 55px
    left: -9%
    width: 117.8%
    background-color: #fff
    background-image: linear-gradient(to bottom, rgba(18,172,239,0.55) -85px,rgba(144,38,150,0.55) 100%)

  .top-nav ul > li a
    padding-left: 7%


@media screen and (max-width: $breakpoint-smartphone)

  .top-nav .menu-toggle:checked ~ ul
    left: -6%
    width: 111.5%

  .top-nav ul > li a
    padding-left: 5%