/*--------------------------------------------------------------------
* $SOCIAL ICONS
--------------------------------------------------------------------*/

.social-link
  width: 20px
  height: @width
  margin: 0 5px 5px
  display: inline-block
  background: no-repeat center center
  background-size: 20px 20px
  text-indent: -9999em
  opacity: .6

  &.twitter
    background-image: url('http://lynnandtonic.github.io/images/social-twitter-blue.svg')
  &.github
    background-image: url('http://lynnandtonic.github.io/images/social-github-blue.svg')
  &.dribbble
    background-image: url('http://lynnandtonic.github.io/images/social-dribbble-blue.svg')
  &.pinterest
    background-image: url('http://lynnandtonic.github.io/images/social-pinterest-blue.svg')
  &.instagram
    background-image: url('http://lynnandtonic.github.io/images/social-instagram-blue.svg')
  &.wordpress
    background-image: url('http://lynnandtonic.github.io/images/social-wordpress-blue.svg')

  &:hover
    opacity: 1