/*--------------------------------------------------------------------
* $TOPBAR
--------------------------------------------------------------------*/

.topbar
  width: 100%
  padding: 10px 20px
  display: none
  background: white
  border-bottom: $border-grey

  h1
    margin: 0
    font-size: 15px

    span
      margin-left: 5px
      display: inline-block
      color: $grey-light
      font-size: 13px


