/*--------------------------------------------------------------------
*
* $TRANSITIONS
*
--------------------------------------------------------------------*/

.transition
  transition-duration: .5s
  transition-timing-fuction: ease-in
  
.transition-fadeout
  transition-property: opacity