/*--------------------------------------------------------------------
* $TYPE
--------------------------------------------------------------------*/

h1, h2, h3, p, ul, pre
  margin-bottom: 1.5em

  &.mb-sm
    margin-bottom: .5em

h1, h2, h3
  line-height: 1.3
  font-weight: $font-weight-semibold
  color: black
  @media (prefers-color-scheme: dark)
    color: $dark-mode

  a
    font-weight: inherit
    color: inherit

h1
  font-size: 1.32em

h2
  font-size: 1.24em

h3
  font-size: 1.1em

em
  font-style: italic

strong
  font-weight: $font-weight-semibold

small
  font-size: 80%

p code,
ul code
  background-color: #b6efed
  padding: 3px 5px
  font-size: inherit
  @media (prefers-color-scheme: dark)
    background-color: black(.5)

code
  border-radius: 3px

pre, code
  font-family: monospace

hr
  margin: 10px 0 40px
  height: 1px
  background: $gradient-color
  border: none
  @media (prefers-color-scheme: dark)
    opacity: .7

a
  background-repeat: no-repeat
  background-size: 100% 1px
  background-position: center bottom
  text-decoration: none
  font-weight: $font-weight-semibold
  color: black
  @media (prefers-color-scheme: dark)
    color: white

  &:focus,
  &:hover
    background-color: black
    color: white
    outline: none

    @media (prefers-color-scheme: dark)
      color: black
      background-color: $dark-mode

.content a
  background-image: $gradient-black
  @media (prefers-color-scheme: dark)
    background-image: $gradient-dark
