extends _layout

block vars
  - var pageDescription = 'Lynn Fisher is an artist, designer, and developer from Chandler, Arizona.'

block title
  | 2012 Site Archive - Recent Work - 

block content

  #work.clearfix
    a(href='/archive/2012/work/notconf')
      img(src='/assets/images/archive/2012/thumb-notconf.jpg')
      span NotConf
    a(href='/archive/2012/work/cartoons-playing-poker')
      img(src='/assets/images/archive/2012/thumb-cartoons.jpg')
      span Cartoons Playing Poker
    a(href='/archive/2012/work/starcast')
      img(src='/assets/images/archive/2012/thumb-starcast.jpg')
      span StarCast
    a(href='/archive/2012/work/character-studies')
      img(src='/assets/images/archive/2012/thumb-characters.jpg')
      span Character Studies
    a(href='/archive/2012/work/meltmedia-refresh')
      img(src='/assets/images/archive/2012/thumb-meltmedia2.jpg')
      span meltmedia.com
    a(href='/archive/2012/work/lynnandtonic')
      img(src='/assets/images/archive/2012/thumb-lynnandtonic6.jpg')
      span lynnandtonic.com
    a(href='/archive/2012/work/may-the-goose-be-with-you')
      img(src='/assets/images/archive/2012/thumb-goose.jpg')
      span May The Goose Be With You
    a(href='/archive/2012/work/japanese-american-gothic')
      img(src='/assets/images/archive/2012/thumb-japanese.jpg')
      span Japanese American Gothic
    a(href='/archive/2012/work/steve-and-vanessa')
      img(src='/assets/images/archive/2012/thumb-stevevanessa.jpg')
      span Steve & Vanessa
    a(href='/archive/2012/work/toolbox')
      img(src='/assets/images/archive/2012/thumb-toolbox.jpg')
      span Toolbox
    a(href='/archive/2012/work/we-were-all-yellow')
      img(src='/assets/images/archive/2012/thumb-yellow.jpg')
      span We Were All Yellow
    a(href='/archive/2012/work/instababies-technology-inc')
      img(src='/assets/images/archive/2012/thumb-instababies.jpg')
      span Instababies Technology, Inc.
    a(href='/archive/2012/work/allow-6-8-weeks')
      img(src='/assets/images/archive/2012/thumb-68weeks.jpg')
      span Allow 6-8 Weeks To Arrive
    a(href='/archive/2012/work/breakfast-of-champions')
      img(src='/assets/images/archive/2012/thumb-breakfast.jpg')
      span Breakfast of Champions
    a(href='/archive/2012/work/the-smart-one')
      img(src='/assets/images/archive/2012/thumb-smartone.jpg')
      span The Smart One (Which One’s The Ho?)
    a(href='/archive/2012/work/takeout')
      img(src='/assets/images/archive/2012/thumb-takeout.jpg')
      span Takeout
    a(href='/archive/2012/work/girls-best-friend')
      img(src='/assets/images/archive/2012/thumb-girlsbestfriend.jpg')
      span A Girl’s Best Friend
    a(href='/archive/2012/work/asian-viking')
      img(src='/assets/images/archive/2012/thumb-viking.jpg')
      span Asian Viking
    a(href='/archive/2012/work/stalefish')
      img(src='/assets/images/archive/2012/thumb-stalefish.jpg')
      span Stalefish
    a(href='/archive/2012/work/subway')
      img(src='/assets/images/archive/2012/thumb-subway.jpg')
      span Subway
