/*--------------------------------------------------------------------
* $ABOUT
--------------------------------------------------------------------*/

.about

  @media screen and (min-width: $bp-sm + 1)

    main
      grid-template-columns: 2fr 1fr 1fr

      .avatar
        grid-column: 1 / -1

  .bio
    display: grid
    gap: var(--border-width)
    background-color: var(--border-color)

    & > *
      background()

  .content,
  .links
    padding: var(--body-padding)

  .links
    
    h2
      font-size: var(--font-base)

    li
      font-size: var(--font-sm)

      &:not(:last-child)
        margin-bottom: 1.2em

    a
      link-alt()
      font-weight: 520

    small
      margin-top: .2em
      display: block

  .coffee
    margin-left: 2px
    padding: 6px 0 6px 26px
    background-repeat: no-repeat
    background-position: left center
    background-image: url('/assets/images/coffee.svg')
    background-size: 20px 30px

  .avatar
    --shadow-color: $blue
    --skin-color: $grey-med
    overflow: hidden
    height: 420px
    display: grid
    justify-content: center
    align-content: end

    .svg
      [class^='stroke'] path
        vector-effect: none

    svg
      height: 700px
      display: block

     g
      transform-box: fill-box
      transform-origin: center top

    .skin path
      fill: var(--skin-color)
    .shadow path
      fill: var(--shadow-color)
    [id^='leaves'] path
      transform-box: fill-box
      transform-origin: center center

    // with draggables
    &:has(.mushroom:not(.gu-transit))
      #head,
      #hair,
      #lynn-shadow
        transform: scale(1.8) translateY(-3.8em)
      [class^='stroke'] path
        stroke-width: .6
    &:has(.mushroom ~ .mushroom:not(.gu-transit))
      #head,
      #hair,
      #lynn-shadow
        transform: scale(2.4) translateY(-5em)
      [class^='stroke'] path
        stroke-width: .5
    &:has(.potion:not(.gu-transit))
      background-color: $blue
      background-image: url('/assets/images/about-pattern.svg')
      background-repeat: repeat
      background-size: 200px 300px
      background-position: center center
      --skin-color: $pink
      --draggable-dot: $turquoise
      #lynn-shadow
        opacity: 1
      #hoodie-fill path
        fill: $red
    &:has(.potion ~ .potion:not(.gu-transit))
      background-color: $green
      background-image: none
      #leaves-bg,
      #leaves-sm
        opacity: 1
      #lynn-shadow
        opacity: 0
      #hoodie-fill path
        fill: $yellow
    &:has(.mushroom:not(.gu-transit)):has(.potion ~ .potion:not(.gu-transit))
      #leaves-sm1
        transform: translate(-3em,-4em)
      #leaves-sm2
        transform: translate(3em,-4em)
      #leaves-sm3
        transform: translate(-3.5em,0)
      #leaves-sm4
        transform: translate(-3em,0)
      #leaves-sm5
        transform: translate(3em,0)
    &:has(.mushroom ~ .mushroom:not(.gu-transit)):has(.potion ~ .potion:not(.gu-transit))
      #leaves-sm
        opacity: 0
      #leaves-lg
        opacity: 1
