/*--------------------------------------------------------------------
* $404
--------------------------------------------------------------------*/

.fourohfour
  main
    --hero-404-height: 600px
    width: 100%
    height: var(--home-header-height)
    padding: 0
    display: flex
    align-items: center
    justify-content: center
    overflow: hidden
    background()

  .svg
    padding: 0
    display: block

  svg
    padding: 0
    display: block
    height: var(--home-header-height)
    width: auto

@media (prefers-color-scheme: dark)
  :root:not([data-user-color-scheme])
    .fourohfour .svg svg text
      fill: $pink

[data-user-color-scheme='dark']
  .fourohfour .svg svg text
    fill: $pink
