/*--------------------------------------------------------------------
* $CONTENT
--------------------------------------------------------------------*/

.content-container
  max-width: 700px
  margin: 0 auto

  h1
    margin-bottom: 30px

  .back
    margin-top: 20px
    font-family: $font-family-clavo
    font-style: italic
    font-size: 13px
    color: $grey-med
    transition: color .2s ease-in

    &:hover
      color: $blue
      opacity: 1

  img
    width: 100%
    margin-bottom: 10px
    display: block

    &.border
      border: 3px solid $grey-lightest

    &.main-image
      margin-bottom: 30px
