/*--------------------------------------------------------------------
* $TOPBAR
--------------------------------------------------------------------*/

.topbar
  width: 100%
  padding: 14px 20px 12px
  display: none
  justify-content: space-between
  background: white
  border-bottom: $border-grey

  h1
    margin: 0
    font-size: 15px
    line-height: 1

    span
      margin-left: 5px
      display: inline-block
      color: $grey-med
      font-size: 13px

  .page-title
    font-family: $font-family-clavo
    font-style: italic
    font-size: 15px
    color: $grey-med
    line-height: 1

    &:empty
      display: none
