/*--------------------------------------------------------------------
* $TYPE
--------------------------------------------------------------------*/

body
  font-family: $font-family-proxima
  font-weight: $font-weight-light
  font-size: 17px
  line-height: 1.5
  color: $grey-dark

h1, h2, h3
  margin-bottom: 10px
  color: $grey-drk
  line-height: 1.3

h1
  font-size: 24px
  font-family: $font-family-clavo
  font-style: italic

  a
    color: inherit

h2
  font-size: 24px
  font-weight: $font-weight-semibold

h3
  font-size: 20px
  font-weight: $font-weight-semibold

p
  margin-bottom: 20px

em
  font-style: italic

strong
  font-weight: $font-weight-semibold

small
  font-size: 14px
  color: $grey-med

a
  display: inline-block
  text-decoration: none
  color: $blue
  transition: opacity .15s ease-in

  &:hover
    opacity: .6

blockquote
  margin-bottom: 20px
  padding-left: 35px
  position: relative
  font-family: $font-family-clavo
  font-style: italic

  &:before
    content: '“'
    position: absolute
    left: 20px
    top: -8px
    font-size: 30px
    color: $grey-med

  cite
    margin-top: 10px
    display: block
    text-transform: uppercase
    font-size: 13px
    font-family: $font-family-proxima
    font-style: normal
    color: $grey-med

.wf-loading
  h1, h2, h3, p, a, blockquote, li, span, small
    opacity: 0
    transition: .15s opacity
