doctype html
html(lang='en')

  //- Variable block for page-specific info
  block vars

  head

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='chrome=1')
    meta(name='viewport',content='width=device-width, initial-scale=1, minimum-scale=1')

    meta(name='description', content=pageDescription)
    meta(name='author', content='Lynn Fisher')
    meta(name='robots', content='noindex, nofollow')

    title
      block title
      | Lynn Fisher

    link(rel='stylesheet', href='https://use.typekit.net/bok3lzp.css')

    link(rel='shortcut icon', href='/assets/images/archive/2016/pizza-icon.png')
    link(rel='stylesheet', href='https://afeld.github.io/emoji-css/emoji.css')
    link(rel='stylesheet', href='/assets/css/archive/2016.css')

    block scripts

  body(class=bodyClass)

    nav.topbar
      h1 #[a(href='/archive/2016') Lynn Fisher]
        span Artist and Designer
      .page-title
        block topnav

    section.sidebar
      .main-image
      .container
        h1 #[a(href='/archive/2016') Lynn Fisher]
          span Artist and Designer
        p I make things for the web and for walls. I specialize in light-hearted projects that make people say, “I don’t get it.” Yes, I’ve heard of SVG.
        ul.contact-info
          li
            a.emoji-link(href='/archive/2016')
              span.em.em-zap
              span Work
          li
            a.emoji-link(href='#')
              span.em.em-memo
              span Thoughts
          li
            a.emoji-link(href='/archive/2016/about')
              span.em.em-pizza
              span About
          li
            a.emoji-link(href='mailto:lynn@lynnandtonic.com')
              span.em.em-love_letter
              span Electronic mail
        .social-links
          a.social-link.twitter(href='https://twitter.com/lynnandtonic') @lynnandtonic on Twitter
          a.social-link.dribbble(href='https://dribbble.com/lynnandtonic') @lynnandtonic on Dribbble
          a.social-link.github(href='https://github.com/lynnandtonic') @lynnandtonic on GitHub
          a.social-link.instagram(href='https://instagram.com/lynnandtonic') @lynnandtonic on Instagram
          a.social-link.pinterest(href='https://pinterest.com/lynnandtonic') @lynnandtonic on Pinterest
          a.social-link.wordpress(href='https://lynnandtonicblog.com/') lynnandtonicblog.com

    section.content
      block content

    script(data-goatcounter='https://lynnandtonic.goatcounter.com/count'
        async src='//gc.zgo.at/count.js')
