extends _layout

block vars
  - var pageDescription = 'Lynn Fisher is an artist, designer, and developer from Chandler, Arizona.'
  - var bodyClass = 'about layout-sub'

block title
  | 2016 Site Archive - About - 

block topnav
  | About

block content

  .content-container.about-content
    h1 Be good at lots of things.
    img.main-image(src='/assets/images/archive/2016/illo-lynn-rainbow.png')
    p My general approach to my work is to always try and to always learn. Trying is wildly underrated. People can be awesome at many things, and as we attempt to do so, we can create art in the space where disciplines overlap.
    blockquote The only secret of magic is that I'm willing to work harder on it than you think it’s worth.
      cite Penn Jillette
    p I’m passionate about designing for the web and improving the way designers and developers work together. I currently work with my heroes at #[a(href='https://andyet.com') &yet], where I do lots of things including UI/UX design, front end development, and illustration.
    p I live and work in Arizona and #[a(href='http://why.az') here’s why]. I call Chandler home with my husband Clay and our two pups, #[a(href='http://packdog.com/boomer-5') Boomer] and #[a(href='http://packdog.com/helo-1') Helo].
    h3 Events and Press
    ul.press
      li: a(href='/thoughts/entries/talk-illustration-with-css/') Spoke at CSSDay Phoenix 2015
      li: a(href='http://phxdw.com/') Spoke at Phoenix Design Week 2015
      li: a(href='https://speakerdeck.com/lynnandtonic/be-good-at-lots-of-things') Spoke at &yetConf 2015
      li: a(href='http://hereandnow.wbur.org/2015/04/01/airport-codes-mysteries') Appeared on NPR’s ‘Here & Now’
      li: a(href='http://www.cnn.com/2015/04/01/travel/airport-codes/index.html') ‘Airport Codes’ picked as Addictive Site of the Week by CNN
      li: a(href='http://www.vox.com/2015/3/24/8284391/airport-codes') ‘Airport Codes’ featured on vox.com
      li: a(href='http://www.creativebloq.com/net-magazine') ‘A Single Div’ featured in Net Magazine Issue 261
      li: a(href='http://baladycreatives.com/lynn-fisher/') Named a Badass Lady Creative
      li: a(href='https://speakerdeck.com/lynnandtonic/developers-as-intentional-designers') Spoke at JSConf Brazil 2014
      li: a(href='http://phxdw.com/') Spoke on ‘Women in Design’ panel at Phoenix Design Week 2013
      li: a(href='http://www.phoenixnewtimes.com/arts/59-lynn-fisher-6558326') Named one of Phoenix New Times 100 Creatives 2010
