extends _layout

block vars
  - var pageTitle = 'About'
  - var pageDescription = 'Lynn Fisher is an artist, designer, and developer from Phoenix, Arizona.'
  - var bodyClass = 'about'

block content

  .content

    .lynn-burger

    p I’m #[strong Lynn Fisher], an artist, designer, and developer. I work with some of my very favorite people at #[a(href='https://andyet.com') &yet], where I serve as their Chief Creative Officer and make cool things for the web.

    p My work has been featured on #[a(href='http://www.cnn.com/2015/04/01/travel/airport-codes/index.html') CNN], #[a(href='http://hereandnow.wbur.org/2015/04/01/airport-codes-mysteries') NPR’s ‘Here & Now’], #[a(href='http://www.vox.com/2015/3/24/8284391/airport-codes') Vox], and in #[a(href='http://www.creativebloq.com/net-magazine') NET Magazine].

    p I live and work in Arizona and #[a(href='http://why.az') here’s why]. I call Phoenix home with my husband Clay and our two pups, #[a(href='http://packdog.com/boomer-5') Boomer] and #[a(href='http://packdog.com/helo-1') Helo].

    h2 Support my work

    p Follow me on #[a(href='https://twitter.com/lynnandtonic') Twitter], #[a(href='https://www.instagram.com/lynnandtonic/') Instagram], #[a(href='https://dribbble.com/lynnandtonic/') Dribbble] or #[a(href='https://github.com/lynnandtonic') GitHub].

    p If you want to chuck in a buck to #[a(href='https://www.patreon.com/lynnandtonic') support my projects on Patreon], that would be amazing. Or buy some of my stickers in #[a(href='https://www.etsy.com/shop/lynnandtonic') my Etsy shop].

    .links

      .list
        h2 Talks
        ul
          li #[a(href='https://speakerdeck.com/lynnandtonic/art-the-web-and-tiny-ux') Art, The Web, and Tiny UX]
            small Phoenix Design Week
            small October 2018
          li #[a(href='https://speakerdeck.com/lynnandtonic/a-different-kind-of-ux') A Different Kind of UX]
            small Adobe Creative Jam
            small April 2018
          li Stretching CSS
            small Design & Dev
            small August 2016
          li #[a(href='/thoughts/entries/talk-illustration-with-css/') Illustration with CSS]
            small CSSDay
            small December 2015
          li #[a(href='https://vimeopro.com/andyet/andyet-conf/video/175370807') I’ll Be Awesome At Lots of Things, Thank You Very Much]
            small &yetConf
            small October 2015
          li #[a(href='https://speakerdeck.com/lynnandtonic/be-good-at-lots-of-things') Be Good At Lots of Things]
            small Phoenix Design Week
            small October 2015
          li #[a(href='https://speakerdeck.com/lynnandtonic/illustrating-with-heart') Illustrating with Heart]
            small TriConf
            small July 2014
          li #[a(href='https://speakerdeck.com/lynnandtonic/developers-as-intentional-designers') Developers As Intentional Designers]
            small JSConfBrazil
            small April 2014
          li Women in Design Panel
            small Phoenix Design Week
            small October 2013

      .list
        h2 Interviews
        ul
          li
            a(href='https://designedu.today/episodes/e058-using-print-design-principles-in-interactive-design-layouts-with-lynn-fisher.html') Design Edu Today: Ep. 58
            small April 2018
          li
            a(href='https://www.betonyourself.com/podcast/episode-40-lynn-fisher-1') Indiedotes Podcast: Ep. 40
            small March 2018
          li
            a(href='https://theblog.adobe.com/lynn-fishers-annual-portfolio-redesign-skills-sharp/') Adobe: How Lynn Fisher’s Annual Portfolio Redesign Keeps Her Design Skills Sharp
            small.date February 2018
          li
            a(href='http://packyourknives.libsyn.com/the-risotto-curse-returns') Pack Your Knives: Ep. The Risotto Curse Returns
            small February 2018
          li
            a(href='http://www.wbur.org/hereandnow/2015/04/01/airport-codes-mysteries') Airport Codes: Three Letters And A Few Unsolved Mysteries
            small April 2015
