extends _layout

block vars
  - var pageTitle = 'Art Portfolio'
  - var pageDescription = 'The portfolio of Lynn Fisher--artist, designer, and developer from Phoenix, Arizona.'
  - var bodyClass = 'work art'

block content

  .content.center

    h2 Illustration

    img.wide(src='/assets/images/archive/2018/illo-manifold.jpg', alt='an illustration of a long line at a dystopian ration station, through the lens of a virtual reality headset')
    small.footnote illustration for story.manifold.co
    img.wide.border(src='/assets/images/archive/2018/illo-css-tricks.jpg', alt='hand-drawn technical diagrams showing CSS flexbox concepts')
    small.footnote technical illustrations for CSS Tricks
    img.wide(src='/assets/images/archive/2018/illo-lift-mountain.jpg', alt='an illustrated pop-up style treasure map with treacherous and obstacles on the way to a mountain peak')
    img.wide(src='/assets/images/archive/2018/illo-allthetrades.jpg', alt='an illustrated playing card Jack in the style of Hyperbole and a Half and yelling “All the trades!”')
    img.wide(src='/assets/images/archive/2018/illo-viewmaster.jpg', alt='an illustration of a vintage viewmaster and slide cartridges that are labeled “Today, Tomorrow, and 2045”')
    img.wide(src='/assets/images/archive/2018/illo-otterpops.jpg', alt='an illustration of Otter Pops')
    img(src='/assets/images/archive/2018/illo-truett.jpg', alt='an illustration of my friend Truett in the style of Duran Duran’s Rio album cover')
    img.wide(src='/assets/images/archive/2018/illo-character-studies.jpg', alt='illustrations of Wolverine in an ugly Christmas sweater, Amelie at Tour de Fat in front of a bicycle, and Spock in a Chewbacca costume')

    hr

    h2 Icons

    img.wide(src='/assets/images/archive/2018/icons-ipfs.jpg', alt='icons in light teal, navy, and red with a technology and space theme')
    small.footnote icon set for IPFS
    img.wide(src='/assets/images/archive/2018/icons-andyetconf.jpg', alt='icons in light yellow of various food, technology, and musical items')
    small.footnote icon set for &yetConf
    img.wide(src='/assets/images/archive/2018/icons-jsforteams.jpg', alt='icons in light blue of construction and building tools')
    small.footnote icon set for JS for Teams
    img.wide(src='/assets/images/archive/2018/icons-sandwich.jpg', alt='icons in a colorful illustrative style of sandwich components like bread, cheese, and veggies')
    small.footnote icon set for &yet Sandwich

    hr

    h2 Painting

    img(src='/assets/images/archive/2018/benjamin-heise-1.jpg', alt='a painting of my friend Ben Heise’s head on a war general’s body')
    small.footnote #[em Benjamin Heise] - 2014 - acrylic on canvas

    img.wide(src='/assets/images/archive/2018/logical-doctor.jpg', alt='a painting of Spock wearing a Doctor Who fez and holding a Sonic Screwdriver')
    small.footnote #[em The Logical Doctor] - 2013 - acrylic on canvas

    img.wide(src='/assets/images/archive/2018/where-dwell-the-brave-at-heart.jpg', alt='a painting of my friend Adam, his wife, and newborn child wearing Harry Potter robes and a Gryffindor crest')
    small.footnote #[em Where Dwell the Brave at Heart] - 2013 - acrylic on canvas

    img(src='/assets/images/archive/2018/paintstagram2.jpg', alt='a tiny painting of a man standing on a subway platform, a recreation of an Instagram photo')
    small.footnote #[em Paintstagram] - 2012 - acrylic on canvas

    img(src='/assets/images/archive/2018/paintstagram1.jpg', alt='a tiny painting of a large tree on a ranch with horses, a recreation of an Instagram photo')
    small.footnote #[em Paintstagram] - 2012 - acrylic on canvas

    img(src='/assets/images/archive/2018/may-the-goose-be-with-you-bg.jpg', alt='a painting of a wheaton terrier, Goose, wearing Jedi robes')
    small.footnote #[em May the Goose Be With You] - 2011 - acrylic on canvas

    img.wide(src='/assets/images/archive/2018/cartoons-playing-poker.jpg', alt='a painting parody of Dogs Playing Poker with cartoon characters like Daffy Duck, the Flash, and Ren and Stimpy')
    small.footnote #[em Cartoons Playing Poker] - 2010 - acrylic on canvas

    img(src='/assets/images/archive/2018/japanese-american-gothic-1.jpg', alt='a painting of my friends Naomi and Ben as the two people in American Gothic')
    small.footnote #[em Japanese American Gothic] - 2010 - acrylic on canvas

    img(src='/assets/images/archive/2018/japanese-american-gothic-2.png', alt='Ben and Naomi posing with the painting of them')

    img(src='/assets/images/archive/2018/japanese-american-gothic-3.jpg', alt='Ben and Naomi dressed as the painting for Halloween')

    img.wide(src='/assets/images/archive/2018/we-were-all-yellow.jpg', alt='a painting of my friend Kirsten wearing a Chinese bamboo hat and eating takeout noodles')
    small.footnote #[em We Were All Yellow] - 2007 - oil on canvas
