extends _layout

block vars
  - var pageDescription = 'The portfolio of Lynn Fisher, an artist, designer, and developer from Chandler, Arizona.'
  - var bodyClass = 'work'

block title
  | 2013 Site Archive - Work - 

block content

  section#work
    ul.clearfix

      li
        a(href="https://why.az", title="WhyAZ")
          img(src="/assets/images/archive/2013/thumb-whyaz.jpg", alt="WhyAZ")
          h4 WhyAZ
          p responsive website, CSS illustration

      li
        div
          img(src="/assets/images/archive/2013/thumb-brave-at-heart.jpg", alt="Where Dwell the Brave at Heart")
          h4 Where Dwell the Brave at Heart
          p acrylic on canvas

      li
        div
          img(src="/assets/images/archive/2013/thumb-arwen.jpg", alt="Arwen")
          h4 Arwen
          p identity, application design

      li
        div
          img(src="/assets/images/archive/2013/thumb-cadmium.jpg", alt="Cadmium")
          h4 Cadmium
          p identity, application design

      li
        div
          img(src="/assets/images/archive/2013/thumb-paintstagram.jpg", alt="Paintstagram")
          h4 Paintstagram (series)
          p acrylic on canvas

      li
        div
          img(src="/assets/images/archive/2013/thumb-meltmedia.jpg", alt="meltmedia.com")
          h4 meltmedia.com
          p responsive website

      li
        div
          img(src="/assets/images/archive/2013/thumb-notconf.jpg", alt="NotConf")
          h4 NotConf
          p responsive website

      li
        div
          img(src="/assets/images/archive/2013/thumb-lynnandtonic7.jpg", alt="lynnandtonic.com")
          h4 lynnandtonic.com
          p responsive website

      li
        div
          img(src="/assets/images/archive/2013/thumb-pyar.jpg", alt="Phoenix Youth at Risk")
          h4 Phoenix Youth at Risk
          p website comp

      li
        div
          img(src="/assets/images/archive/2013/thumb-goose.jpg", alt="May the Goose Be With You")
          h4 May the Goose Be With You
          p acrylic on canvas

      li
        div
          img(src="/assets/images/archive/2013/thumb-japanese.jpg", alt="Japanese American Gothic")
          h4 Japanese American Gothic
          p acrylic on canvas

      li
        div
          img(src="/assets/images/archive/2013/thumb-cartoons-playing-poker.jpg", alt="Cartoons Playing Poker")
          h4 Cartoons Playing Poker
          p acrylic on canvas

      li
        div
          img(src="/assets/images/archive/2013/thumb-character-studies.jpg", alt="Character Studies")
          h4 Character Studies
          p illustration

      li
        div
          img(src="/assets/images/archive/2013/thumb-lynnandtonic6.jpg", alt="lynnandtonic.com")
          h4 lynnandtonic.com
          p responsive website

      li
        div
          img(src="/assets/images/archive/2013/thumb-steve-and-vanessa.jpg", alt="Steve and Vanessa")
          h4 Steve and Vanessa
          p website, print

      li
        div
          img(src="/assets/images/archive/2013/thumb-toolbox.jpg", alt="Toolbox")
          h4 Toolbox
          p application comp

      li
        div
          img(src="/assets/images/archive/2013/thumb-we-were-all-yellow.jpg", alt="We Were All Yellow")
          h4 We Were All Yellow
          p oil on canvas

      li
        div
          img(src="/assets/images/archive/2013/thumb-asian-viking.jpg", alt="Asian Viking")
          h4 Asian Viking
          p acrylic on canvas

      li
        div
          img(src="/assets/images/archive/2013/thumb-instababies.jpg", alt="Instababies Technology, Inc.")
          h4 Instababies Technology, Inc.
          p mixed media

      li
        div
          img(src="/assets/images/archive/2013/thumb-breakfast-of-champions.jpg", alt="Breakfast of Champions")
          h4 Breakfast of Champions
          p mixed media
    br
    p © copyright Lynn M Fisher / Thanks for visiting.
