doctype html
html(lang='en')

  //- Variable block for page-specific info
  block vars

  head

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='chrome=1')
    meta(name='viewport',content='width=device-width, initial-scale=1, minimum-scale=1')

    meta(name='description', content=pageDescription)
    meta(name='author', content='Lynn Fisher')
    meta(name='robots', content='noindex, nofollow')

    if bodyClass == 'home'
      title 2017 Site Archive | Lynn Fisher
    else
      title 2017 Site Archive | #{pageTitle} | Lynn Fisher

    link(rel='stylesheet', href='https://use.typekit.net/nxz6zzt.css')

    link(rel='shortcut icon', href='/assets/images/archive/2017/pizza-icon.png')
    if bodyClass == 'home'
      link(rel='stylesheet', href='/assets/css/archive/2017-home.css')
    else
      link(rel='stylesheet', href='/assets/css/archive/2017.css')

    if bodyClass !== 'utility'
      meta(property='og:type',  content='website')
      meta(name='twitter:card', content='summary')
      meta(content='@lynnandtonic', name='twitter:site')
      meta(content='@lynnandtonic', name='twitter:creator')
      meta(content=pageDescription, name='twitter:description', property='og:description')
      meta(content='https://lynnandtonic.com/assets/images/archive/2017/lynn-card-2017.jpg', property='og:image')
      meta(content='https://lynnandtonic.com/assets/images/archive/2017/lynn-card-2017.jpg', name='twitter:image')
      if bodyClass == 'home'
        meta(content='https://lynnandtonic.com/archive/2017/', property='og:url')
        meta(content='https://lynnandtonic.com/archive/2017/', property='twitter:url')
        meta(content='2017 Site Archive', name='twitter:title', property='og:title')
      else
        meta(content='https://lynnandtonic.com/archive/2017/' + pagePath, property='og:url')
        meta(content='https://lynnandtonic.com/archive/2017/' + pagePath, property='twitter:url')
        meta(content='2017 Site Archive | ' + pageTitle, name='twitter:title', property='og:title')

    block scripts

  body(class=bodyClass)

    nav.main-nav
      a.nav-home(href='/archive/2017') Home
      a.nav-web(href='/archive/2017/web') Web
      a.nav-art(href='/archive/2017/art') Art
      a.nav-about(href='/archive/2017/about') About
      a.nav-thoughts(href='#') Thoughts

    block content

    script(data-goatcounter='https://lynnandtonic.goatcounter.com/count'
        async src='//gc.zgo.at/count.js')
