extends _layout

block vars
  - var pageTitle = 'About'
  - var pageDescription = 'Lynn Fisher is an artist, designer, and developer from Phoenix, Arizona.'
  - var bodyClass = 'about'

block content

  .content
    blockquote The only secret of magic is that I'm willing to work harder on it than you think it’s worth.
      cite Penn Jillette

    img.wide(src='/assets/images/archive/2017/illo-lynn-rainbow.png')

    p My name is #[strong Lynn Fisher] and I love making things for the web. I currently work with my heroes at #[a(href='https://andyet.com') &yet], where I do lots of things including UI/UX design, front-end development, and illustration.

    p I’ve spoken at a handful of conferences, including #[a(href='/thoughts/entries/talk-illustration-with-css/') CSSDay], #[a(href='https://speakerdeck.com/lynnandtonic/be-good-at-lots-of-things') &yetConf], #[a(href='https://speakerdeck.com/lynnandtonic/developers-as-intentional-designers') JSConf Brazil], and #[a(href='http://phxdw.com/') Phoenix Design Week].

    p My work has been featured on #[a(href='http://www.cnn.com/2015/04/01/travel/airport-codes/index.html') CNN], #[a(href='http://hereandnow.wbur.org/2015/04/01/airport-codes-mysteries') NPR’s ‘Here & Now’], #[a(href='http://www.vox.com/2015/3/24/8284391/airport-codes') Vox], and in #[a(href='http://www.creativebloq.com/net-magazine') NET Magazine].

    p I live and work in Arizona and #[a(href='http://why.az') here’s why]. I call Phoenix home with my husband Clay and our two pups, #[a(href='http://packdog.com/boomer-5') Boomer] and #[a(href='http://packdog.com/helo-1') Helo].

    hr

    p You can #[a(href='/work') view some of my work]. Or follow me on #[a(href='https://twitter.com/lynnandtonic') Twitter], #[a(href='https://www.instagram.com/lynnandtonic/') Instagram], #[a(href='https://dribbble.com/lynnandtonic/') Dribbble] or #[a(href='https://github.com/lynnandtonic') GitHub].
