extends _layout

block vars
  - var pageTitle = 'Art Portfolio'
  - var pageDescription = 'The portfolio of Lynn Fisher--artist, designer, and developer from Phoenix, Arizona.'
  - var bodyClass = 'work art'

block content

  .content.center

    h1 Illustration

    img.wide(src='/assets/images/archive/2017/illo-manifold.jpg')
    small.footnote illustration for story.manifold.co
    img.wide(src='/assets/images/archive/2017/illo-lift-mountain.jpg')
    img.wide(src='/assets/images/archive/2017/illo-allthetrades.jpg')
    img.wide(src='/assets/images/archive/2017/illo-viewmaster.jpg')
    img.wide(src='/assets/images/archive/2017/illo-otterpops.jpg')
    img(src='/assets/images/archive/2017/illo-truett.jpg')
    img.wide(src='/assets/images/archive/2017/illo-character-studies.jpg')

    hr

    h1 Icons

    img.wide(src='/assets/images/archive/2017/icons-ipfs.jpg')
    small.footnote icon set for IPFS
    img.wide(src='/assets/images/archive/2017/icons-andyetconf.jpg')
    small.footnote icon set for &yetConf
    img.wide(src='/assets/images/archive/2017/icons-jsforteams.jpg')
    small.footnote icon set for JS for Teams
    img.wide(src='/assets/images/archive/2017/icons-sandwich.jpg')
    small.footnote icon set for &yet Sandwich

    hr

    h1 Painting

    img(src='/assets/images/archive/2017/benjamin-heise-1.jpg')
    small.footnote #[em Benjamin Heise] - 2014 - acrylic on canvas

    img.wide(src='/assets/images/archive/2017/logical-doctor.jpg')
    small.footnote #[em The Logical Doctor] - 2013 - acrylic on canvas

    img.wide(src='/assets/images/archive/2017/where-dwell-the-brave-at-heart.jpg')
    small.footnote #[em Where Dwell the Brave at Heart] - 2013 - acrylic on canvas

    img(src='/assets/images/archive/2017/paintstagram2.jpg')
    small.footnote #[em Paintstagram] - 2012 - acrylic on canvas

    img(src='/assets/images/archive/2017/paintstagram1.jpg')
    small.footnote #[em Paintstagram] - 2012 - acrylic on canvas

    img(src='/assets/images/archive/2017/may-the-goose-be-with-you-bg.jpg')
    small.footnote #[em May the Goose Be With You] - 2011 - acrylic on canvas

    img.wide(src='/assets/images/archive/2017/cartoons-playing-poker.jpg')
    small.footnote #[em Cartoons Playing Poker] - 2010 - acrylic on canvas

    img(src='/assets/images/archive/2017/japanese-american-gothic-1.jpg')
    small.footnote #[em Japanese American Gothic] - 2010 - acrylic on canvas
    img(src='/assets/images/archive/2017/japanese-american-gothic-2.png')
    img(src='/assets/images/archive/2017/japanese-american-gothic-3.jpg')

    img.wide(src='/assets/images/archive/2017/we-were-all-yellow.jpg')
    small.footnote #[em We Were All Yellow] - 2007 - oil on canvas
