/*--------------------------------------------------------------------
* $ABOUT
--------------------------------------------------------------------*/

.about

  .main-nav .nav-about
    nav-active()


  $avatar-w = 452px
  $avatar-h = 550px
  $avatar-bp = $bp-xs + 1
  $avatar-x = 50px

  header
    display: grid
    align-items: center
    justify-content: center
    background-color: $grey-drk
    background-position: center center
    @media screen and (max-width: $bp-xs - 1)
      min-height: 450px
      background-repeat: repeat
      background-image: url('/assets/images/archive/2020/avatar-frame-alt.svg')
      background-size: calc(496px * .6) auto
    @media screen and (min-width: $bp-xs)
      min-height: 650px
      background-image: url('/assets/images/archive/2020/about-helo.svg'),
                        url('/assets/images/archive/2020/about-boomer.svg'),
                        url('/assets/images/archive/2020/about-the-child.svg'),
                        url('/assets/images/archive/2020/about-waddles.svg'),
                        url('/assets/images/archive/2020/avatar-frame-alt.svg')
      background-repeat: no-repeat,
                         no-repeat,
                         no-repeat,
                         no-repeat,
                         repeat-x
      background-size: 496px auto
      background-position: calc(50% - 496px) center,
                           calc(50% + 496px) center,
                           calc(50% - 496px*2) center,
                           calc(50% + 496*2px) center,
                           center center
  .avatar
    width: $avatar-w
    height: $avatar-h
    position: relative
    background-image: url('/assets/images/archive/2020/avatar-lynn-base.svg')
    background-color: $white
    background-size: contain
    border-radius: 7px
    box-shadow: 10px 10px 0 black,
                0 0 0 10px $grey-drk
    overflow: hidden
    @media screen and (max-width: $bp-xs - 1)
      transform: scale(.6)

    &:after
      content: ''
      width: 100%
      height: 100%
      position: absolute
      background-repeat: no-repeat
      background-image: url('/assets/images/archive/2020/avatar-lynn-costumes.svg')
      background-position: 0 0

      @media screen and (min-width: $avatar-bp)
        background-position-x: -($avatar-w)
      @media screen and (min-width: $avatar-bp + $avatar-x)
        background-position-x: -($avatar-w*2)
      @media screen and (min-width: $avatar-bp + $avatar-x*2)
        background-position-x: 0
        background-position-y: -($avatar-h)
      @media screen and (min-width: $avatar-bp + $avatar-x*3)
        background-position-x: -($avatar-w)
      @media screen and (min-width: $avatar-bp + $avatar-x*4)
        background-position-x: -($avatar-w*2)
      @media screen and (min-width: $avatar-bp + $avatar-x*5)
        background-position-x: 0
        background-position-y: -($avatar-h*2)
      @media screen and (min-width: $avatar-bp + $avatar-x*6)
        background-position-x: -($avatar-w)
      @media screen and (min-width: $avatar-bp + $avatar-x*7)
        background-position-x: -($avatar-w*2)
      @media screen and (min-width: $avatar-bp + $avatar-x*8)
        background-position-x: 0
        background-position-y: -($avatar-h*3)
      @media screen and (min-width: $avatar-bp + $avatar-x*9)
        background-position-x: -($avatar-w)
      @media screen and (min-width: $avatar-bp + $avatar-x*10)
        background-position-x: -($avatar-w*2)
      @media screen and (min-width: $avatar-bp + $avatar-x*11)
        background-position-x: 0
        background-position-y: -($avatar-h*4)
      @media screen and (min-width: $avatar-bp + $avatar-x*12)
        background-position-x: -($avatar-w)
      @media screen and (min-width: $avatar-bp + $avatar-x*13)
        background-position-x: -($avatar-w*2)
      @media screen and (min-width: $avatar-bp + $avatar-x*14)
        background-position-x: 0
        background-position-y: -($avatar-h*5)
      @media screen and (min-width: $avatar-bp + $avatar-x*15)
        background-position-x: -($avatar-w)

  main
    @media screen and (min-width: $bp-sm + 1)
      display: grid
      grid-template-columns: minmax(300px,600px) minmax(230px,1fr)
      grid-column-gap: 6vw

  .bio
    @media screen and (max-width: $bp-sm)
      padding-bottom: 20px
      margin-bottom: 40px
      border-bottom: 2px solid $teal

  .links
    flex: 1
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
    grid-column-gap: 3em
    align-content: start

    li:not(:last-child)
      margin-bottom: 1.2em

    a
      link-alt()

    small
      display: block

  .contact li
    display: inline
    &:not(:first-of-type):before
      content: ' / '

  .coffee
    margin-left: 2px
    padding: 6px 0 6px 26px
    background: no-repeat left center
    background-image: url('/assets/images/archive/2020/coffee.svg')
    background-size: 20px 30px
