/*--------------------------------------------------------------------
* $ARCHIVE
--------------------------------------------------------------------*/

.archive

  .main-nav .nav-archive
    nav-active()

.archive-list
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
  grid-gap: 3em

  a
    link-alt()
    &.archive-image
      hoverShadow()

  .links
    display: flex
    justify-content: space-between

  .study a
    font-weight: $font-weight-light

  img
    margin-bottom: .5em
    display: block

    &.border
      border: 1px solid $grey-lightest
