extends _layout

block vars
  - var description = 'Lynn Fisher is an artist and designer from Chandler, Arizona.'
  - var bodyClass = 'about'

block title
  | 2015 Site Archive - About - 

block content

  .about-intro
    .preview
    .description
      h1 Hello! I’m Lynn Fisher.
      p I love making things for the web and for walls.
      p I currently work with my heroes at #[a(href='https://andyet.com') &yet], where I design and develop interfaces and occasionally draw pictures.
      p I’m passionate about designing for the web, making decisions in the browser, and improving the way designers and developers work together.
      p I live in Chandler, Arizona with my husband Clay and our two pups, #[a(href='http://packdog.com/boomer-5') Boomer] and #[a(href='http://packdog.com/helo-1') Helo].
      p Feel free to send me an #[a(href='mailto:lynn@lynnandtonic.com') electronic letter].

  blockquote
    span “What’s truly extraordinary about Lynn is her ability to envision new solutions to problems and persuade others to embrace them, an ability that extends far beyond her role as a designer.”
      cite John Trimble

  .about-press
    .press
      h2 Events and Press
      ul
        li: a(href='/thoughts/entries/talk-illustration-with-css/') Spoke at CSSDay Phoenix 2015
        li: a(href='http://phxdw.com/') Spoke at Phoenix Design Week 2015
        li: a(href='https://speakerdeck.com/lynnandtonic/be-good-at-lots-of-things') Spoke at &yetConf 2015
        li: a(href='http://hereandnow.wbur.org/2015/04/01/airport-codes-mysteries') Appeared on NPR’s ‘Here & Now’
        li: a(href='http://www.cnn.com/2015/04/01/travel/airport-codes/index.html') ‘Airport Codes’ picked as Addictive Site of the Week by CNN
        li: a(href='http://www.vox.com/2015/3/24/8284391/airport-codes') ‘Airport Codes’ featured on vox.com
        li: a(href='http://www.creativebloq.com/net-magazine') ‘A Single Div’ featured in Net Magazine Issue 261
        li: a(href='http://baladycreatives.com/lynn-fisher/') Named a Badass Lady Creative
        li: a(href='https://speakerdeck.com/lynnandtonic/developers-as-intentional-designers') Spoke at JSConf Brazil 2014
        li: a(href='http://phxdw.com/') Spoke on ‘Women in Design’ panel at Phoenix Design Week 2013
        li: a(href='http://www.phoenixnewtimes.com/arts/59-lynn-fisher-6558326') Named one of Phoenix New Times 100 Creatives 2010
    .preview

  blockquote
    span “Lynn is to pizza as Cookie Monster is to cookies.”
      cite Nick Crohn

  .social
    a.social-link.twitter(href='https://twitter.com/lynnandtonic') Twitter
    a.social-link.instagram(href='http://instagram.com/lynnandtonic') Instagram
    a.social-link.github(href='https://github.com/lynnandtonic') GitHub
    a.social-link.dribbble(href='https://dribbble.com/lynnandtonic') Dribbble
    a.social-link.pinterest(href='http://www.pinterest.com/lynnandtonic/') Pinterest
    a.social-link.wordpress(href='http://lynnandtonicblog.com/') Lynnandtonicblog
