extends _layout

block vars
  - var description = 'The portfolio of Lynn Fisher, artist and designer'
  - var bodyClass = 'work'

block title
  | 2015 Site Archive - Work - 

block content

  a.project(href='/archive/2015/work/top-chef-stats')
    img(src='/assets/images/archive/2015/top-chef-stats-thumb.jpg')
    .caption
      h2 Top Chef Stats
      span View

  a.project(href='/archive/2015/work/icons-illustrations')
    img(src='/assets/images/archive/2015/icons-thumb.png')
    .caption
      h2 Icons & Illustrations
      span View

  a.project(href='/archive/2015/work/airport-codes')
    img(src='/assets/images/archive/2015/airport-codes-thumb.jpg')
    .caption
      h2 Airport Codes
      span View

  a.project(href='/archive/2015/work/benjamin-heise')
    img(src='/assets/images/archive/2015/benjamin-heise-thumb.jpg')
    .caption
      h2 Benjamin Heise
      span View

  a.project(href='/archive/2015/work/a-single-div')
    img(src='/assets/images/archive/2015/a-single-div-thumb.jpg')
    .caption
      h2 A Single Div
      span View

  a.project(href='/archive/2015/work/crohn-wedding')
    img(src='/assets/images/archive/2015/crohn-wedding-thumb.jpg')
    .caption
      h2 Crohn Wedding
      span View

  a.project(href='/archive/2015/work/logical-doctor')
    img(src='/assets/images/archive/2015/logical-doctor-thumb.jpg')
    .caption
      h2 The Logical Doctor
      span View

  a.project(href='/archive/2015/work/whyaz')
    img(src='/assets/images/archive/2015/whyaz-thumb.jpg')
    .caption
      h2 WhyAZ
      span View

  a.project(href='/archive/2015/work/where-dwell-the-brave-at-heart')
    img(src='/assets/images/archive/2015/where-dwell-the-brave-at-heart-thumb.jpg')
    .caption
      h2 Where Dwell the Brave at Heart
      span View

  a.project(href='/archive/2015/work/cadmium')
    img(src='/assets/images/archive/2015/cadmium-thumb.jpg')
    .caption
      h2 Cadmium
      span View

  a.project(href='/archive/2015/work/arwen')
    img(src='/assets/images/archive/2015/arwen-thumb.jpg')
    .caption
      h2 Arwen
      span View

  a.project(href='/archive/2015/work/paintstagram1')
    img(src='/assets/images/archive/2015/paintstagram1-thumb.jpg')
    .caption
      h2 Paintstagram
      span View

  a.project(href='/archive/2015/work/paintstagram2')
    img(src='/assets/images/archive/2015/paintstagram2-thumb.jpg')
    .caption
      h2 Paintstagram
      span View

  a.project(href='/archive/2015/work/notconf')
    img(src='/assets/images/archive/2015/notconf-thumb.jpg')
    .caption
      h2 NotConf
      span View

  a.project(href='/archive/2015/work/may-the-goose-be-with-you')
    img(src='/assets/images/archive/2015/may-the-goose-be-with-you-thumb.jpg')
    .caption
      h2 May the Goose Be With You
      span View

  a.project(href='/archive/2015/work/japanese-american-gothic')
    img(src='/assets/images/archive/2015/japanese-american-gothic-thumb.jpg')
    .caption
      h2 Japanese American Gothic
      span View

  a.project(href='/archive/2015/work/cartoons-playing-poker')
    img(src='/assets/images/archive/2015/cartoons-playing-poker-thumb.jpg')
    .caption
      h2 Cartoons Playing Poker
      span View

  a.project(href='/archive/2015/work/character-studies')
    img(src='/assets/images/archive/2015/character-studies-thumb.jpg')
    .caption
      h2 Character Studies
      span View
