nav.main-nav
  a.nav-home(href='/archive/2023') LF
  a.nav-about(href='/archive/2023/work') Work
  a.nav-about(href='/archive/2023/about') About
  a.nav-thoughts(href='#') Thoughts
  a.nav-archive(href='/archive') Archive
  .mode-toggle
    button(class='[ toggle-button ] [ js-mode-toggle ]')
      span(class='toggle-icon' aria-hidden='true')
        include ../../../../_assets/images/archive/2023/theme-icons.svg
      span(class='[ toggle-text ] [ js-mode-toggle-text ]') Mode
