extends _layout

block vars
  - var pageTitle = 'Nowhere'
  - var pageDescription = 'Page not found.'
  - var bodyClass = 'fourohfour utility'

block header

  p.chapter ?
  h1#content 404

block content

  .container
    .content
      p Unfortunately what was here is now gone. Perhaps lost to time or perhaps it was never here at all.
