extends layout

block vars
  - var pageTitle = 'Nowhere'
  - var pageDescription = 'Page not found. We can be lost together.'
  - var bodyClass = 'fourohfour utility'

block content

  header#content.center
    h1 404

  main
