extends layout

block vars
  - var pageDescription = 'Lynn Fisher is an artist, designer, and developer from Phoenix, Arizona.'
  - var bodyClass = 'fourohfour'

block title
  | Page Not Found - 

block content

  .container.center
    img(src='/assets/images/sprite-pickle.svg', alt='an illustration of Lynn Fisher in a pickle costume in the style of Bob’s Burgers')
    h1 404
    h3 Looks like you’re in a bit of a pickle.
