extends layout

block vars
  - var pageDescription = 'Lynn Fisher is an artist, designer, and developer from Phoenix, Arizona.'
  - var bodyClass = 'fourohfour'

block title
  | Page Not Found - 

block content

  .container.center
    img(src='/assets/images/illo-gandalf.jpg')
    h1 404
    h3 Fly you fools!
