extends layout

block vars
  - var pageDescription = 'Lynn Fisher is an artist, designer, and developer from Chandler, Arizona.'
  - var bodyClass = 'fourohfour'

block title
  | Page Not Found - 

block content

  .container
    h1 404
