extends _layout

block vars
  - var pageTitle = 'Nowhere'
  - var pageDescription = 'Page not found. We can be lost together.'
  - var bodyClass = 'fourohfour utility'

block header

  h1 404
  .callout
    a(href='/') Go back home
    span ➺

block content

  p hi
