extends layout

block vars
  - var pageTitle = 'Nowhere'
  - var pageDescription = 'Page not found. We can be lost together.'
  - var bodyClass = 'fourohfour'

block content

  .container
    .intro
      h1 404
      p Stay low to the ground or they’ll sniff you out
        br
        | You never know what you will find
        br
        | When you go out of the blackness
        br
        | Into the great big sky
        br
        | Supercollider
        br
        | Shooting inside your mind
        br

    img.space-illo(src='/assets/images/space.svg' alt='portrait of the artist in a space helmet and suit floating among the stars')
