extends layout

block vars
  - var pageTitle = 'Lynn Fisher'
  - var pageDescription = 'I’m Lynn Fisher, a designer, developer, and artist from Phoenix, Arizona.'
  - var bodyClass = 'home'

block content

  h1 Lynn Fisher

  //- not visual, but don’t remove
  span.mask
  .face#blue
    img.left(src='/assets/images/left-blue.svg', alt='left side of Lynn’s face in blue')
    img.right(src='/assets/images/right-blue.svg', alt='right side of blue face')
  span.mask
    .left
    .right
  .face#skull
    img.left(src='/assets/images/left-skull.svg', alt='left side of a skull')
    img.right(src='/assets/images/right-skull.svg', alt='right side of a skull')
  span.mask
    .left
    .right
  .face#pizza
    img.left(src='/assets/images/left-pizza.svg', alt='left side of a pizza')
    img.right(src='/assets/images/right-pizza.svg', alt='right side of a pizze')
  span.mask
    .left
    .right
  .face#pops
    img.left(src='/assets/images/left-pops.svg', alt='left side of Lynn’s face in pop art style')
    img.right(src='/assets/images/right-pops.svg', alt='right side of pop art face')
  span.mask
    .left
    .right
  .face#mustache
    img.left(src='/assets/images/left-mustache.svg', alt='left side of Lynn’s face in black and white and wearing those glasses with fake nose and mustache')
    img.right(src='/assets/images/right-mustache.svg', alt='right side of mustache face')
  span.mask
    .left
    .right
  .face#picasso
    img.left(src='/assets/images/left-picasso.svg', alt='left side of Lynn’s face in cubist style')
    img.right(src='/assets/images/right-picasso.svg', alt='right side of cubist face')
  span.mask
    .left
    .right
  .face#helmet
    img.left(src='/assets/images/left-helmet.svg', alt='left side of a space helmet')
    img.right(src='/assets/images/right-helmet.svg', alt='right side of helmet')
  span.mask
    .left
    .right
  .face#cyborg
    img.left(src='/assets/images/left-cyborg.svg', alt='left side of Lynn’s face as a golden cyborg')
    img.right(src='/assets/images/right-cyborg.svg', alt='right side of cyborg face')

  #puppet
    img(src='/assets/images/puppet.svg', alt='a tiny Lynn pulling ropes controlling large mechanical arms connected to the faces')
  #neck
    img(src='/assets/images/neck.svg', alt='Lynn’s neck and hoodie')
