extends layout

block vars
  - var pageDescription = 'Lynn Fisher is an artist, designer, and developer from Phoenix, Arizona.'
  - var bodyClass = 'home'

block content

  h1 Lynn Fisher

  .face#blue
    img.left(src='/assets/images/left-blue.svg')
    img.right(src='/assets/images/right-blue.svg')
  .mask.mask-skull.left
    .shadow.left
  .mask.mask-skull.right
    .shadow.right
  .face#skull
    img.left(src='/assets/images/left-skull.svg')
    img.right(src='/assets/images/right-skull.svg')
  .mask.mask-pizza.left
    .shadow.left
  .mask.mask-pizza.right
    .shadow.right
  .face#pizza
    img.left(src='/assets/images/left-pizza.svg')
    img.right(src='/assets/images/right-pizza.svg')
  .face#pop
    img.left(src='/assets/images/left-pop.svg')
    img.right(src='/assets/images/right-pop.svg')

  #neck
    img(src='/assets/images/neck.svg')
