extends _layout

block vars
  - var pageTitle = 'Home'
  - var pageDescription = 'Lynn Fisher is a web designer, CSS developer, and artist from Phoenix, Arizona.'
  - var bodyClass = 'home'

block header

  h1 Lynn <br>Fisher
    //- span.visually-hidden Lynn Fisher
    //- include ../_assets/images/headline-lynnfisher2.svg
  h2 Designer for the Web

block content

  .container
    //- small Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pretium ipsum massa, a malesuada libero dignissim eget. Nunc sed mi auctor, consectetur eros ut, euismod metus. Proin cursus sit amet quam sodales tempor.
    //- .publish
    //-   span.version Version 19
    //-   strong.date December 2025
    //-   span.location Phoenix, AZ
    include includes/main-nav
