extends layout

block vars
  - var pageDescription = 'Lynn Fisher is an artist, designer, and developer from Phoenix, Arizona.'
  - var bodyClass = 'home'

block content

  h1 Lynn Fisher

  //- not visual, but don’t remove
  span.mask
  .face#blue
    img.left(src='/assets/images/left-blue.svg')
    img.right(src='/assets/images/right-blue.svg')
  span.mask
    .left
    .right
  .face#skull
    img.left(src='/assets/images/left-skull.svg')
    img.right(src='/assets/images/right-skull.svg')
  span.mask
    .left
    .right
  .face#pizza
    img.left(src='/assets/images/left-pizza.svg')
    img.right(src='/assets/images/right-pizza.svg')
  span.mask
    .left
    .right
  .face#pops
    img.left(src='/assets/images/left-pops.svg')
    img.right(src='/assets/images/right-pops.svg')
  span.mask
    .left
    .right
  .face#mustache
    img.left(src='/assets/images/left-mustache.svg')
    img.right(src='/assets/images/right-mustache.svg')
  span.mask
    .left
    .right
  .face#picasso
    img.left(src='/assets/images/left-picasso.svg')
    img.right(src='/assets/images/right-picasso.svg')
  span.mask
    .left
    .right
  .face#helmet
    img.left(src='/assets/images/left-helmet.svg')
    img.right(src='/assets/images/right-helmet.svg')
  span.mask
    .left
    .right
  .face#cyborg
    img.left(src='/assets/images/left-cyborg.svg')
    img.right(src='/assets/images/right-cyborg.svg')

  #puppet
    img(src='/assets/images/puppet.svg')
  #neck
    img(src='/assets/images/neck.svg')
