extends layout

block vars
  - var pageTitle = 'Test'
  - var pageDescription = 'Just a little test page.'
  - var pagePath = 'test'
  - var bodyClass = 'test'
  - var ogImage = 'test-og'

block header

  h1 Oh hello!
  .callout
    span
      This is a test page

block content

  h2 Boop.
