extends layout

block vars
  - var pageDescription = 'Thoughts on design and the web by Lynn Fisher.'
  - var bodyClass = 'thoughts'

block title
  | Thoughts - 

mixin thought(date,title,href, source)
  .thought
    small.date= date
    a.project-title(href=href)
      span= title
    small.external= source

block content

  .content

    +thought('March 2016', '&you Dispatch #29: Alignment', 'http://createsend.com/t/r-6C4ADAFBE3116E7C2540EF23F30FEDED', '&yet &you Newsletter')
    +thought('February 2016', 'Design for Developers and Where to Start', 'https://blog.andyet.com/2016/02/16/design-for-devs-where-to-start/', '&yet Blog')
    +thought('January 2016', 'UX and WebRTC blog series', 'https://blog.andyet.com/2016/01/21/att-webrtc-ux-series/', '&yet Blog')
    +thought('January 2016','CSSDay Talk: Illustration with CSS','/thoughts/entries/talk-illustration-with-css')
    +thought('October 2015','Highlights and Quotes from Phoenix Design Week Method + Madness','/thoughts/entries/highlights-and-quotes-from-phxdw-2015')
    +thought('November 2014','On making design decisions','https://blog.andyet.com/2014/11/21/on-making-design-decisions', '&yet Blog')
    +thought('September 2014','Single Div Drawings with CSS','https://hacks.mozilla.org/2014/09/single-div-drawings-with-css/','Mozilla Hacks')
    +thought('May 2014','On giving my first-ever conference talk','/thoughts/entries/on-giving-my-first-ever-conference-talk')
    +thought('January 2014','Advice for young designers and future me','/thoughts/entries/advice-for-young-designers-and-future-me')
    +thought('October 2013','Good. Better. Best.','/thoughts/entries/good-better-best')
    +thought('August 2013','CSS is a designer’s medium','/thoughts/entries/css-is-a-designers-medium')
    +thought('August 2013','Why WhyAZ?','http://blog.meltmedia.com/2013/08/why-whyaz/','meltmedia Blog')
    +thought('July 2013','Clients, water softeners, and “my nephew the designer”','/thoughts/entries/clients-water-softeners-and-my-nephew-the-designer')
    +thought('July 2013','High performance teams need more than talent','/thoughts/entries/high-performance-teams-need-more-than-talent')
    +thought('June 2013','I don’t know what I’m doing.','/thoughts/entries/i-dont-know-what-im-doing')
    +thought('May 2013','The Most Important Trait in a Designer (MITIAD)','/thoughts/entries/the-most-important-trait-in-a-designer')
    +thought('April 2013','Why are designers* so bad at scoping?','/thoughts/entries/why-are-designers-so-bad-at-scoping')
    +thought('March 2013','Three books that changed my professional (and personal) perspective','/thoughts/entries/three-books-that-changed-my-professional-and-personal-perspective')
    +thought('February 2013','Things are hard before they are easy','/thoughts/entries/things-are-hard-before-they-are-easy')
    +thought('February 2013','Start by speaking the same language','/thoughts/entries/start-by-speaking-the-same-language')
    +thought('February 2013','How I fell in love with designing for the web','/thoughts/entries/how-i-fell-in-love-with-designing-for-the-web')
