extends _layout

block vars
  - var pageTitle = 'Thoughts'
  - var pageDescription = 'Writing by Lynn Fisher about design, development, the web industry, and more.'
  - var pagePath = 'thoughts'
  - var bodyClass = 'thoughts'

mixin thought(date,title,href,source)
  .thought
    a.thought-title(href=href)
      span= title
    if source
      small.external= source
    //- small.date= date

block header

  h1 Thoughts

  .callout
    small
      span
        include ../_assets/images/icon-rss.svg
      a(href='/feed.xml') Subscribe to RSS
    small
      a(href='https://lynnandtonicblog.com') My other blog
      span ➺

block content

  section.content

    .thoughts-list

      h2.dateline 2024
      +thought('May 2024', 'Ten years of A Single Div', '/thoughts/entries/ten-years-of-a-single-div')
      +thought('May 2024', 'When your work disappears', '/thoughts/entries/when-your-work-disappears')
      +thought('March 2024', 'I archived my tweets', '/thoughts/entries/i-archived-my-tweets')
      +thought('March 2024', 'Case Study: lynnandtonic.com 2023 refresh', '/thoughts/entries/case-study-2023-refresh')
      +thought('February 2024', 'A decade of working remotely', '/thoughts/entries/a-decade-of-working-remotely')
      +thought('January 2024', 'SVG export wishlist', '/thoughts/entries/svg-export-wishlist')
      h2.dateline 2023
      +thought('February 2023', 'The nbsp; was breaking after all', '/thoughts/entries/the-nbsp-was-breaking-after-all')
      +thought('February 2023', 'Put your name on it', '/thoughts/entries/put-your-name-on-it')
      +thought('February 2023', 'Unordered, incomplete list of things I want from a job', '/thoughts/entries/unordered-incomplete-list-of-things-i-want-from-a-job')
      +thought('January 2023', 'Case Study: lynnandtonic.com 2022 refresh', '/thoughts/entries/case-study-2022-refresh')
      h2.dateline 2022
      +thought('November 2022', 'Some things I worked on at Netlify', '/thoughts/entries/some-things-i-worked-on-at-netlify')
      +thought('June 2022', 'Fun CSS-only scrolling effects for Matterday', '/thoughts/entries/fun-css-only-scrolling-effects-for-matterday')
      +thought('January 2022', 'Case Study: lynnandtonic.com 2021 refresh', '/thoughts/entries/case-study-2021-refresh')
      h2.dateline 2021
      +thought('June 2021', 'Fixing a design flaw that’s also an industry standard', '/thoughts/entries/fixing-a-design-flaw-thats-also-an-industry-standard')
      h2.dateline 2020
      +thought('December 2020', 'Case Study: lynnandtonic.com 2020 refresh', '/thoughts/entries/case-study-2020-refresh')
      h2.dateline 2019
      +thought('December 2019', 'Cookies and a year of learning a new skill', '/thoughts/entries/cookies-and-a-year-of-learning-a-new-skill')
      +thought('November 2019', 'Case Study: lynnandtonic.com 2019 refresh', '/thoughts/entries/case-study-2019-refresh')
      +thought('June 2019', 'The value of an outside perspective', '/thoughts/entries/the-value-of-an-outside-perspective')
      +thought('May 2019', 'Five years of A Single Div', '/thoughts/entries/five-years-of-a-single-div')
      +thought('February 2019', 'Sabbaticals and muscle memory', '/thoughts/entries/sabbaticals-and-muscle-memory')
      +thought('January 2019', '2018 British Arrows Awards', '/thoughts/entries/2018-british-arrows-awards')
      h2.dateline 2018
      +thought('December 2018', 'Case Study: lynnandtonic.com 2018 refresh', '/thoughts/entries/case-study-2018-refresh')
      +thought('October 2018', 'Thoughts from Phoenix Design Week 2018', '/thoughts/entries/thoughts-from-phxdw-2018')
      +thought('April 2018', 'Why give a conference talk? But also, why not.', '/thoughts/entries/why-give-a-conference-talk-and-why-not')
      +thought('January 2018', 'Why do work without a practical purpose?', '/thoughts/entries/why-do-work-without-a-practical-purpose')
      +thought('January 2018', 'Case Study: lynnandtonic.com 2017 refresh', '/thoughts/entries/case-study-2017-refresh')
      h2.dateline 2016
      +thought('March 2016', 'Alignment', '/thoughts/entries/alignment')
      +thought('February 2016', 'Design for developers and where to start', '/thoughts/entries/design-for-developers-and-where-to-start')
      //- +thought('January 2016', 'UX and WebRTC blog series', 'https://blog.andyet.com/2016/01/21/att-webrtc-ux-series/', '&yet Blog')
      +thought('January 2016','CSSDay Talk: Illustration with CSS','/thoughts/entries/talk-illustration-with-css')
      h2.dateline 2015
      +thought('October 2015','Highlights and quotes from Phoenix Design Week Method + Madness','/thoughts/entries/highlights-and-quotes-from-phxdw-2015')
      h2.dateline 2014
      +thought('November 2014','On making design decisions','/thoughts/entries/on-making-design-decisions')
      +thought('September 2014','Single Div Drawings with CSS','https://hacks.mozilla.org/2014/09/single-div-drawings-with-css/','Mozilla Hacks')
      +thought('May 2014','On giving my first-ever conference talk','/thoughts/entries/on-giving-my-first-ever-conference-talk')
      +thought('January 2014','Advice for young designers and future me','/thoughts/entries/advice-for-young-designers-and-future-me')
      h2.dateline 2013
      +thought('October 2013','Good. Better. Best.','/thoughts/entries/good-better-best')
      +thought('August 2013','CSS is a designer’s medium','/thoughts/entries/css-is-a-designers-medium')
      +thought('August 2013','Why WhyAZ?','/thoughts/entries/why-whyaz')
      +thought('July 2013','Clients, water softeners, and “my nephew the designer”','/thoughts/entries/clients-water-softeners-and-my-nephew-the-designer')
      +thought('July 2013','High performance teams need more than talent','/thoughts/entries/high-performance-teams-need-more-than-talent')
      +thought('June 2013','I don’t know what I’m doing.','/thoughts/entries/i-dont-know-what-im-doing')
      +thought('April 2013','Why are designers* so bad at scoping?','/thoughts/entries/why-are-designers-so-bad-at-scoping')
      +thought('February 2013','Things are hard before they are easy','/thoughts/entries/things-are-hard-before-they-are-easy')
      +thought('February 2013','Start by speaking the same language','/thoughts/entries/start-by-speaking-the-same-language')
      +thought('February 2013','How I fell in love with designing for the web','/thoughts/entries/how-i-fell-in-love-with-designing-for-the-web')
