@font-face
  font-family: "Hubano-Rough"
  src: url('/assets/fonts/Hubano-Rough.woff2') format('woff2')
  font-weight: 400
  font-display: swap

@font-face
  font-family: "SydoniaAtramentiquaRegular"
  src: url('/assets/fonts/SydoniaAtramentiquaRegular.woff2') format('woff2'),
       url('/assets/fonts/SydoniaAtramentiquaRegular.woff') format('woff')
  font-weight: 400
  font-display: swap

@font-face
  font-family: "SydoniaAtramentiquaItalic"
  src: url('/assets/fonts/SydoniaAtramentiquaItalic.woff2') format('woff2'),
       url('/assets/fonts/SydoniaAtramentiquaItalic.woff') format('woff')
  font-weight: 400
  font-display: swap

@font-face
  font-family: "SydoniaAtramentiquaLight"
  src: url('/assets/fonts/SydoniaAtramentiquaLight.woff2') format('woff2'),
       url('/assets/fonts/SydoniaAtramentiquaLight.woff') format('woff')
  font-weight: 100
  font-display: swap

@font-face
  font-family: "SydoniaAtramentiquaBold"
  src: url('/assets/fonts/SydoniaAtramentiquaBold.woff2') format('woff2'),
       url('/assets/fonts/SydoniaAtramentiquaBold.woff') format('woff')
  font-weight: 700
  font-display: swap
