@font-face
  font-family: 'SquadaOne-Regular'
  src: url('/assets/fonts/SquadaOne-Regular.woff2') format('woff2'),
       url('/assets/fonts/SquadaOne-Regular.woff') format('woff'),
       url('/assets/fonts/SquadaOne-Regular.ttf') format('truetype')
  font-weight: 400
  font-display: block
  font-style: normal
