@font-face
  font-family: 'NewTitle-Variable'
  src: url('/assets/fonts/NewTitle-Variable.woff2') format('woff2'),
       url('/assets/fonts/NewTitle-Variable.woff') format('woff'),
       url('/assets/fonts/NewTitle-Variable.ttf') format('truetype')
  font-weight: 200 700
  font-display: block
  font-style: normal
