/*--------------------------------------------------------------------
*
* $VARIABLES
*
--------------------------------------------------------------------*/

$yellow-accent = #FCC941

// dream to deploy colors
$violet-blue = #5e3288
$fuchsia = #9d28a5

$breakpoint-desktop-narrow = 920px