/*-----------------------------

Blockquote styles

-----------------------------*/

blockquote
  width: 100%
  padding: 40px 0
  text-align: center
  font-weight: $font-weight-thin
  display: flex
  align-items: center

  span
    margin: 0 auto
    width: 80%
    max-width: 700px
    display: block
    font-size: 24px

  cite
    margin-top: 20px
    display: block
    font-size: 15px
