block vars
  - var pageDescription = '&yet is an open web company consulting on WebRTC, Node, and advanced JavaScript applications.'
  - var viewClass = 'default'
  - var headlineClass = 'four-oh-four'
  - var headlineText = 'You look lost...'

extends layout

block title
  | Page not found | 

block content
  section.center
    figure
      img(src='/images/illustration-yeti.gif', alt='Running Yeti')
    h2 Sorry, there’s nothing here. <br>Just you and me.