block vars
  - var pageDescription = '&yet is an open web company consulting on WebRTC, Node, and advanced JavaScript applications.'
  - var viewClass = 'header-short'
  - var headlineClass = '500'
  - var headlineText = 'Server error'

extends layout

block title
  | Server error | 
block content
  section.center
    figure
      img(src='/images/illustration-yeti.gif', alt='Running Yeti')
    h2 Welp. Server error. <br> This might be the end.