block vars
  - var pageDescription = 'Meet the &yet team: an open web, people first company.'
  - var viewClass = 'default'
  - var headlineClass = 'about'
  - var headlineText = '&yet is about people'

extends layout

block title
  | About | 

block content
  section.center
    h4 &yet Team
    include includes/team-list

  section.center
    h3 What’s in a name?
    p The common phrase “and yet” 
      br 
      | is poetry’s simple-machine lever. 
    p Whether said with stuttering 
      br
      | hesitance or inspiring confidence, 
      br 
      | it always means a departure 
      br 
      | from what came before. 
    p “And yet” humbly hints at the 
      br
      | precise moment of possibility.

  section.content-narrower
    h3.center Our backstory
    p <a href='/team/adam'>Adam Brault</a> started &yet in 2008. His goal? Work on projects he believed in, doing things that made him learn and grow, with people who inspired him. Adam loved creativity, writing, web dev, UX design, branding, strategy, and making new things—so there was an awful lot he did.

    p During that first year, Adam met <a href='/team/amy'>Amy Lynn Taylor</a>, <a href='/team/baldwin'>Adam Baldwin</a>, and <a href='/team/nathan'>Nathan Fritz</a>—who would all become part of our team.

    p In 2009, &yet was a web development company, but when Nathan Fritz joined the team, we began focusing on “realtime” software, at his suggestion. We built our first product, FrontDesk (a drop-in chat for websites) and we worked on an ambitious client project for RECON Dynamics that used every software buzzword imaginable. This was a realtime IoT geolocation asset tracking platform with an API, iOS app, and single-page app in Backbone.

    p For the first few years, Python was the base of most of our server-side code, building a lot of Django apps. In 2010, we started experimenting with this crazy idea of running JavaScript on the server with Node.js—and pretty soon it was everywhere for us. We shipped <a href='http://blog.andyet.com/2012/12/03/the-history-of-and-bang'>And Bang</a> in 2011, a realtime chat and task app that represented one of the earliest production projects built on Node.

    p In 2011, Adam Baldwin joined the team and brought his security expertise. We created <a href='//liftsecurity.io'>^Lift</a> and provided security consulting and education to companies like GitHub, npm, Netflix, and AT&T. ^Lift launched the <a href='//nodesecurity.io'>Node Security Project</a>, aiming to make security a top priority for the Node community.

    p Our involvement in the XMPP and Node communities led us to start the Keepin’ it Realtime Conference in 2011. It was eventually called <a href='http://realtimeconf.com/'>RealtimeConf</a> and was one of the most ambitious things we’ve done. Live music, piles of imagination, riveting technical talks, and inspiration were the hallmarks of RealtimeConf. Oh, and the novel written for the 2013 RealtimeConf (<a href='http://www.amazon.com/Something-Greater-than-Artifice-Speegle-ebook/dp/B00FUF8X0Y'>“Something Greater than Artifice”</a>, by <a href='//twitter.com/mike_speegle'>Mike Speegle</a>) went on to win an Indie Book of the Year Award. The Original Soundtrack (<a href='http://noisetrade.com/benmichel/realtime'>“Realtime”</a> by <a href='//twitter.com/obensource'>Ben Michel</a>) is pretty great, too.

    p We were first introduced to WebRTC at Keepin’ it Realtime in 2011 and did our first client engagement and experiments with it in early 2012, eventually working on several WebRTC projects for AT&T, including a <a href='http://blog.andyet.com/2013/01/15/att-webrtc-and-yet-at-ces'>JavaScript WebRTC SDK which was presented at CES</a>.

    p Our experience building realtime apps with JavaScript and our love of Node.js led us to our own set of opinions and approaches regarding single page apps. <a href='//joreteg.com'>Henrik Joreteg</a> documented and taught these philosophies and methods in his hugely successful book, <a href='http://humanjavascript.com/'>Human JavaScript</a>. Response to these approaches and our team’s desire for a more cohesive story led Henrik, <a href='/team/phil'>Philip Roberts</a>, <a href='/team/luke'>Luke Karrys</a>, <a href='/team/lynn'>Lynn Fisher</a> and <a href='/team/gar'>Michael Garvin</a> to create <a href='//ampersandjs.com'>Ampersand.js</a>, a highly modular, loosely coupled, non-frameworky framework for building advanced JavaScript apps.

    p UX has always been something we care a lot about, and we were lucky to be able to add hybrid designer/devs <a href='/team/lynn'>Lynn Fisher</a> and <a href='/team/terry'>Terry Carter</a> to our team in 2014.

    p WebRTC became a much bigger focus for us with the creation of <a href='//simplewebrtc.com'>SimpleWebRTC</a> and <a href='//talky.io'>Talky</a>. In 2014, the &yet team doubled down on WebRTC, adding to our team <a href='/team/peter'>Peter Saint-Andre</a>, a 15-year leader of realtime software, protocols, and standards.

    p &yet has some other exciting things in store for 2015—including a huge update to Talky. But one thing is clear: &yet’s direction will always be charted by the collective passions and ideas of the unique set of people who call our team home.
