block vars
  - var pageDescription = '&you is a community and newsletter from &yet sparking conversations with awesome people.'
  - var viewClass = 'default'
  - var headlineClass = 'andyou'
  - var headlineText = 'We can’t be &yet without &you'

extends layout

block title
  | &you | 

block content
  section.center

    h1 &you is a community
    h4 But it’s not just a community, either. It’s a <strong>conversation</strong>

    p.content-narrower Every couple weeks, we send a dispatch discussing things we love, things we’re interested in, and things we’re curious about. But most importantly, &you sparks conversations with people like you!

    h4 So hey, let’s learn things together

  section
    .center
      img.logo-andyou(src='/images/andyou-logo.svg')
    include includes/subscribe-inline

  section.center
    h4.mb2 Grab a cup of coffee and catch up with your &you friends

    .andyou-archive

      .andyou-dispatch
        a(href='http://us9.campaign-archive1.com/?u=faa323952110d5be6830f05f5&id=a12e05449f', target='_blank')
          img.avatar.avatar-rounded.avatar-outlined.transition(srcset='/images/andyou/summertime-2x.jpg 2x, /images/andyou/summertime-1x.jpg 1x', width='150', alt='Summertime')
        h5.mb0: a(href='http://us9.campaign-archive1.com/?u=faa323952110d5be6830f05f5&id=a12e05449f', target='_blank') Summertime
        p #32 - June 30, 2016

      .andyou-dispatch
        a(href='http://createsend.com/t/r-839259C4DA01B5692540EF23F30FEDED', target='_blank')
          img.avatar.avatar-rounded.avatar-outlined.transition(srcset='/images/andyou/trust-your-frust-2x.jpg 2x, /images/andyou/trust-your-frust-1x.jpg 1x', width='150', alt='Trust your frust')
        h5.mb0: a(href='http://createsend.com/t/r-839259C4DA01B5692540EF23F30FEDED', target='_blank') Trust your frust
        p #31 - May 23, 2016

      .andyou-dispatch
        a(href='http://createsend.com/t/r-FE11E773E91CF31D2540EF23F30FEDED', target='_blank')
          img.avatar.avatar-rounded.avatar-outlined.transition(srcset='/images/andyou/planting-seeds-2x.jpg 2x, /images/andyou/planting-seeds-1x.jpg 1x', width='150', alt='Planting seeds')
        h5.mb0: a(href='http://createsend.com/t/r-FE11E773E91CF31D2540EF23F30FEDED', target='_blank') Planting seeds
        p #30 - Apr 21, 2016

      .andyou-dispatch
        a(href='http://createsend.com/t/r-6C4ADAFBE3116E7C2540EF23F30FEDED', target='_blank')
          img.avatar.avatar-rounded.avatar-outlined.transition(srcset='/images/andyou/alignment-2x.jpg 2x, /images/andyou/alignment-1x.jpg 1x', width='150', alt='Alignment')
        h5.mb0: a(href='http://createsend.com/t/r-6C4ADAFBE3116E7C2540EF23F30FEDED', target='_blank') Alignment
        p #29 - Mar 16, 2016

      .andyou-dispatch
        a(href='http://createsend.com/t/r-E50251FC30A9CEE02540EF23F30FEDED', target='_blank')
          img.avatar.avatar-rounded.avatar-outlined.transition(srcset='/images/andyou/sardines-2x.jpg 2x, /images/andyou/sardines-1x.jpg 1x', width='150', alt='Creative constraints')
        h5.mb0: a(href='http://createsend.com/t/r-E50251FC30A9CEE02540EF23F30FEDED', target='_blank') Creative constraints
        p #28 - Feb 18, 2016

      .andyou-dispatch
        a(href='http://createsend.com/t/r-0C8FB0E9C0FE1ED82540EF23F30FEDED', target='_blank')
          img.avatar.avatar-rounded.avatar-outlined.transition(srcset='/images/andyou/perspective-2x.jpg 2x, /images/andyou/perspective-1x.jpg 1x', width='150', alt='Take another look')
        h5.mb0: a(href='http://createsend.com/t/r-0C8FB0E9C0FE1ED82540EF23F30FEDED', target='_blank') Take another look
        p #27 - Jan 26, 2016

      .andyou-dispatch
        a(href='http://createsend.com/t/r-41F34C5981731D4B2540EF23F30FEDED', target='_blank')
          img.avatar.avatar-rounded.avatar-outlined.transition(srcset='/images/andyou/holiday-reflection-2x.jpg 2x, /images/andyou/holiday-reflection-1x.jpg 1x', width='150', alt='Take time to reflect')
        h5.mb0: a(href='http://createsend.com/t/r-41F34C5981731D4B2540EF23F30FEDED', target='_blank') Take time to reflect
        p #26 - Dec 17, 2015

      .andyou-dispatch
        a(href='http://createsend.com/t/r-4CABC3E53EDE4E2F2540EF23F30FEDED', target='_blank')
          img.avatar.avatar-rounded.avatar-outlined.transition(srcset='/images/andyou/cornucopia-2x.jpg 2x, /images/andyou/cornucopia-1x.jpg 1x', width='150', alt='Thankful all the time')
        h5.mb0: a(href='http://createsend.com/t/r-4CABC3E53EDE4E2F2540EF23F30FEDED', target='_blank') Thankful all the time
        p #25 - Nov 24, 2015

      .andyou-dispatch
        a(href='http://createsend.com/t/r-96DBDC449372FE482540EF23F30FEDED', target='_blank')
          img.avatar.avatar-rounded.avatar-outlined.transition(srcset='/images/andyou/many-hats-2x.jpg 2x, /images/andyou/many-hats-1x.jpg 1x', width='150', alt='Going against the current')
        h5.mb0: a(href='http://createsend.com/t/r-96DBDC449372FE482540EF23F30FEDED', target='_blank') Be good at lots of things
        p #24 - Nov 6, 2015

      .andyou-dispatch
        a(href='http://createsend.com/t/r-482ED12407513F602540EF23F30FEDED', target='_blank')
          img.avatar.avatar-rounded.avatar-outlined.transition(srcset='/images/andyou/going-against-current-2x.jpg 2x, /images/andyou/going-against-current-1x.jpg 1x', width='150', alt='Going against the current')
        h5.mb0: a(href='http://createsend.com/t/r-482ED12407513F602540EF23F30FEDED', target='_blank') Going against the current
        p #23 - Oct 14, 2015

      .andyou-dispatch
        a(href='http://createsend.com/t/r-36F89457D7C85E192540EF23F30FEDED', target='_blank')
          img.avatar.avatar-rounded.avatar-outlined.transition(srcset='/images/andyou/technology-world-2x.jpg 2x, /images/andyou/technology-world-1x.jpg 1x', width='150', alt='Is technology making the world a better place?')
        h5.mb0: a(href='http://createsend.com/t/r-36F89457D7C85E192540EF23F30FEDED', target='_blank') Is technology making the world a better place?
        p #22 - Oct 1, 2015

      .andyou-dispatch
        a(href='http://createsend.com/t/r-4EB8B9E17FDF426E2540EF23F30FEDED', target='_blank')
          img.avatar.avatar-rounded.avatar-outlined.transition(srcset='/images/andyou/disconnecting-2x.jpg 2x, /images/andyou/disconnecting-1x.jpg 1x', width='150', alt='Disconnecting from technology')
        h5.mb0: a(href='http://createsend.com/t/r-4EB8B9E17FDF426E2540EF23F30FEDED', target='_blank') Disconnecting from technology
        p #21 - Sep 15, 2015

      .andyou-dispatch
        a(href='http://createsend.com/t/r-FD766AB79DD6B9CA2540EF23F30FEDED', target='_blank')
          img.avatar.avatar-rounded.avatar-outlined.transition(srcset='/images/andyou/building-community-2x.jpg 2x, /images/andyou/building-community-1x.jpg 1x', width='150', alt='Building communities')
        h5.mb0: a(href='http://createsend.com/t/r-FD766AB79DD6B9CA2540EF23F30FEDED', target='_blank') Building communities
        p #20 - Aug 28, 2015

      .andyou-dispatch
        a(href='http://createsend.com/t/r-82680DA6A401920A2540EF23F30FEDED', target='_blank')
          img.avatar.avatar-rounded.avatar-outlined.transition(srcset='/images/andyou/time-management-2x.jpg 2x, /images/andyou/time-management-1x.jpg 1x', width='150', alt='Managing time')
        h5.mb0: a(href='http://createsend.com/t/r-82680DA6A401920A2540EF23F30FEDED', target='_blank') Managing time
        p #19 - Aug 13, 2015

      .andyou-dispatch
        a(href='http://createsend.com/t/r-D9A7188D3A3633202540EF23F30FEDED', target='_blank')
          img.avatar.avatar-rounded.avatar-outlined.transition(srcset='/images/andyou/wish-it-2x.jpg 2x, /images/andyou/wish-it-1x.jpg 1x', width='150', alt='Wish it, do it')
        h5.mb0: a(href='http://createsend.com/t/r-D9A7188D3A3633202540EF23F30FEDED', target='_blank') Wish it, do it
        p #18 - Jul 22, 2015

      .andyou-dispatch
        a(href='http://createsend.com/t/r-83A276C311DAA5A92540EF23F30FEDED', target='_blank')
          img.avatar.avatar-rounded.avatar-outlined.transition(srcset='/images/andyou/finishing-things-2x.jpg 2x, /images/andyou/finishing-things-1x.jpg 1x', width='150', alt='Finishing things is painful')
        h5.mb0: a(href='http://createsend.com/t/r-83A276C311DAA5A92540EF23F30FEDED', target='_blank') Finishing things is painful
        p #17 - Jun 24, 2015

      .andyou-dispatch
        a(href='http://createsend.com/t/r-C6DD83E80108DDB62540EF23F30FEDED', target='_blank')
          img.avatar.avatar-rounded.avatar-outlined.transition(srcset='/images/andyou/setting-goals-2x.jpg 2x, /images/andyou/setting-goals-1x.jpg 1x', width='150', alt='Goal setting')
        h5.mb0: a(href='http://createsend.com/t/r-C6DD83E80108DDB62540EF23F30FEDED', target='_blank') Goal setting
        p #16 - Jun 2, 2015

      .andyou-dispatch
        a(href='http://createsend.com/t/r-A819CF5161D6E6B52540EF23F30FEDED', target='_blank')
          img.avatar.avatar-rounded.avatar-outlined.transition(srcset='/images/andyou/robot-heart-2x.jpg 2x, /images/andyou/robot-heart-1x.jpg 1x', width='150', alt='Putting yourself out there')
        h5.mb0: a(href='http://createsend.com/t/r-A819CF5161D6E6B52540EF23F30FEDED', target='_blank') Putting yourself out there
        p #15 - May 21, 2015

      .andyou-dispatch
        a(href='http://createsend.com/t/r-865BA6C896FC9E4B2540EF23F30FEDED', target='_blank')
          img.avatar.avatar-rounded.avatar-outlined.transition(srcset='/images/andyou/ketchup-2x.jpg 2x, /images/andyou/ketchup-1x.jpg 1x', width='150', alt='Catching up')
        h5.mb0: a(href='http://createsend.com/t/r-865BA6C896FC9E4B2540EF23F30FEDED', target='_blank') Catching up
        p #14 - May 6, 2015

      .andyou-dispatch
        a(href='http://createsend.com/t/r-937A8D8FF8A75D5E2540EF23F30FEDED', target='_blank')
          img.avatar.avatar-rounded.avatar-outlined.transition(srcset='/images/andyou/sidetracked-2x.jpg 2x, /images/andyou/sidetracked-1x.jpg 1x', width='150', alt='Playing is productive')
        h5.mb0: a(href='http://createsend.com/t/r-937A8D8FF8A75D5E2540EF23F30FEDED', target='_blank') Playing is productive
        p #13 - Apr 15, 2015

      .andyou-dispatch
        a(href='http://createsend.com/t/r-B55ACD953FB47EB82540EF23F30FEDED', target='_blank')
          img.avatar.avatar-rounded.avatar-outlined.transition(srcset='/images/andyou/choosing-trust-1x.jpg 1x, /images/andyou/choosing-trust-2x.jpg 2x,', width='150')
        h5.mb0: a(href='http://createsend.com/t/r-B55ACD953FB47EB82540EF23F30FEDED', target='_blank') Choosing trust
        p #12 - Apr 1, 2015

      .andyou-dispatch
        a(href='http://createsend.com/t/r-4D642B25C555C15D2540EF23F30FEDED', target='_blank')
          img.avatar.avatar-rounded.avatar-outlined.transition(srcset='/images/andyou/staying-connected-2x.jpg 2x, /images/andyou/staying-connected-1x.jpg 1x', width='150', alt='Staying connected')
        h5.mb0: a(href='http://createsend.com/t/r-4D642B25C555C15D2540EF23F30FEDED', target='_blank') Staying connected
        p #11 - Mar 19, 2015

      .andyou-dispatch
        a(href='http://createsend.com/t/r-5019DD182E39EC0E2540EF23F30FEDED', target='_blank')
          img.avatar.avatar-rounded.avatar-outlined.transition(srcset='/images/andyou/prancing-yeti-2x.jpg 2x, /images/andyou/prancing-yeti-1x.jpg 1x', width='150', alt='Haters')
        h5.mb0: a(href='http://createsend.com/t/r-5019DD182E39EC0E2540EF23F30FEDED', target='_blank') Haters
        p #10 - Mar 5, 2015

      .andyou-dispatch
        a(href='http://createsend.com/t/r-94C611B9813DD0002540EF23F30FEDED', target='_blank')
          img.avatar.avatar-rounded.avatar-outlined.transition(srcset='/images/andyou/happy-birthday-2x.jpg 2x, /images/andyou/happy-birthday-1x.jpg 1x', width='150', alt='Its our birthday!')
        h5.mb0: a(href='http://createsend.com/t/r-94C611B9813DD0002540EF23F30FEDED', target='_blank') It’s our birthday!
        p #9 - Feb 20, 2015

      .andyou-dispatch
        a(href='http://createsend.com/t/r-DEFA56C1AC55B8AF2540EF23F30FEDED', target='_blank')
          img.avatar.avatar-rounded.avatar-outlined.transition(srcset='/images/andyou/savory-dessert-2x.jpg 2x, /images/andyou/savory-dessert-1x.jpg 1x', width='150', alt='Expectations')
        h5.mb0: a(href='http://createsend.com/t/r-DEFA56C1AC55B8AF2540EF23F30FEDED', target='_blank') Expectations
        p #8 - Feb 3, 2015

      .andyou-dispatch
        a(href='http://createsend.com/t/r-64133FD657E92AE02540EF23F30FEDED', target='_blank')
          img.avatar.avatar-rounded.avatar-outlined.transition(srcset='/images/andyou/frame-2x.jpg 2x, /images/andyou/frame-1x.jpg 1x', width='150', alt='Reframing')
        h5.mb0: a(href='http://createsend.com/t/r-64133FD657E92AE02540EF23F30FEDED', target='_blank') Reframing
        p #7 - Jan 21, 2015

      .andyou-dispatch
        a(href='http://createsend.com/t/r-F01E5954123F25042540EF23F30FEDED', target='_blank')
          img.avatar.avatar-rounded.avatar-outlined.transition(srcset='/images/andyou/you-viewmaster-2x.jpg 2x, /images/andyou/you-viewmaster-1x.jpg 1x', width='150', alt='Motivation')
        h5.mb0: a(href='http://createsend.com/t/r-F01E5954123F25042540EF23F30FEDED', target='_blank') Motivation
        p #6 - Jan 6, 2015

      .andyou-dispatch
        a(href='/andyou/specialSignup')
          img.avatar.avatar-rounded.avatar-outlined.transition(srcset='/images/andyou/youChristmasIllustrations-2x.jpg 2x, /images/andyou/youChristmasIllustrations-1x.jpg 1x', width='150', alt='Holiday special')
        h5.mb0: a(href='/andyou/specialSignup') Holiday special
        p #5 - Dec 18, 2014

      .andyou-dispatch
        a(href='http://createsend.com/t/r-0BB20BB514E6368F2540EF23F30FEDED', target='_blank')
          img.avatar.avatar-rounded.avatar-outlined.transition(srcset='/images/andyou/science-lab-2x.jpg 2x, /images/andyou/science-lab-1x.jpg 1x', width='150', class='Experimenting')
        h5.mb0: a(href='http://createsend.com/t/r-0BB20BB514E6368F2540EF23F30FEDED', target='_blank') Experimenting
        p #4 - Dec 9, 2014

      .andyou-dispatch
        a(href='http://createsend.com/t/r-7C0786F42D367D122540EF23F30FEDED', target='_blank')
          img.avatar.avatar-rounded.avatar-outlined.transition(srcset='/images/andyou/space-turkey-2x.jpg 2x, /images/andyou/space-turkey-1x.jpg 1x', width='150', alt='Gratitude')
        h5.mb0: a(href='http://createsend.com/t/r-7C0786F42D367D122540EF23F30FEDED', target='_blank') Gratitude
        p #3 - Nov 26, 2014

      .andyou-dispatch
        a(href='http://createsend.com/t/r-717280AE95FEA0FD2540EF23F30FEDED', target='_blank')
          img.avatar.avatar-rounded.avatar-outlined.transition(srcset='/images/andyou/crashingship-2x.jpg 2x, /images/andyou/crashingship-1x.jpg 1x', width='150', alt='Changing course')
        h5.mb0: a(href='http://createsend.com/t/r-717280AE95FEA0FD2540EF23F30FEDED', target='_blank') Changing course
        p #2 - Nov 13, 2014

      .andyou-dispatch
        a(href='http://createsend.com/t/r-DB29DA2FE6012AD32540EF23F30FEDED', target='_blank')
          img.avatar.avatar-rounded.avatar-outlined.transition(srcset='/images/andyou/start-something-2x.jpg 2x, /images/andyou/start-something-1x.jpg 1x', width='150', alt='Beginnings')
        h5.mb0: a(href='http://createsend.com/t/r-DB29DA2FE6012AD32540EF23F30FEDED', target='_blank') Beginnings
        p #1 - Oct 28, 2014

      .andyou-dispatch

