block vars
  - var pageDescription = '&yet is an open web company consulting on WebRTC, Node, and advanced JavaScript applications.'
  - var viewClass = 'header-short'
  - var headlineClass = 'bademail'
  - var headlineText = 'Something went wrong'

extends layout

block title
  | Something went wrong | 
block content
  section.center
    h2 Something went wrong. Please send us an email at <a href='mailto:contact@andyet.com'>contact@andyet.com</a>.