block vars
  - var pageDescription = 'What others are saying about &yet, an open web company consulting on WebRTC, Node, and advanced JavaScript applications.'
  - var viewClass = 'default'
  - var headlineClass = 'testimonials'
  - var headlineText = 'Case Studies'

extends layout

block title
  | Case Studies | 
block content
  section.left.no-border-bottom
  
    .grid-flex-container#microsoft

      .grid-flex-cell
        .logo-container
          a(href='//microsoft.com'): img.logo(src='/images/microsoft-logo.svg', alt='Microsoft')
            
        blockquote.blockquote-medium.ml0.blockquote-case-study
          p “Fippo has written the pull request to support Edge. He is finding bugs in Edge, as well a finding spec bugs. This helps to make sure that the compatibility we promised can be made real.”
          footer Bernard Aboba, Principal Architect, <a href='//microsoft.com'>Microsoft</a>
          hr
          p “Wow... Love you guys!!”
          footer Rey Bango, Developer Advocate, <a href='//microsoft.com'>Microsoft</a>

      .grid-flex-cell
        h4 Who is Microsoft?
        p Microsoft has been a mainstay of the personal computing industry for decades. Presently, we’re thrilled to see their efforts to support the Open Web. It’s been a pleasure to collaborate with Microsoft Edge engineers in making ORTC a central part of the future for Open Web communications.
        
        h4 What did &yet do?
        p &yet’s WebRTC experts consulted with the Edge team prior to Microsoft Edge’s public beta release, and created the first interoperable shim for WebRTC and ORTC with <a href="//dev.modern.ie/testdrive/demos/simplewebrtc/">SimpleWebRTC</a>.
        p This shim made it possible to make <a href="https://blog.andyet.com/2015/09/29/ortc-demo">the world’s first conference calls between Chrome, Firefox, and Microsoft Edge</a>.

    hr   

    .grid-flex-container#precision-nutrition

      .grid-flex-cell
        .logo-container
          a(href='//precisionnutrition.com'): img.logo(src='/images/precision-nutrition-logo.svg', alt='Precision Nutrition')
            
        blockquote.blockquote-medium.ml0.blockquote-case-study
          p “&yet hits the perfect balance of knowing a subject really well and not being jerks about it. They were easy to work with, brilliant problem solvers, and solid communicators to boot. With &yet, I enjoyed the rare experience of explaining the project once and receiving a perfectly-executed result.”
          footer Jason Lengstorf, <a href='//precisionnutrition.com'>Precision Nutrition</a>

      .grid-flex-cell
        h4 Who is Precision Nutrition?
        p Precision Nutrition connects people to personal advice from the world’s best nutrition coaches and fitness experts.
        
        h4 What did &yet do?
        p Precision Nutrition had built a prototype of a custom webinar application using some of our <a href="https://github.com/andyet/SimpleWebRTC">open source tools</a> that allowed trainers to teach groups of students remotely by combining webrtc, video, audio, synchronised html5 slides, and different group discussion modes - all from a web browser.
        p They were looking for our help to rewrite their prototype using our more powerful XMPP based <a href="http://otalk.org/">Otalk</a> toolset, to support larger numbers of students in a single call; as well as to use our experience in building advanced JavaScript applications to improve the user experience, and the overall robustness of the application.
        p Our team rewrote the application using <a href="http://otalk.org/">Otalk</a>, <a href="http://ampersandjs.com/">Ampersand.js</a>, <a href="https://facebook.github.io/react/">React</a> and <a href="http://webpack.github.io">Webpack</a>.

        p The Otalk components, combined with the <a href="https://prosody.im/">Prosody</a> XMPP server and <a href="https://jitsi.org/Projects/JitsiVideobridge">Jitsi Video Bridge</a> allowed us to build a webrtc-based video and audio application that performs better and supports higher numbers of simultaneous users than typical peer-to-peer webrtc solutions can, while still working in modern browsers without plugins.

        p Using Amperand.js, React, and Webpack we were able to build a performant, modern web-application for the Precision team that they’ve been able to tweak and build upon since.

        p In addition to building the application, our experienced ops team helped support Precision in creating an automated ops setup using Ansible to deploy the required application components to Digital Ocean.
        
    hr     

    .grid-flex-container#mls

      .grid-flex-cell
        .logo-container
          a(href='http://www.mlssoccer.com/'): img.logo(src='/images/mls-logo.svg', alt='MLS', style="height: 85px; width: 80px;")
            
        blockquote.blockquote-medium.ml0.blockquote-case-study
          p “We met the goals of the project and for that I am thankful.”
          footer Justin Slattery, Engineering Director, <a href='//mlssoccer.com'>MLS</a>

      .grid-flex-cell
        h4 Who is MLS?
        p Whether you’re a soccer (ahem, <em>real</em> football) fan or not, you’re probably at least generally aware that the United States has a professional "footie" league—that’s MLS.
        
        h4 What did &yet do?
        p &yet teamed up with MLS developers to help deliver their interactive realtime MLS game tracker—perfect as a second-screen experience or as a way to keep tabs on games.
        p The game tracker features a stream of realtime statistics and visualizations, commentary, video highlights, embedded fan photos from Instagram, and more.        

    hr

    .grid-flex-container#recon
    
      .grid-flex-cell
        .logo-container
          a(href='//recondynamics.com'): img.logo(src='/images/recon-dynamics.gif', alt='RECON Dynamics')
            
        blockquote.blockquote-medium.ml0.blockquote-case-study
          p “You have done some amazing work here, especially in such a very short time! This behaves much more like a desktop app than a web app. I sincerely appreciate all your hard work on this project, and your commitment to quality and an enjoyable user experience. The extra polish and interactivity of the app makes it a lot of fun to use!”
          footer Ken Arneson, CEO, <a href='https://recondynamics.com'>RECON Dynamics</a>
  
      .grid-flex-cell
        h4 Who is RECON Dynamics?
        p We’re pretty sure if you string together <em>realtime, IoT,</em> and <em>geolocation</em> in one sentence, you hit buzzword bingo—but that’s RECON Dynamics.
        p In 2010, before everyone had <em>Find My Friends</em> on their phone and prior to "Internet of Things" becoming a catchphrase, &yet delivered a realtime geolocation platform and product for one of our earliest customers.
        p RECON is an asset management system that lets users add a physical tag to a piece of equipment and track its location, or to get information like temperature, run time, or altitude. You can set rules like: "If this device goes above this temperature or outside this range during these hours, send me an alert."
        
        h4 What did &yet do?
        p &yet was responsible for developing web and mobile applications, and a realtime API.
        p The complexity of this application made &yet one of the earliest adopters of both Backbone (since 0.1.2) and Node.js (since 0.4), and ultimately led to doing some pioneering work using Redis for data feeds integrated with a job system.
        p This project laid the groundwork for much of our thoughts on building realtime applications, advanced distributed systems architecture approaches, native web apps (single-page apps), and development 
      
    hr   

    .grid-flex-container#filament

      .grid-flex-cell
        .logo-container
          a(href='http://filament.com/'): img.logo(src='/images/filament-logo.svg', alt='Filament')
            
        blockquote.blockquote-medium.ml0.blockquote-case-study
          p “Thank you for kicking ass!”
          footer Jeremie Miller, CTO, <a href='//filament.com'>Filament</a>

      .grid-flex-cell
        h4 Who is Filament?
        p Filament provides drop-in wireless infrastructure that’s flexible and secure.
        
        h4 What did &yet do?
        p Filament’s IoT service uses an innovative open source decentralized protocol called <a href="//telehash.org">Telehash</a>, developed by Jeremie Miller, who also created XMPP. We are huge believers in Filament’s approach to IoT, which is nicely laid out in their <a href="https://medium.com/@FilamentHQ/a-declaration-of-device-independence-b6f83e8b6441">Declaration of Device Independence</a>. 
        p Our consulting team helped add bluetooth low-energy capabilities to Telehash, to enable android, iOS, OSX and Linux devices to communicate directly with Filament’s new IoT devices over bluetooth low-energy. We also bootstrapped a multi-platform application and build-process for their client applications, so that iOS, Android, OSX, Linux, Windows, and Chrome OS applications can all be built from a single code-base, by combining <a href="https://github.com/atom/electron">Electron</a>, <a href="https://cordova.apache.org/">Apache Cordova</a>, and <a href="https://developer.chrome.com/apps/about_apps">Chrome apps</a> with modern web-technologies such as <a href="https://facebook.github.io/react/">React</a>, <a href="http://rackt.github.io/redux/">Redux</a>, and <a href="http://webpack.github.io/">webpack</a>.
        p It was a privilege to get to team up with Jeremie and the Filament team in learning about telehash, enhancing their JavaScript API, and giving them a platform on which to build client apps for their awesome IoT work.

    hr  
    
    .grid-flex-container#npm
    
      .grid-flex-cell
        .logo-container
          a(href='//npmjs.com'): img.logo(src='/images/npm-logo-red.svg', alt='npm')
            
        blockquote.blockquote-medium.ml0.blockquote-case-study
          p “Knowing that Lift have thoroughly reviewed our code and architecture gives us warm, fuzzy feelings.”
          footer Laurie Voss, CTO, <a href='https://npmjs.com'>npm Inc.</a>
  
      .grid-flex-cell
        h4 Who is npm and what do you do?
        p npm Inc provide tools for JavaScript developers and run the global npm Registry which hosts 176,000+ open-source JavaScript modules for developers worldwide to integrate into their own software, as well as private modules to host their proprietary work.
        
        h4 What were your company’s goals and needs?
        p In 2014 npm transitioned from a single-person, volunteer open-source project into a company. We had two goals: as an increasingly crucial part of the open-source ecosystem, it was important that we avoid security holes that would allow attackers to poison open-source modules affecting millions of users. Secondly, we were introducing private modules and needed to audit a sprawling, 5-year-old codebase to ensure that we could reliably keep users’ personal information private.
        
        h4 How did we help achieve your goals and meet your project needs?
        p Lift audited our code base and reviewed our architectural plans, as well as conducting an active scan of our API surface. They reported a number of well-hidden but potentially serious flaws before any harm was done, and recommended a set of best practices to improve the depth of our defenses in future.
    
    hr
    
    .grid-flex-container#contentful
      
      .grid-flex-cell
        
        .logo-container
          a(href='//contentful.com'): img.logo(src='/images/contentful-logo.svg', alt='Contentful')
          
        blockquote.blockquote-medium.ml0.blockquote-case-study
          p “The ^lift team did a great job in finding creative ways to discover vulnerabilities of our system producing a comprehensive assessment.”
          footer Paolo Negri, CTO, <a href='https://www.contentful.com/'>Contentful</a>
      
      .grid-flex-cell
        h4 Who is Contentful and what do you do?
        p Contentful is an API-first content management platform focussing on developers. It enables companies to engage in platform-agnostic publishing. Unlike traditional web CMS vendors, Contentful is based on structured content and separates content from presentation, both of which make it really easy to publish to smartphones, tablets, and any other smart device.
        
        h4 What were your company’s goals and needs?
        p Since Contentful powers mission critical applications for major companies, we have devised a thorough security policy to ensure that our service continues to offer an enterprise-grade uptime, performance, and security level. As part of this policy, we do periodic external test on our infrastructure and technology stack. Goal for the security audit project with ^lift was to identify possible vulnerabilities and weaknesses, so as to externally verify if our internal security measures have indeed performed to our requirements.
        
        h4 How did we help achieve your goals and meet your project needs?
        p.mb0 ^lift did not only perform your typical set of run of the mill vulnerability scans, but found ingenious ways and put in a lot of effort in coming up with ways to penetrate our systems. We were able to receive a thorough report of findings, and were able to reaffirm our roadmap in terms of security features, as well as the internal processes put in place to ensure we continue to serve our most demanding customers. ^lift also directly reviewed our application code in order to assess possible shortcoming that could be detected from the code base itself. 

  section.center#quotes
    h2 Testimonials
    blockquote.blockquote-medium.mb0
      p.mb0 “Way ahead of the curve.”
      footer Guillermo Rauch, <a href='//socket.io'>Socket.io</a>

  section.center
    blockquote.blockquote-medium.mb0
      p.mb0 “&yet cares about nothing more than being good people, doing good work, and helping everyone around them succeed.”
      footer Forrest Norvell, <a href='//npmjs.com'>npm, inc.</a>

  section.center
    blockquote.blockquote-medium.mb0
      p.mb0 “Incredible technical depth... always a delightful experience.”
      footer Allen Pike, <a href='//www.steamclock.com/'>Steamclock Software</a>

  section.center
    blockquote.blockquote-medium.mb0
      p.mb0 “&yet is consistently the expert on every emerging web technology.”
      footer <a href='//twitter.com/mikeal'>Mikeal Rogers</a>

  section.center
    blockquote.blockquote-medium.mb0
      p.mb0 “Fantastic work... extreme gratitude for your team’s talent and passion.”
      footer Maureen Stafford, <a href='//att.com'>AT&T</a>

  section.center
    blockquote.blockquote-medium.mb0
      p.mb0 “We are deeply happy to have you working alongside us.”
      footer Glenn Scott, <a href='//caa.com'>CAA</a>

  section.center
    blockquote.blockquote-medium.mb0
      p.mb0 “Very impressed with the team there around employing the right tools, process, and simplicity in building solutions.”
      footer Eran Hammer, <a href='//hapijs.com'>Hapi.js</a>

  section.center
    blockquote.blockquote-medium.mb0
      p.mb0 “So much respect.”
      footer <a href='//twitter.com/maxogden'>Max Ogden</a>

  section.center
    blockquote.blockquote-medium.mb0
      p.mb0 “A powerhouse in the JavaScript world.”
      footer Pete Baumgartner, <a href='//lincolnloop.com'>Lincoln Loop</a>

  section.center
    blockquote.blockquote-medium.mb0
      p.mb0 “My god could you be a more awesome company? Nope. I f***ing love you alls.”
      footer Stephen Rivas Jr., <a href='//netflix.com'>Netflix</a>

  section.center
    blockquote.blockquote-medium.mb0
      p.mb0 “Thanks for the awesome newsletter goodness. You and the team are *lovely*.”
      footer <a href='//twitter.com/charlotteis'>Charlotte Spencer</a>

  section.center
    blockquote.blockquote-medium.mb0
      p.mb0 “Immense capabilities... an impressive bunch.”
      footer Brad Mohs, <a href='//att.com'>AT&T</a>

  section.center
    blockquote.blockquote-medium.mb0
      p.mb0 “I first wanted to say thanks for the efforts you’ve been continuing to make towards making Node.js/io.js a more secure place. The community benefits so much from it and I don’t hear it said very much.”
      footer Aaron Heckmann, <a href='//getpebble.com'>Pebble</a>

  section.center
    blockquote.blockquote-medium.mb0
      p.mb0 “Thanks very much for the excellent work ^Lift has been doing for us, we’re really impressed with you.”
      footer Jon Gelsey, <a href='//auth0.com'>Auth0</a>

  section.center
    blockquote.blockquote-medium.mb0
      p.mb0 “The folks at &yet are WebRTC experts. They’ve managed to assemble many of the foremost WebRTC all stars onto the same team. They’re a team you can count on to deliver.”
      footer Feross Aboukhadijeh, <a href='//yahoo.com'>Yahoo!</a>, <a href='//peercdn.com'>PeerCDN</a>

  section.center
    blockquote.blockquote-medium.mb0
      p.mb0 “&yet represents a new business mindset that puts community values and corporate responsibility in the forefront.”
      footer Joe Schiessl, City of Richland

  section.center
    blockquote.blockquote-medium.mb0
      p.mb0 “At Sunrise, we’ve been extremely happy with our collaboration with Lift. Their focus on Javascript and Node.JS is a big plus for us, the quality of the review is far superior to other vendors we’ve used in the past. We will hire them again and highly recommend them.”
      footer Pierre Valade, <a href='//sunrise.am'>Sunrise</a>

  section.center
    blockquote.blockquote-medium.mb0
      p.mb0 “I rarely build a project without happening upon work &yet put into the world, and I’m grateful for it.”
      footer Alex Sexton, <a href='//stripe.com'>Stripe</a>

  section.center
    blockquote.blockquote-medium.mb0
      p.mb0 “&yet offers a value proposition that is unsurpassed – savvy enough to know not only how to use the very latest methodologies, but why they’re leveraging these tools to achieve the greatest benefit for the customer.”
      footer Eric Cadwell, <a href='//purecare.com'>PureCare</a>

  section.center
    blockquote.blockquote-medium.mb0
      p.mb0 “Thorough assessments going far beyond just the web application tier. A+ will hire again.”
      footer Shawn Davenport, <a href='//github.com'>GitHub</a>

  section.center
    blockquote.blockquote-medium.mb0
      p.mb0 “&yet is an innovator in the WebRTC space!”
      footer Chris Matthieu, <a href='//octoblu.com'>Octoblu</a>

  section.center
    blockquote.blockquote-medium.mb0
      p.mb0 “&yet delivers carefully hand crafted products, made by humans who love their work.”
      footer <a href='//twitter.com/hij1nx'>Paolo Fragomeni</a>
