doctype html
html(lang='en')

  //- Variable block for page-specific info
  block vars

  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='chrome=1')
    meta(name='viewport',content='width=device-width,initial-scale=1.0,maximum-scale=1.0')
    meta(name='description', content='#{pageDescription}')
    meta(name='keywords', content='JavaScript, Node.js, WebRTC, Web Development, Software Development, Web Design, JavaScript Training, Human JavaScript, &yet, JavaScript Consulting, WebRTC Consulting')
    meta(name='author', content='&yet')
    title
      block title
      | &yet

    block head
    link(rel='shortcut icon', href='/images/ampersand.png')
    link(rel='stylesheet', href='/css/main.css')

  body(class='#{headlineClass}')


    .container
      block content

    script(src='/js/main.js')
