doctype html
html(lang='en')

  //- Variable block for page-specific info
  block vars

  head

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='chrome=1')
    meta(name='viewport',content='width=device-width, initial-scale=1, minimum-scale=1')

    meta(name='description', content='#{pageDescription}')
    meta(name='author', content='Lynn Fisher')
    title
      block title
      | Lynn Fisher

    script(src='//use.typekit.net/bok3lzp.js')
    script try{Typekit.load({ async: true });}catch(e){}

    link(rel='shortcut icon', href='/assets/images/pizza-icon.png')
    link(rel='stylesheet', href='/assets/css/main.min.css')
    link(rel='stylesheet', href='http://emojicss.com/emoji.css')

  body(class='#{bodyClass}')

    nav.topbar
      h1 #[a(href='/') Lynn Fisher]
        span Artist and Designer

    section.sidebar
      .main-image
      .container
        h1 #[a(href='/') Lynn Fisher]
          span Artist and Designer
        p I make things for the web and for walls. I specialize in light-hearted projects that make people say, “I don’t get it.” Yes, I’ve heard of SVG.
        ul.contact-info
          li
            a.emoji-link(href='/')
              span.em.em-zap
              span Work
          li
            a.emoji-link(href='/thoughts')
              span.em.em-memo
              span Thoughts
          li
            a.emoji-link(href='/about')
              span.em.em-pizza
              span About
          li
            a.emoji-link(href='mailto:lynn@lynnandtonic.com')
              span.em.em-love_letter
              span Electronic mail
        include includes/social

    section.content
      block content

    //- script(src='/js/main.js')
