block vars
  - var pageDescription = 'Meet the &yet team: an open web, people first company.'
  - var viewClass = 'default'
  - var headlineClass = 'about'
  - var headlineText = '&yet is about people'

extends layout

block title
  | The Team | 

block content
  section.team-addendum.center
    h4 &yet Team
    include includes/team-list