block vars
  - var pageDescription = '&yet is an open web company consulting on WebRTC, Node, and advanced JavaScript applications.'
  - var viewClass = 'default'
  - var headlineClass = 'thanks'
  - var headlineText = 'Thanks!'

extends layout

block title
  | Your email was sent | 

block content
  section.center
    h2 Thanks for sending us an email.
    p We will get back to you shortly.