extends ../layout

block vars
  - var pageDescription = 'Recent illustration work by Lynn Fisher'
  - var bodyClass = 'work layout-sub'

block title
  | Illustration - 

block content

  .content-container.project-detail

    h1.project-title Illustration
    p A handful of recent icons and illustrations.

    img(src='/assets/images/illo-all-the-trades.png')
    img(src='/assets/images/icons-andyetconf.png')
    img(src='/assets/images/icons-andyetconf-2.png')
    img(src='/assets/images/illo-lynn-rainbow.png')
    img(src='/assets/images/icons-sandwich.png')
    img(src='/assets/images/icons-jsforteams.png')
    img(src='/assets/images/illo-security-map.png')
    img(src='/assets/images/illo-yoda.png')
    img(src='/assets/images/illo-sandwich-yeti.png')
    img(src='/assets/images/icons-seaworthy.png')
    img(src='/assets/images/illo-viewfinder.png')
    img(src='/assets/images/illo-yeti-threads.png')
    img(src='/assets/images/illo-alignment.png')
    img(src='/assets/images/crohn-wedding-1.jpg')
    img(src='/assets/images/crohn-wedding-2.jpg')

    p #[a.back(href='/') ← Back to projects list]
