extends ../../_layout

block vars
  - var pageTitle = '2018 British Arrows Awards'
  - var pageDescription = 'Very cool ads from the 2018 British Arrows Awards.'
  - var pagePath = '2018-british-arrows-awards'
  - var bodyClass = 'thought-detail'
  - var date = '29 January 2019'
  - var ogImage = 'british-arrows'
  - var laterText = 'Sabbaticals and muscle memory'
  - var later = 'sabbaticals-and-muscle-memory'
  - var earlierText = 'Case Study: lynnandtonic.com 2018 refresh'
  - var earlier = 'case-study-2018-refresh'

block content

  p Last month I visited the #[a(href='https://walkerart.org/') Walker Art Center] in Minneapolis where they were showcasing the 2018 British Arrows Awards, celebrating the UK’s most innovative and best moving image advertising.

  p The commercials are all impressive, some funny, some deeply moving, and some were basically short films. I love the extra effort that goes into Super Bowl ads here in the U.S. so this was a lot of fun.

  p I’ve been thinking about it ever since, so I collected all of the commercials here. They’re worth checking out.

  p Here’s what won Commercial of the Year: an ad about normalizing periods. It’s well done!

  .video-container.wide
    iframe(width="100%", src="https://www.youtube.com/embed/xXiW2-1nbTg", frameborder="0", allowfullscreen)

  p #[strong #Bloodnormal] <br>
    small Essity, Libresse/Bodyform for AMVBBDO by Somesuch, directed by Daniel Wolfe

  p And then the rest. Here’s a YouTube playlist of the commercials that won Bronze, Silver, and Gold (except for the Instagram ad #[a(href='https://vimeo.com/249225909') A day on planet Stories] which you can view on Vimeo). See below for each ad’s individual link and details.

  p I think my favorites might be #[a(href='https://youtu.be/Dw2NOE_6VAU') Viewers], #[a(href='https://youtu.be/Y_iCIISngdI') What Girls Are Made Of], #[a(href='https://youtu.be/1MJrRvpjB1I') Differences], #[a(href='https://youtu.be/IZC02EQqcXc') Timeless], and #[a(href='https://youtu.be/8SI52fWMp_8') The Gene Project].

  .video-container.wide
    iframe(width="100%", src="https://www.youtube.com/embed/videoseries?list=PLusDsPjWd8nk7SdMXqGF2gIE917xhStSg", frameborder="0", allowfullscreen)

  h2 Bronze

  p #[a(href='https://youtu.be/XW7zZJSGYgU') Best Friends] <br>
    small Mars Petcare, Dreamies Deli-Catz for adam&eveDDB by Caviar, directed by Keith Schofield

  p #[a(href='https://vimeo.com/249225909') A day on planet Stories] <br>
    small Instagram, Instagram Stories for Wieden+Kennedy Amsterdam by Caviar, directed by Dent De Cuir

  p #[a(href='https://youtu.be/YCoQwZ9BQ9Q') Comic Relief Safety Video] <br>
    small British Airways, Comic Relief for BBH by 2AM, directed by Becky Martin

  p #[a(href='https://youtu.be/JuvqaBqUYw0') The Small Prices] <br>
    small TK Maxx, Spring Summer for Wieden+Kennedy London by Bold, directed by Adam & Dave

  p #[a(href='https://youtu.be/Dw2NOE_6VAU') Viewers] <br>
    small Google, YouTube for AMVBBDO by Pulse Films, directed by ThirtyTwo

  p #[a(href='https://youtu.be/n8aAaGDNosQ') Mo Farah--Smile] <br>
    small Nike, Nike Running for Wieden+Kennedy London by Rogue, directed by Mark Zibert

  p #[a(href='https://youtu.be/h3gkLJhFWEA') Rummager] <br>
    small VISA, Holiday Money for Saatchi & Saatchi by Somesuch, directed by Sam Hibbard

  p #[a(href='https://youtu.be/F4I5hhEJtp8') Kovonation Street Opening] <br>
    small CompareTheMarket.com for VCCP Blue by Passion Animation Studios, directed by Dave Scanlon

  p #[a(href='https://youtu.be/dRzApWZgeCs') Fall Fashion] <br>
    small H&M for adam&eveDDB by Caviar, directed by Karim Huu Do

  p #[a(href='https://youtu.be/LzQhHvdDCig') We Are All One] <br>
    small On, on-running.com for TheBay 13 Institute by Hungry Man, directed by Richard Bullock

  p #[a(href='https://youtu.be/IgZ-TGTUyf4') E.ON x Gorillaz: A Solar Collaboration] <br>
    small E.ON, Solar PV Batteries for WCRS by Blinkink at Blink, directed by Noah Harris

  hr

  h2 Silver

  p #[a(href='https://youtu.be/mQqJPAx_ARo') It’s perfectly normal. Until it’s kwiffed. Caught Glas] <br>
    small Kwiff for Droga5 London by Biscuit Filmworks, directed by Jeff Low

  p #[a(href='https://youtu.be/t_jZd2MUXbc') Women’s Euros 2017] <br>
    small Channel 4, made by 4creative, directed by Alex Boutell

  p #[a(href='https://youtu.be/J2uSGFgFn2Q') Barbers] <br>
    small Apple, iPhone 7 Plus for Apple by Furlined, directed by Dougal Wilson

  p #[a(href='https://youtu.be/Z9WYkOGYwv0') Snowed In] <br>
    small Waitrose for adam&eveDDB by Academy Films, directed by Martin De Thurah

  p #[a(href='https://youtu.be/9zv884-Smrc') Born Confident] <br>
    small Volkswagen, T-Roc for adam&eveDDB by Somesuch, directed by Nick Gordon

  p #[a(href='https://youtu.be/o4ewFdCxd5Y') London Needs You Alive] <br>
    small Mayor of London, Greater London, Knife Crime for AMVBBDO by Academy Films, by Novemba

  p #[a(href='https://youtu.be/-PgTjhx1VLw') Epic Lift] <br>
    small MoneySuperMarket, MoneySuperMarket.com for Mother by Blink Productions, The Bobbsey Twins from Homicide

  p #[a(href='https://youtu.be/nQk98HV8-AA') Anthony Joshua] <br>
    small Lucozada, Lucozada Sport for Grey London by Smuggler, directed by Christopher Hewitt

  p #[a(href='https://youtu.be/RL6Wiiq7sg8') I Love Doing Dishes] <br>
    small Finish, Dishwater Tablets for Wieden+Kennedy London by FRIEND, directed by Ian Pons Jewell

  p #[a(href='https://youtu.be/Y_iCIISngdI') What Girls Are Made Of] <br>
    small Nike for Wieden+Kennedy London by Riff Raff, directed by David Wilson

  p #[a(href='https://youtu.be/M4X4e_truzI') Atlas] <br>
    small Squarespace, Build A Website for Media Sages by Biscuit Filmworks, directed by Andreas Nilsson

  p #[a(href='https://youtu.be/pxHpdEHEaV0') Mother and Daughter] <br>
    small Sky, Sky Cinema for WCRS by StrangeLove, directed by Ben Liam Jones

  p #[a(href='https://youtu.be/EyijJV_KUN8') It’s perfectly normal. Until it’s kwiffed. Father & Son] <br>
    small Kwiff for Droga5 London by Biscuit Filmworks, directed by Jeff Low

  p #[a(href='https://youtu.be/viRSiBCxlS0') 140 Years] <br>
    small Wimbledon for McCann London by Friends Electric and Craft/McCann, directed by Lucas Zanotto

  hr

  h2 Gold

  p #[a(href='https://youtu.be/8PstSiTCk74') The Supporting Act] <br>
    small BBC, BBC One for BBC Creative by Blinkink at Blink, directed by Elliot Dear

  p #[a(href='https://youtu.be/UWKdI6qMUNM') Clowns] <br>
    small Audi for BBH by Rattling Stick, directed by Ringan Ledwidge

  p #[a(href='https://youtu.be/FTaAXPDvnuM') More Than A Game] <br>
    small EA Sports, FIFA 18 for adam&eveDDB by Smuggler, directed by Adam Berg

  p #[a(href='https://youtu.be/1MJrRvpjB1I') Differences] <br>
    small BBC, CBeebies for Karmarama by Smuggler, directed by Joshua Neale

  p #[a(href='https://youtu.be/xSJQP_klQYY') Delivering Awesome] <br>
    small Virgin Media, Fibre Broadband for BBH by Rogue, directed by Sam Brown

  p #[a(href='https://youtu.be/2Ei_XdwSghQ') Fanfare, White Cliffs, Football] <br>
    small Channel 4, Channel 4 Idents 2017 for 4creative by Blink Productions, directed by Dougal Wilson

  p #[a(href='https://youtu.be/UcFlyBN7gxM') Boundaries] <br>
    small Canon, Cameras for VCCP by Riff Raff, directed by Megaforce

  p #[a(href='https://youtu.be/CkYUVw9wkQ8') Dream Makers] <br>
    small Honda, FIlm on Four for Wieden+Kennedy London by Time Based Arts, directed by James Allen and Mike Skrgatic

  p #[a(href='https://youtu.be/OJ7Jsd0yCLQ') The Great British Bake Off] <br>
    small Channel 4 for 4creative by Blinkink at Blink, directed by Parabella

  p #[a(href='https://youtu.be/HbzOkNq8aPE') Alive] <br>
    small Bose, Bose Headphones for Grey London by Smuggler, directed by Miles Jay

  p #[a(href='https://youtu.be/6FKNyhwUBY4') The Faith of a Few] <br>
    small Mini, John Cooper Works for Jung von Matt by ANORAK x Somesuch, directed by Daniel Wolfe

  p #[a(href='https://youtu.be/4uCeeVl_He4') Pride and Breadjudice] <br>
    small Warburtons, Seeded Batch for SCRS by Another Film Company, directed by Declan Lowney

  p #[a(href='https://youtu.be/aFHvWMzG6gE') The Button] <br>
    small Volkswagen, Golf GTE for adam&eveDDB by Independent Films, directed by Gary Freedman

  p #[a(href='https://youtu.be/IZC02EQqcXc') Timeless] <br>
    small Lacoste for BETC Paris by Academy Films and Wanda, directed by Seb Edwards

  p #[a(href='https://youtu.be/bAdpodJkB9c') The Heist No One Is Talking About] <br>
    small Oxfam for Don’t Panic by Stink Films, directed by Tom Green<br>* Disturbing content warning for this one

  p #[a(href='https://youtu.be/SvjT38dsxtU') Youth Can Do It] <br>
    small Prince’s Trust for The&Partnership London by Park Pictures, directed by Andrea Arnold

  p #[a(href='https://youtu.be/vEEVu4w5LTE') Ostrich] <br>
    small Samsung, Samsung Gear VR for Leo Burnett Chicago by MJZ London, directed by Matthijs van Heijningen

  p #[a(href='https://youtu.be/8SI52fWMp_8') The Gene Project] <br>
    small Unilever, Marmite for adam&eveDDB by Outsider, directed by James Rouse

  hr

  h2 Commercial of the Year

  p #[a(href='https://youtu.be/lm8vCCBaeQw') #Bloodnormal] <br>
    small Essity, Libresse/Bodyform for AMVBBDO by Somesuch, directed by Daniel Wolfe
