extends ../../_layout

block vars
  - var pageTitle = 'A decade of working remotely'
  - var pageDescription = 'Some random thoughts about remote work.'
  - var pagePath = 'a-decade-of-working-remotely'
  - var bodyClass = 'thought-detail'
  - var date = '22 February 2024'
  - var ogImage = 'shiba-typing'
  - var laterText = 'Case Study: lynnandtonic.com 2023 refresh'
  - var later = 'case-study-2023-refresh'
  - var earlierText = 'SVG export wishlist'
  - var earlier = 'svg-export-wishlist'

block content

  :markdown-it(html)

    As of this month, I’ve been working remotely for ten years. My overall opinion is that it is good and I like it! Here are some random thoughts:

    - It’s just really cool to have worked with people from so many different cities and countries.
    - Honestly, I don’t particularly care about cost savings or productivity. Sometimes remote work is slower and more expensive… and it’s still worth doing.
    - I don’t want to wear shoes when I work.
    - Remote work requires trusting your team and that’s something you can choose to do at any time.
    - It’s totally possible to create deep, meaningful relationships with people remotely. I sure have. Also, being together in person has a truly unique magic.
    - A very generous monthly stipend for food delivery is one of the best perks I’ve received.
    - Because his company went remote in 2020, my husband was able to spend about 5,500 more hours with our senior pups at the end of their lives. I think about that a lot now that they are making him return to the office this year.
    - Not driving every day is tops. I like having one car instead of two.
    - Remote/hybrid events are hard, but the bar is lower so just a little extra effort and empathy go a long way.
    - Timezones are hard! I get why teams limit which timezones they’ll hire in. I also get why that is infuriating for people outside those timezones—usually folks not in the U.S. 
    - Related, you can be a remote company and not be an *asynchronous* company. Clarity of expecations is key.
    - I like that I have not had to move to Washington, San Francisco, or Utah (as much as I love the people who live there).
    - Going to the cinema in the middle of a weekday is a thing I like to do.
    - A good test of a “remote-first” company is what they plan for team members who can’t make it to in-person events.
    - If you’re bringing team members together somewhere to do an in-person work session, but some people are still participating remotely, buy a dang microphone for the in-person side.
    - Fun gifs and custom emojis in team chat really do improve my mood.
    - Coworking spaces never clicked for me, despite a lot of trying.
    - A lot of people feel uncomfortable being in charge of a remote/hybrid setup. There will be hiccups and we’re all sensitive about wasting people’s time. A good guideline is that any time spent making things more accessible or more inclusive is always time well spent. Like, just a random example, it would be the right decision to delay an in-person All-Hands a few minutes in order to restart the livestream so captions are enabled for remote attendees.
    - Video recordings of every meeting doesn’t feel super effective to me. Good note-taking is underrated and should be a shared responsibility.
    - It can be lonely working remotely. The quiet stillness after closing a video call can be rough.
    - Location-based pay feels like bullshit, but is also—probably for the worst—something I will concede. 
    - I love sending things to people in the mail and being on a remote team provides a lot of fun opportunities for that. Get someone on your team who loves to curate a care package.
    - I’ve seen execs point to a super productive off-site as proof that in-person is better. But in reality it showed what the team could do when they’re able to focus on one thing, uninterrupted, and with the usual decision blockers removed.
    - Regularly a walk, a shower, a nap, or a distracted cleaning session is what it takes to unblock my brain.
    - I sometimes think I actually would like being in an office again. It would have to be less than a mile from my house though so I probably won’t.
    - The best encapsulation of my feelings about remote work is this quote from Cheryl Broetje, oft-repeated during my time at &yet: “Living in the place you belong, with the people you love, doing the work that’s yours, on purpose.”

