extends ../../layout

block vars
  - var pageDescription = 'Advice for young designers and future me'
  - var bodyClass = 'thoughts layout-sub'

block title
  | Advice for young designers and future me - 

block content

  .content-container.entry

    small.date.upper 20 January 2014
    h1 Advice for young designers and future me

    p  Three things I’ve learned to be most valuable in my career thus far and that I remind myself every single day.

    h3 Be kind.

    p  If you’re remembered for anything, make it kindness. We’d all like to be smart, talented, funny, successful, but don’t forget your top priority. Be good to those around you.

    h3 Ask questions.

    p  Stay curious. Choose clarity over assuming. Don’t be afraid of not knowing the answer. Or looking dumb. If you want something, ask for it. You’ll be surprised at what others are willing to give.

    h3 Share.

    p  Be as giving as you’d like others to be. Then share even more. Share the credit but not the blame. Generosity extends beyond money. How much of what makes you *you* are you willing to give others? Make it everything.

    p #[a.back(href='/thoughts') ← Back to recent writing list]
