extends ../../_layout

block vars
  - var pageTitle = 'Advice for young designers and future me'
  - var pageDescription = 'Important things I wish to remember.'
  - var pagePath = 'advice-for-young-designers-and-future-me'
  - var bodyClass = 'thought-detail'
  - var date = '20 January 2014'
  - var laterText = 'On giving my first-ever conference talk'
  - var later = 'on-giving-my-first-ever-conference-talk'
  - var earlierText = 'Good. Better. Best.'
  - var earlier = 'good-better-best'

block content

  :markdown-it

    Three things I’ve learned to be most valuable in my career thus far and that I remind myself every single day.

    ### Be kind.

    If you’re remembered for anything, make it kindness. We’d all like to be smart, talented, funny, successful, but don’t forget your top priority. Be good to those around you.

    ### Ask questions.

    Stay curious. Choose clarity over assuming. Don’t be afraid of not knowing the answer. Or looking dumb. If you want something, ask for it. You’ll be surprised at what others are willing to give.

    ### Share.

    Be as giving as you’d like others to be. Then share even more. Share the credit but not the blame. Generosity extends beyond money. How much of what makes you *you* are you willing to give others? Make it everything.
