extends ../../_layout

block vars
  - var pageTitle = 'Alignment'
  - var pageDescription = 'Harry Potter World and alignment in our design work.'
  - var pagePath = 'alignment'
  - var bodyClass = 'thought-detail'
  - var date = '30 March 2016'
  - var ogImage = 'alignment'
  - var laterText = 'Case Study: lynnandtonic.com 2017 refresh'
  - var later = 'case-study-2017-refresh'
  - var earlierText = 'Design for developers and where to start'
  - var earlier = 'design-for-developers-and-where-to-start'

block content

  img(src='/assets/images/thoughts/alignment.jpg', width='1000', height='571', alt='illustration of tools')

  :markdown-it

    This winter I visited the Wizarding World of Harry Potter in Orlando, Florida where they recently added a new portion of theme park and a ride inside Gringotts Bank. We zig-zagged in line outside for 30 minutes, anxious to see what the bank looked like from the inside. The [outside looked incredible](http://yet.createsend1.com/t/r-l-ejrhtjk-l-h/) so we knew the inside would be even more magical. And it was.

    When we finally entered the bank interior, we were transported, enchanted in every last detail. Within every nook there was something different to discover. We stopped in our tracks. And then, at the front of the line, a park employee started yelling. “DO NOT STOP! DO NOT STOP TO TAKE PICTURES! PLEASE KEEP MOVING!” Every 30 seconds it was the same message at top volume. I couldn’t help but laugh. “Please don’t look at this spectacle we’ve created.”

    It was an interesting contrast between creators and maintainers, a clear misalignment of goals. The park employee’s job is to maintain order and ensure the line keeps moving. But the environment begs people to stop and look closer. In our own work, how do we establish alignment of values and communicate our goals? It’s crucial for team members working on a project and especially valuable for the future team mates we haven’t met yet, who will care for our work after we’re finished.

    ···

  small This was originally published on #[a(href='http://createsend.com/t/r-6C4ADAFBE3116E7C2540EF23F30FEDED') &yet’s &you newsletter].
