extends ../../_layout

block vars
  - var pageTitle = 'Blog Questions Challenge 2025'
  - var pageDescription = 'A bit of Q&A about bloggin’'
  - var pagePath = 'blog-questions-challenge-2025'
  - var bodyClass = 'thought-detail'
  - var date = '03 February 2025'
  - var ogImage = 'blog-log'
  - var earlierText = 'Ten years of A Single Div'
  - var earlier = 'ten-years-of-a-single-div'

block content

  :markdown-it(html)

    I was tagged to answer these questions by [Zach Leatherman](https://www.zachleat.com/web/blogging/) as part of the larger Blog Questions Challenge originally started by [ava](https://blog.avas.space/bear-blog-challenge/).

    I’ll pass the baton to you, dear reader (if you haven’t already done it)!

    ## 1. Why did you start blogging?

    I think I got a taste with LiveJournal in the early ’00s and then around 2007-2010, the best stuff was being shared via personal blogs, so [I started one](https://lynnandtonicblog.com/). It was/is a mix of life experiences, inspiration, art, and just general amusement. I call it a lifestyle blog but who knows what that means.

    Later in 2013, I started [writing on my portfolio site](/thoughts/) about design and web development honestly in hopes it would help my career. (And it did help.)

    ## 2. What platform are you using to manage your blog and why?

    My [lifestyle blog](https://lynnandtonicblog.com/) runs on [Eleventy](https://www.11ty.dev/) which I [migrated away from Wordpress](/thoughts/entries/the-nbsp-was-breaking-after-all/) in 2023. Eleventy is great!

    My [portfolio blog](/thoughts/) is a bit of Markdown and a lot of Pug, compiled with Grunt. I keep saying I will move it to something else but I never do. I love Pug.

    Both are deployed on Netlify.

    ## 3. Have you blogged on other platforms before?

    I guess if you count LiveJournal or MySpace.

    ## 4. How do you write your posts?

    I start in [iA Writer](https://ia.net/writer) with a loose outline and write a bit stream of consciousness. Then I move into Markdown/HTML to get things edited and images created and placed. It helps me to see the words within the site UI to complete my thoughts.

    Also imagine some staring into the middle distance and periodically leaving to busy myself with some random task.

    ## 5. When do you feel most inspired to write?

    Early in the morning. In the summertime. When I’ve finished a project that has some complex bits. When I’m feeling really happy. When I’m feeling frustrated with the industry.

    ## 6. Do you publish immediately after writing, or do you let it simmer a bit as a draft?

    I usually give it a day because I like to publish in the morning. If something sits in drafts for a while, it tells me I don’t feel like my thoughts are quite ready.

    ## 7. What's your favorite post on your blog?

    All of my portfolio refresh case studies but especially [2020](/thoughts/entries/case-study-2020-refresh/) and [2023](/thoughts/entries/case-study-2023-refresh/). Also maybe [Sabbaticals and muscle memory](/thoughts/entries/sabbaticals-and-muscle-memory/).

    ## 8. Any future plans for your blog?

    Maybe move things off Pug. But probably not.
