extends ../../_layout

block vars
  - var pageTitle = 'Clients, water softeners, and “my nephew the designer”'
  - var pageDescription = 'Building relationships and trust with your design clients.'
  - var pagePath = 'clients-water-softeners-and-my-nephew-the-designer'
  - var bodyClass = 'thought-detail'
  - var date = '21 July 2013'
  - var laterText = 'Why WhyAZ?'
  - var later = 'why-whyaz'
  - var earlierText = 'High performance teams need more than talent'
  - var earlier = 'high-performance-teams-need-more-than-talent'

block content

  :markdown-it
    As designers, a common nightmare tale we resentfully tell is the client who consults his 15-year old nephew for design advice. We feel a whirlwind of betrayal, disgust, and pity. The go-to defense? “Your nephew is not a trained professional and I know better, trust me.” And we mean it.

    On a related note, a few years ago I purchased a brand new water softener for my home in Chandler. I consulted a few companies with plenty of questions. How much salt do I put in? Do I use the granular salt or the tablets? And of course, how much does it cost to maintain? Amongst these companies, I heard every answer you can imagine. I even heard opposite answers from two people from the *same company*.

    So I took to the interwebs. Surely there was a concrete answer published somewhere. But it was more of the same. The arguments over which salt to use were awkwardly heated. The tired consumer in me sighed, “It’s just freaking salt!” So what did I do? I asked my dad. He’s in no way a water treatment professional, but I trust him. And that’s all I needed to push me to a decision. To be honest, by that point, my 15-year old cousin could have swayed me with a semi-confident opinion.

    I can only imagine this is woefully similar to the experience our clients have looking for a designer or firm to hire. Different designers tell them different information about the best way to do the work, how long it will take, and how much it will cost. And searching the internet for more concrete answers? Yikes. We can’t even agree on how to pronounce the word gif.

    So five years later, after a few switches, I’ve settled on one water softener company. They wanted more than my business; they wanted my trust. And they knew it would take work. They were patient, clear, and honest, never taking advantage of my water softener ignorance. They followed up with me and remembered my past concerns. And after respectfully answering plenty of my “well my dad said…” questions, it wasn’t long before it flipped. Soon I was telling my dad, “well my water softener guys said…”

    So the next time a client brings you feedback or comps from a “non-professional” family member or friend, take it and run with it. It’s a great opportunity. They aren’t trying to undermine you, they’re looking for someone to trust. With purpose and honesty, that can be you. And down the road, you’ll be the one they’re calling for help.
