extends ../../_layout

block vars
  - var pageTitle = 'Highlights and quotes from Phoenix Design Week Method + Madness'
  - var pageDescription = 'Some of my favorite moments from 2015’s Phoenix Design Week conference.'
  - var pagePath = 'highlights-and-quotes-from-phxdw-2015'
  - var bodyClass = 'thought-detail'
  - var date = '19 October 2015'
  - var ogImage = 'phxdw-2015'
  - var laterText = 'CSSDay Talk: Illustration with CSS'
  - var later = 'talk-illustration-with-css'
  - var earlierText = 'On making design decisions'
  - var earlier = 'on-making-design-decisions'

block content

  p This weekend was Phoenix’s annual design conference, Method + Madness. It’s always an awesome gathering of inspiring designers and good people. With no intention of fully capturing what went down, here are a few highlights and favorite quotes from the event.

  blockquote A community is a large collection of relationships.
    cite: a(href='https://twitter.com/michaelduah') Michael Duah

  hr

  p Illustrator Becky Simpson shared the process and humor that went into her book 
    a(href='http://beckymsimpson.com/index/#/idratherbeshort/')
      em I’d Rather Be Short
    | . Charming and hilarious.

  img(src='/assets/images/thoughts/becky-simpson.jpg', width='800', height='466', alt='a short person avoids a tall person’s smelly breath; two people share a comfy armchair')

  blockquote For every bad drawing there’s a good drawing around the corner.
  blockquote Measure by progress not comparison.
    cite: a(href='http://beckymsimpson.com/') Becky Simpson

  hr

  p Stewart Scott-Curran threw out his talk the night before and flew slide-less by giving an honest talk about people and connecting on a human level.

  blockquote There’s no substitute for real flesh and blood connection.
  blockquote Make friends not a network.
    cite: a(href='http://onlymoreneverless.com/') Stewart Scott-Curran

  hr

  p Illustrator Jacqui Oakley walked us through her process from original direction to execution, going from pencil sketches to acrylic painting and inking final touches. I especially loved the book covers she’s done including <a href='http://jacquioakley.com/skull-the-inferno-collection'>The Inferno Collection</a> and <a href='http://jacquioakley.com/anne-of-green-gables'>Anne of Green Gables</a>.

  img(src='/assets/images/thoughts/jacqui-oakley.jpg', width='800', height='433', alt='“The Inferno Collection” book cover shows a flaming skull emerging from a stack of books', loading='lazy')

  blockquote Start with something you’re good at and continue on to the work around it.
  blockquote The good thing about collaboration is it gets you off your ass.
    cite: a(href='http://jacquioakley.com/') Jacqui Oakley

  hr

  p Designer Juan Carlos Pagan showcased some really sweet found-object letterforms made from <a href='http://www.carlospagan.com/portfolio/new-york-lottery-holiday-2012/46'>holiday lights</a> and <a href='http://www.carlospagan.com/portfolio/new-york-lottery-money-type/37'>stacks of cash</a>. Most interesting was <a href='http://www.carlospagan.com/portfolio/the-drinkable-book/9'>The Drinkable Book</a>, a book whose pages provide clean drinking water by filtering out waterborn bacteria. I could have listened to a talk just on that.

  img(src='/assets/images/thoughts/drinkable-book.jpg', width='800', height='500', alt='a pair of white-gloved hands tear a leather-like page from a book', loading='lazy')

  blockquote Create a world in which you have permission to do what you want to do.
  blockquote Sometimes you have to throw your hat over the fence so you are forced to go get it.
    cite: a(href='http://www.344lovesyou.com/') Stefan Bucher

  hr

  p Stefan Bucher gave a super unique talk about an exhibition he created called 
    a(href='http://www.344lovesyou.com/projects/everything/')
      em Everything Is Going Exactly As Planned
    | . It examines his work from the near and distant future. It bordered on performance art and the Q&A session turned into a display of improv. I loved it.

  img(src='/assets/images/thoughts/stefan-bucher.jpg', width='800', height='543', alt='a corner of a room, painted pink with intricate letter forms', loading='lazy')

  blockquote Show people what things #[em could be] in real life.
  blockquote When our resources are limited it makes way for creativity and ingenuity.
    cite: a(href='http://alexmedina.co/') Alex Medina

  hr

  p Ashleigh Axios, Creative Director at the White House, gave a talk pretty much only she could give. She spoke about her digital strategy team, the first of its kind for a Presidential administration, and being “on the front lines of changing the way people interact with the people they’ve elected.” Many of her points aligned perfectly with <a href='https://andyet.com'>&yet</a>’s values of “people first” and “tiny leadership.”

  blockquote If your goal is not out of reach, then it’s not a goal; it’s a task.
    cite: a(href='https://twitter.com/AshleighAxios') Ashleigh Axios
