extends ../../_layout

block vars
  - var pageTitle = 'High performance teams need more than talent'
  - var pageDescription = 'Talent is important, but not most important when building great teams.'
  - var pagePath = 'high-performance-teams-need-more-than-talent'
  - var bodyClass = 'thought-detail'
  - var date = '8 July 2013'
  - var laterText = 'Clients, water softeners, and “my nephew the designer”'
  - var later = 'clients-water-softeners-and-my-nephew-the-designer'
  - var earlierText = 'I don’t know what I’m doing.'
  - var earlier = 'i-dont-know-what-im-doing'

block content

  :markdown-it

    In its wildly revered culture document, Netflix compares itself to a pro sports team rather than a family. They “hire, develop and cut smartly” with the goal of having “stars in every position.” This makes the sports fan in me want to pump my fist in the air. I grew up playing year-round competitive basketball, and while it’s nothing like the NBA, it did teach me more about team dynamics than any team building exercise ever could.

    The sports analogy works because it simplifies the problem and shows us a solution we’re not only familiar with, but that we connect with emotionally. However, I’ve seen this simplicity lead to a narrow-sighted interpretation: the cause of our team’s problems is we don’t have enough talent. It’s an idealist’s favorite phrase. “Just put a bunch of talented people in a room and they’ll produce great results.” But ask any sports coach or watch any inspirational sports film and you’ll realize talent alone does not make a high performance team.

    When I was 14 I played on a district championship team. We played a quick, fast-break style of basketball and outran our opponents to victory. Our biggest rivals were arguably just as good, but played a controlled, highly-strategic game. For a traveling tournament we joined forces, building a team of five of their best with five of ours. Our two coaches were both great, so they decided to co-coach. As you may expect, we weren’t the powerhouse they predicted and ended the tournament without placing.

    As good as our players were, we couldn’t perform together. A team not only needs a goal to run toward, but a collective commitment on how to get there. Our leadership was split and relied on our talent to fill in the gaps. No matter how talented, it’s difficult for a team to be highly productive if team members move in different directions.

    Ever watch the NBA All-Star Game? If not, don’t worry. It’s actually quite boring. The problem is the teams are built with individual talents in mind; there isn’t balance. In the film *Miracle*, Herb Brooks is questioned about passing on many of the best players. He calmly states, “I’m not looking for the best players. I’m looking for the right ones.” He knew about the importance of balance and that each player changes the dynamic of the whole team.

    Recently a long-time coworker of mine moved on to a new job. To sum up six years of back story, he and I were a team. And a highly productive one. While both of us are reasonably talented individually, it was our balance of skills that made us great together. His strengths made up for my weaknesses and where he dropped the ball, I was able to catch it. When talking about finding his replacement, it was obvious we couldn’t just drop anyone in and expect the same results. Because an oft-forgotten thing a team really needs is practice. And that takes time.

    My last basketball example is one that’s stuck with me for years. While playing on my high school team, I retrieved a loose ball and was racing a single defender in a fast break. I probably could have made it to the hoop, but in a moment of reflex, I threw the ball over her head away from my target. My heart stopped. Did I just throw the ball away? But at that moment, my team mate pulled ahead of the defender, caught the ball, and scored uncontested.

    That play exemplified what it felt like to be on a real team. We moved together. We didn’t need set plays and process and instead relied on instinct, engrained through hours and hours of practice. I trusted my team mate was there and she was.

    Talent is the easiest qualification for a team and we have plenty of questions and tests to measure against. But building high performance teams is about more than gathering talented folks in a room. After all, proximity and shared work don’t make a team. Direction, balance, and trust do.
