extends ../../_layout

block vars
  - var pageTitle = 'How I fell in love with designing for the web'
  - var pageDescription = 'A love story for the modern age.'
  - var pagePath = 'how-i-fell-in-love-with-designing-for-the-web'
  - var bodyClass = 'thought-detail'
  - var date = '5 February 2013'
  - var laterText = 'Start by speaking the same language'
  - var later = 'start-by-speaking-the-same-language'

block content

  :markdown-it

    When I was young I wanted to be an artist. This is how all the stories start, right? But really, I did. The romanticism didn’t seem to matter much. All I knew was I loved to tell stories through visuals and to share that with others.

    Skip ahead a few years and I found myself completing a fine arts degree with a sub-emphasis of “Intermedia”, which is just as ambiguous as it sounds. I was immersed in the art community, learning a pretty wide array of skills from life drawing to metal welding. I brushed elbows with some indescribable artistic talent, and trust me, it was humbling.

    At the same time, I’d been teaching myself HTML and CSS and occasionally making a website or two for friends and family. And after graduation I managed to get a job designing and developing professionally. The similarities to the art world were exciting and the differences even more exciting still.

    ## It’s not all about me

    The best thing art school did was expose me to frequent and intense criticism of my work. A thick skin you must have. But I found in the end, it was perfectly fine for audiences to just “not get it” and dare I say, some artists preferred it that way. Work often remained unchanged even after loads of negative feedback. The focus of our work was our artistic statement, sometimes at the expense of the viewer’s experience.

    While self-expression is certainly a part of web design, it is one pillar of many that support a site or application created *for the user*. I’d never seen so much consideration for the viewers of our work. There are jobs, books, and conferences dedicated to making user experiences better. That’s incredible.

    ## Community and connections

    It wasn’t uncommon for artists to team up for large installations or exhibitions, but it was nothing compared to the collaboration I’ve seen with the web industry. Shipping a quality product requires coordination between several people with varied skill sets. And the different perspectives often push our results farther than we ever could on our own.

    Of course this also extends beyond our immediate teams. Designers and developers take their work and open source it, allowing others to benefit from it and to contribute to it. A beautiful product could be built by strangers scattered all over the world. To me, *that’s* romantic.

    ## Yes, we’re open

    There’s nothing quite like viewing an art piece in person. But galleries have operating hours and some are thousands of miles away. The web allows people to experience your work at any hour of the day and, especially now, from anywhere they wish. When I was introduced to responsive design, I fell in love all over again. Connect as many people to your content as possible and give them the best possible experience. Accessibility is king.

    And really, two small words sealed the deal for me: view source. And later: inspect element. See how things work, learn from the best, and teach others just by doing.

    There’s got to be a million ways people define art. For me, it’s all about delighting others and connecting people. Designing for the web has allowed me to do that and more, and somehow I get paid to do it.
