extends ../../_layout

block vars
  - var pageTitle = 'I don’t know what I’m doing.'
  - var pageDescription = 'Some thoughts on my career path into web design.'
  - var pagePath = 'i-dont-know-what-im-doing'
  - var bodyClass = 'thought-detail'
  - var date = '11 June 2013'
  - var laterText = 'High performance teams need more than talent'
  - var later = 'high-performance-teams-need-more-than-talent'
  - var earlierText = 'Why are designers* so bad at scoping?'
  - var earlier = 'why-are-designers-so-bad-at-scoping'

block content

  small: em Recently I was asked to speak to a group of high school students about my career path into web design and to offer any advice as they decide on a college and career path of their own.

  hr

  p I was always good at school. I have a great memory, especially for spoken words, so lectures were a perfect medium. I was accustomed to acing tests and crushing papers.

  p But halfway through college I lost interest in my plan to become a film animator, and I spent the remaining years painting and metal welding with no expectation of a career in the arts. On the day of my graduation, ASU President Michael Crow asked me what I planned to do next. In a long line of graduates, I was the only one to answer, “I don’t know what I’m doing.”

  p And that there was the biggest shift I experienced in my post-school career. Gone were the days where what was expected of me was outlined in a syllabus or prerequisites list. This was most definitely scary, but it could be either exhilarating or crippling, and that choice was up to me.

  p ....

  p Do you have a favorite teacher? Looking back on my schooling, I realize I had a one-of-a-kind, praise-your-deity, gem of a teacher. His name was Mr. Perry and he taught Honors World History. His class had the highest drop rate and it had nothing to do with tests or grading curves. His only requirement was to be fully engaged 100% of the time. There was no text book or syllabus. Each day was unpredictable, and every problem, discussion, or task he gave us had no clear correct answer. It was the hardest course I’d ever taken and the most similar to my life now as a professional.

  p ....

  p Soon after graduation, I interviewed for a web developer position with meltmedia. As I sat there, all I could think to myself was, “I don’t know what I’m doing.” I’d previously made websites only as a hobby and quickly realized how little I actually knew about them. They saw potential in me and offered me the position (thanks!). And now six years and a few role changes later, I still regularly feel like I don’t know what I’m doing. In an industry that’s changing by the minute, it’s a strangely comforting constant.

  p My career path wasn’t planned out and was shaped by an acceptance that it’s okay not to know. Even now I don’t have much of a plan for what I’ll do next. All I know is I want to keep learning and to keep making things, and with that I’m confident I’ll find my way.

  p Most people feel like they don’t know what they’re doing and if you can admit it, you’re already one step ahead. Acknowledge the feeling, but don’t let it stop your progress. Use your experience, available resources, and most importantly, your judgement to make the best decisions you can. In my experience, one of the most valuable traits we can have is to be adaptable. Because two certainties in life are that things will change and that we can’t know everything.

  p All of this reminds me of a great movie quote from Steve Carell’s #[em Dan in Real Life]:

    blockquote Instead of telling our young people to plan ahead, we should tell them to plan to be surprised.
