extends ../../_layout

block vars
  - var pageTitle = 'On giving my first-ever conference talk'
  - var pageDescription = 'A few things I did and wished I did for my first conference talk.'
  - var pagePath = 'on-giving-my-first-ever-conference-talk'
  - var bodyClass = 'thought-detail'
  - var date = '5 May 2014'
  - var laterText = 'Single Div Drawings with CSS'
  - var later = 'single-div-drawings-with-css'
  - var earlierText = 'Advice for young designers and future me'
  - var earlier = 'advice-for-young-designers-and-future-me'

block content

  p I recently gave my first-ever conference talk titled “Developers as Intentional Designers” at #[a(href='http://2014.jsconfbr.org/') JSConf Brazil]. I prepared my content, practiced my talk in front of the mirror and friends, and researched public speaking. I found theses resources to be particularly helpful: #[a(href='http://ladiesintech.com/the-best-advice-on-public-speaking/') The best advice on public speaking], #[a(href='http://bradfrostweb.com/blog/post/on-speaking/') Brad Frost: On Speaking], #[a(href='http://speaking.io/') speaking.io]. In hopes of helping others and remembering for myself, here are a few things I did (or wished I did) and a few things I learned.

  h2 You might regret agreeing to speak.

  p It’s super exciting getting invited to speak at a conference or getting your talk proposal approved. Whew! Now you can focus your energy (and nerves) on practicing and giving your talk, right? But sometimes fear manifests in weird ways. One way you might experience is intense, emotional regret for signing up for this in the first place. In your mind you’ll know you can do it. But in your gut you absolutely won’t want to. The best way I learned to fight the urge to back out is to…

  h2 Focus on the why as much as the what.

  p There’s a lot of advice out there on what to speak about and even more about how to get through your talk. As much as you focus your time and energy on the content of your presentation and the spirit of your delivery, spend as much time reminding yourself and your audience why your talk matters. You might be filling a gap, pushing for a new way of thinking, or reminding people of things forgotten. Your thoughts are worth sharing. Remind yourself of this often.

  h2 Practice doesn’t only happen in front of your computer.

  p There were some nights and weekends where I just wanted to veg out and do nothing. I felt guilty. “I should be practicing my talk,” I’d tell myself. “I haven’t sat in front of my slides in a few days.” Well, it turns out practicing a talk isn’t limited to outlining, slide-making, and run-throughs. You’ll be thinking about your content all the time. You will run through your talk thousands of times while in the shower, watching television, and even during conversations with your husband (sorry, Clay!). Don’t beat yourself up for taking a nap in the afternoon or not spending your weekend flipping through your deck. You’re practicing without realizing it.

  h2 The scale of your audience might not require a change in content, but it does require a change in #[em delivery].

  p I gave a dry-run of my talk to my friends at #[a(href='http://meltmedia.com') meltmedia] a week or so before the actual conference. It was in their office kitchen with my slides on a television and about 20+ people listening. The intimacy (and familiarity) of the people and environment made some parts feel forced and awkward. I had prepared those parts for an audience of ~150. I took note, and the same parts felt purposeful and right when speaking to a larger crowd with my slides projected huge on the wall behind me. Scale matters. Practicing in front of a small group is super beneficial, but keep your final audience in mind. Which is also a huge part of the next tip…

  h2 Speak to the one person you want to hear your talk the most.

  p It might be a real person you’ve worked with or it could be a symbolic persona. People will get varying degrees of value from your talk; some parts might speak to them and others might not. Think of the person who would benefit most from your talk, who would be the most changed after hearing it. Write your content with that person in mind and practice like you’re talking directly to them. You need to convince them of something. How would you present and deliver the content to do just that?

  h2 Drink lots of freaking water.

  p Seriously. I saw a few tips on keeping a water bottle nearby to keep your mouth from drying out. I think this is so important and something I wished I’d done. During my talk I felt like I had been gargling sand. Even a tiny sip of water would have been a lifesaver. Conference organizers, it would be amazing if you purposefully placed a bottle of water on the podium for each new speaker. Not necessary of course, but a delightful and helpful detail.

  h2 Plan to arrive with plenty of time to spare.

  p I planned on arriving to the conference hotel the night before the event. With a long and unexpected delay, I ended up arriving halfway through the conference. Luckily the schedule was flexible and they switched the time of my talk for later in the day (so so grateful for that). To avoid the stress and potentially missing your own talk, pad your arrival time, especially if you’re traveling internationally. Ask the conference organizers for travel tips or quirks for your destination.

  h2 Practice with different display setups and memorize keyboard shortcuts.

  p When you’re in front of a large group of people, you might forget how to use a computer. You know that feeling of not being able to type when someone is looking over your shoulder? Magnify that times 150. Practice with various display setups so you know just what to do when your displays are swapped or you’ve entered full-screen before you’re ready. In most cases a helpful audience member can shout out how to fix your problem, but it doesn’t hurt to be prepared.

  h2 Practicing your talk won’t end once you’re off-stage.

  p You might have heard that you won’t remember a lot of your talk. There’s this weird blackout your brain does during those 30 minutes. This totally happened to me. I don’t remember much of what I said at all. So for the next few days (and late nights) I ran through my talk over and over in my head. “Did I say that one part? I can’t remember.” I tested myself to see how much of my talk I still had memorized. “If I still remembered, I must have said it all, right?” If you’re able to, relax. In a few weeks you’ll need that energy to gather the courage to press “Play” on your talk’s video.

  p And lastly…

  h2 Give yourself a pat on the back.

  p It’s not easy to get up in front of your peers and give a talk, especially talks that require a ton of knowledge, preparation, and practice. You did it! Have a drink and celebrate.
