extends ../../_layout

block vars
  - var pageTitle = 'On making design decisions'
  - var pageDescription = 'A breakdown of decision patterns and explanations for them.'
  - var pagePath = 'on-making-design-decisions'
  - var bodyClass = 'thought-detail'
  - var date = '21 November 2014'
  - var laterText = 'Highlights and quotes from Phoenix Design Week Method + Madness'
  - var later = 'highlights-and-quotes-from-phxdw-2015'
  - var earlierText = 'Single Div Drawings with CSS'
  - var earlier = 'single-div-drawings-with-css'

block content

  :markdown-it

    Articulating our decision making is a huge part of our jobs as designers. Every day we should be asking ourselves “Why did I decide to do it this way?” Our coworkers, clients, and users will be asking the same question, so we may as well be prepared. 

    Everything we add or leave out is the result of decision making. Sometimes we’re called to explain decisions around entire layouts and other times it’s just the exact shade of grey we chose for a horizontal rule. Big or small, it’s important to understand *why* we land on the solutions we do.

    Below are six common decision patterns I’ve seen in my time as a designer. Note that these aren’t specifically ordered and I’m not suggesting any one is best. It’s important first to recognize our behavior before deciding what makes the most sense for our project which, as always, depends.

    ## Decisions made by other people

    On every project there will be plenty of decisions that have already been made for us. Most commonly this shows up as existing branding, usage rules, and style guides. An important decision we make is whether or not to adhere to these guidelines, for better or worse.

    Another way this pops up in our work is a client insisting on a certain direction, typeface, or various other treatment. How many times have you heard a designer say “That was the client’s decision” about negative feedback? Funny how we rarely use that one when the reviews are great. The truth is we made the decision that implementing their idea was better than continuing to push our idea or even to walk away from the project entirely. Decisions made by others are our decisions too.

    ## Decisions based on systems

    Designers and artists have been studying forms, trying new methods, and establishing systems for centuries. Many designers today use these proven systems to inform their decisions. [Typographic scales](http://alistapart.com/article/more-meaningful-typography) determine proper size measurements and rhythm, the [Golden Ratio](http://www.creativebloq.com/design/designers-guide-golden-ratio-12121546) influences aesthetic proportions, and the [Rule of Thirds](http://www.cambridgeincolour.com/tutorials/rule-of-thirds.htm) helps create balanced and dynamic compositions. I like to call this type of decision *leaning on history*. 

    ## Decisions based on personal history

    Another type of history we lean on is our own project history. We sometimes make decisions based on what we’ve personally seen succeed or fail in the past. What worked on a previous project may work swimmingly for this one or horribly for another. As we know, every project has its own set of constraints and complexities.

    ## Bandwagon decisions

    Many design decisions we make are influenced by what other people are doing. Copying what one designer is doing can be called plagiarism, but copying what lots of other designers are doing can be called “following industry trends.” There’s safety in numbers and making a bandwagon decision (following the path others have tested and approved) can make a lot of sense and save time. However, bandwagon decisions that reach ubiquity can lead to poor decisions about your specific project in the name of perceived standards. Love it or hate it, the [hamburger menu](http://digiday.com/publishers/the-problem-with-the-hamburger-menu/) is a great example.

    ## Decisions based on data

    “Designed with science!” That’s how it can feel making design decisions based on data. Data gathered through user observation, interviews, and A/B testing can show us what’s working as intended and what isn’t. Decisions about which features to change or eliminate can naturally follow. Sometimes though, the data is poorly collected or it might not be very *meaningful*. Designing contrary to what the data might suggest is a decision too.

    ## Decisions based on intuition

    This type of decision can be hard to explain. It’s when we say something looks or feels “right.” A designer’s intuition is the sum of the observation, training, and practice they’ve accumulated over the length of their career. I suspect this is what people are referring to when they say someone has “a natural eye.” Sometimes there isn’t a specific system or data set or past project to point to. Sometimes the concept is brand new. This is when we make decisions based on intuition.

    ## Decide to decide

    Any single decision can be informed by a combination of these approaches and many more not listed here. It’s important to know why we make decisions, but also to not let that knowledge paralyze us. No decision might seem better than a bad one, but at least with a bad decision we’ve learned something.

    If you’re a leader of a team, empower your designers (and your entire team, really) to make these hard decisions and to own the consequences. As much as indecision can damage a project or team, so can constantly asking for permission.

    ···

  small This was originally published on #[a(href='https://blog.andyet.com/2014/11/21/on-making-design-decisions') blog.andyet.com].
