extends ../../_layout

block vars
  - var pageTitle = 'Put your name on it'
  - var pageDescription = 'How I’ve approached the nerve-racking topic of ”personal branding.”'
  - var pagePath = 'put-your-name-on-it'
  - var bodyClass = 'thought-detail'
  - var date = '21 February 2023'
  - var ogImage = 'art-gallery'
  - var laterText = 'The &nbsp; was breaking after all'
  - var later = 'the-nbsp-was-breaking-after-all'
  - var earlierText = 'Unordered, incomplete list of things I want from a job'
  - var earlier = 'unordered-incomplete-list-of-things-i-want-from-a-job'

block content

  :markdown-it(html)

    [This 2012 post](https://bradfrost.com/blog/post/on-personal-branding/) by Brad Frost was making the rounds and got me thinking about personal branding. I’m someone who gets pretty anxious thinking about how others &nbsp;P&nbsp;E&nbsp;R&nbsp;C&nbsp;E&nbsp;I&nbsp;V&nbsp;E&nbsp; me, so it’s been difficult to follow advice on this topic. The thing that worked pretty well for me was this little bit of direction: Put your name on it.

    A small question to ask myself whenever I decide to work on a project or to publish some words: Do I want my name on this? I love how Brad promotes consistency not in what you talk about but in _being yourself_. This basic yes/no question helps me to sidestep the existential question of “Who am I though?” and to focus on making one decision. It’s a pretty good gut check.

    It’s helped me to not send an unkind tweet or twenty and to say “No” to clients and jobs that made me feel sheepish. It helped push me to be weird and ambitious with my work and—as Brad encouraged—to consistently be myself. And after many years, “a Lynn Fisher project” started to mean something in my corner of the web and with teams I worked with. My work started to walk me through doors.

    But it doesn’t end there. None of that would matter if I was horrible to work with. “Put your name on it” applies even more to how you treat people. And maybe that’s all a personal brand is anyway: a different term for your reputation.

    There are definitely projects and interactions—especially from early in my career—I wish I could remove my name from. I’ll make mistakes. I’ll change. Each new project, job, and relationship lets me decide what it means to put my name on it.
