extends ../../_layout

block vars
  - var pageTitle = 'Sabbaticals and muscle memory'
  - var pageDescription = 'My experience taking a 3-month sabbatical last summer and playing basketball for the first time in years.'
  - var pagePath = 'sabbaticals-and-muscle-memory'
  - var bodyClass = 'thought-detail'
  - var date = '6 February 2019'
  - var laterText = 'Five years of A Single Div'
  - var later = 'five-years-of-a-single-div'
  - var earlierText = '2018 British Arrows Awards'
  - var earlier = '2018-british-arrows-awards'

block content

  :markdown-it
    In the middle of 2018, I took a 3-month sabbatical from work. It was something I’d been wanting to do for over a year, while I was experiencing pretty severe burnout. I’ve previously shared a bit of [what that felt like](https://vimeo.com/248062321). I was able to stabilize myself for a while with significant help from my personal and professional support system. But extended leave was still calling me. 

    There were logistical decisions to be made and questions to answer. How long would I need? What kind of financial place would I need to be in? Would &yet hold my job for me? That all felt easy compared to the more nebulous and philosophical questions on my mind. In hindsight, three months isn’t that long, but our country’s culture has a way of punishing those who step away from work. And it encourages us to punish ourselves.

    I had a lot of thoughts. What if taking time off doesn’t help? What if this time away damages my career in some way? What if I forget things, fall behind?

    What if I lose a part of myself?

    …

    While on sabbatical, I went to my local gym early one morning to shoot hoops. I hadn’t played in years and I knew the court would be empty. Turns out dudes at the gym don’t usually want a 5’3” Asian chick with glasses on their pick-up basketball team. Go figure.

    I used to play every day growing up and played on lots of teams. I was actually pretty good. Maybe on this break I could ease my way back into it.

    As I walked toward the hoop something happened. I dribbled, I squared up, and I took a shot. Swoosh. My arm lingered vertically in the air. Follow through. I grabbed the ball and took more shots. Swoosh. Swoosh. The ball met the wood floor and returned to my hand. Over and over.

    It’s the first time I’ve cried at the gym. Muscle memory is a hell of a thing. All the work and the practice and the connections you made are still there. Even years later, you pick back up and it’s still you.

    I’d just spent a year or so feeling unsure of where I was, feeling unlike myself in ways I couldn’t reconcile. And then that morning, shooting hoops in an empty L.A. Fitness, there I was.

    …

    I didn’t do much web work during my break. I unpacked the pile of moving boxes we’d been living out of, tried [making some things out of wood](https://twitter.com/lynnandtonic/status/1022871859921006593), visited [some cool places in Arizona](https://twitter.com/lynnandtonic/status/1018634691732094976), and watched a good helping of reality television. I was surprised by how much I loved my time away. Maybe I could do this forever.

    And when I returned to work and to the web, there I was, again. Sometimes the work just flows out of you. Intuition is built from years of practice. Habits. Muscle memory.

    A connection between disparate skills zapped into place in my brain. The feeling of effortlessly sinking free throws and the joy of combining CSS properties to make visual magic.

    I’ve read a lot about specialists and generalists. T-shaped people and comb-shaped people. None of these have felt right to me. Every thing I do and learn and try makes this complex web of knowledge and experience. Each new thing strengthens the web and makes it more entangled.

    Maybe I’m a web-shaped person, a web builder. A spider-person. A friendly neighborhood Spider-Woman.

    I’m also sort of the Queen of getting out of shape and then back into shape in a weird wave pattern that never ends. I’ve accepted it and stopped pushing against it. And this I’ve learned, is how I work too. Being constantly prolific isn’t the norm for a lot of creative people. It’s ok to create seasonally. Some seasons we’re hibernating and others the work bursts from our fingertips without hesitation.

    It’s good to rest when we need it.

    If I’m stuck on a problem, I take a shower. Clean my bathroom or take a nap. When I return, the answer is right there clear as day. I joke that procrastination is part of my process, but I do mean it. Sometimes seeing the answers, connecting the dots, takes a bit of time away.

    So if it’s calling you, take a break. When you come back, you’ll be there.

    ···

  small This was originally published on #[a(href='https://blog.andyet.com/2019/02/06/sabbaticals-and-muscle-memory') blog.andyet.com].
