extends ../../_layout

block vars
  - var pageTitle = 'Single Div Drawings with CSS'
  - var pageDescription = 'A tutorial for drawing with CSS properties and a single div element, published by Mozilla Hacks.'
  - var pagePath = 'single-div-drawings-with-css'
  - var bodyClass = 'thought-detail'
  - var date = '15 September 2014'
  - var laterText = 'On making design decisions'
  - var later = 'on-making-design-decisions'
  - var earlierText = 'On giving my first-ever conference talk'
  - var earlier = 'on-giving-my-first-ever-conference-talk'

block content

  :markdown-it

    An article I wrote for Mozilla Hacks.

    > In May of 2013 I attended CSSConf and saw Lea Verou speak about the humble border-radius. It was an eye-opening talk and I realized there was much about CSS behavior I did not fully understand. This reminded me of my time as a fine arts student where I was constantly pushed to become a master of my chosen medium. As a web designer, CSS is my medium and so I challenged myself to learn all I could about it and to explore and experiment with its limits.

    [Read the full article on Mozilla Hacks.](https://hacks.mozilla.org/2014/09/single-div-drawings-with-css/)
