extends ../../_layout

block vars
  - var pageTitle = 'Start by speaking the same language'
  - var pageDescription = 'A first step for designers learning development.'
  - var pagePath = 'start-by-speaking-the-same-language'
  - var bodyClass = 'thought-detail'
  - var date = '14 February 2013'
  - var laterText = 'Things are hard before they are easy'
  - var later = 'things-are-hard-before-they-are-easy'
  - var earlierText = 'How I fell in love with designing for the web'
  - var earlier = 'how-i-fell-in-love-with-designing-for-the-web'

block content

  :markdown-it
    I’m regularly asked if I believe web designers should practice HTML and CSS. While I do think so (which could be another post or five), it can sometimes be against our favor to jump to this argument right away.

    For designers who do not write CSS, learning how can be difficult and scary. And people saying you don’t know how to do your job can only make it more stressful. I encourage designers to take a small first step in the right direction by learning to speak the developers’ language.

    It can start slowly. Expand your vocabulary to include the words or phrases you’d most likely use when trying to communicate a point. If you visited a foreign country, for example, you’d probably first want to learn how to politely ask for a restroom.

    There are many ways to say the same thing. Find the words that make the most sense to the developer. For a designer trained in typography, the terms “leading” and “tracking” are second nature. However, a CSS developer would be more familiar with “line height” and “letter spacing”. A simple shift in phrasing can make a big difference.

    As you learn, you may find yourself using the terms “margin” or “padding” when instructing a developer to add more negative space. And as your vocabulary grows, so too will the ease of learning to write CSS yourself.

    And remember, while the ability to craft HTML and CSS can certainly make you a stronger designer, clear communication is still most important.
