extends ../../layout

block vars
  - var pageDescription = 'A talk about illustration with CSS for CSSDay.io in December of 2015'
  - var bodyClass = 'thought-detail'

block title
  | CSSDay Talk: Illustration with CSS - 

block content

  .content

    small.date 11 January 2016
    h1 CSSDay Talk: Illustration with CSS

    p In December I gave a talk at #[a(href='http://cssday.io/') CSSDay] in Chandler, AZ. It focused on CSS illustration and my recent #[a(href='http://a.singlediv.com') A Single Div] project. It was an awesome one-day event and I hope there will be more like it in the future. I love me some CSS conferences, especially ones in my home town!

    p Here’s the video and slides for my talk. The rest of the talks (many of which were just wonderful) can be seen here: #[a(href='https://www.youtube.com/watch?v=EYymXZtpU0g&feature=youtu.be&list=PLfWvsMtBxHo1WqPrBwxq3zc2RDo5HkYwy') CSSDay Talks playlist on Youtube].

    .video-container.wide
      iframe(width="100%" src="https://www.youtube.com/embed/l7VUhEdM2aY" frameborder="0" allowfullscreen)

    .wide
      <script async class="speakerdeck-embed" data-id="5ce373bc7c05425fb83228e2f48e9159" data-ratio="1.6" src="//speakerdeck.com/assets/embed.js"></script>

    include includes/thoughts-back-link
