extends ../../_layout

block vars
  - var pageTitle = 'Ten years of A Single Div'
  - var pageDescription = 'My A Single Div project turns ten years old.'
  - var pagePath = 'ten-years-of-a-single-div'
  - var bodyClass = 'thought-detail'
  - var date = '22 May 2024'
  - var ogImage = 'single-div-ten'
  - var earlierText = 'When your work disappears'
  - var earlier = 'when-your-work-disappears'

block content

  :markdown-it(html)

    On 22 May 2019, I write about [five years of A Single Div](/thoughts/entries/five-years-of-a-single-div/), my favorite little side project.

    I participate in [#inktober](https://inktober.com/) but with single div illustrations. I call it [#divtober](https://a.singlediv.com/divtober2019/).

    ![grid of illustrations including a monochrome ring box, a grim reaper, a gold Nintendo cartridge, and more](/assets/images/thoughts/single-div-ten-2019.jpg)

    I have so much fun with the challenge. My enthusiasm for the process grows even more.

    I get [nerd sniped](https://twitter.lynnandtonic.com/status/1197989912970067969/) and draw a [Tesla Cybertruck with one div](https://codepen.io/lynnandtonic/pen/NWWmzjr) which becomes one of my most popular pens on CodePen.

    ![Cybertruck](/assets/images/thoughts/single-div-ten-cybertruck.jpg)

    I fall in love with conic gradients. With these, any drawing seems possible.

    I draw single divs live with [Erik Kroes](https://youtu.be/-jPSLm4-2cc) and [Jason Lengstorf](https://www.learnwithjason.dev/a-single-spooky-div) to show how [very extremely practical](https://css-tricks.com/very-extremely-practical-css-art/) it really is.

    I go months without contributing to the project, but each October my love for it renews. Each time I question whether I can do it and each time I end up with 31 drawings I adore. I feel accomplished and rejuvenated.

    Other CSS folks start to join in with [#divtober](https://x.com/search?q=%23divtober+-from%3Alynnandtonic). They share beautiful, creative, and astonishing single divs of their own. I love to see what they make.

    I watch people [discover the project for the first time](https://news.ycombinator.com/item?id=40242410), again and again. I chuckle while they try to make sense of it.

    For [#divtober 2023](https://front-end.social/@lynnandtonic/111330310113669529), I create some of my favorite single divs ever. I am also more tired than ever.

    ![grid of illustrations including Frida Kahlo, McDonald’s happy meals, skeletons, stained glass, and more](/assets/images/thoughts/single-div-ten-2023.jpg)

    I remind myself that projects don’t need to grow forever. And they can always be continued in the future.

    On 22 May 2024, I call [A Single Div](https://a.singlediv.com) done for now. Ten years of drawing, learning, and challenging myself. A decade of growth to look back on.

    Thanks for everything, little side project 💚

    <video width="100%" autoplay muted playsinline loop>
      <source src="/assets/images/thoughts/single-div-ten-fin.mp4" type="video/mp4">
      Sorry, your browser doesn’t support embedded videos.
      <span class='screenreader'>Black background with the word “ten” written in all caps in white block letters. The letters slowly move and form the word “fin”.</span>
    </video>

  small.footnote View this final drawing and more at #[a(href='https://a.singlediv.com') a.singlediv.com].
