extends ../../_layout

block vars
  - var pageTitle = 'Test Post'
  - var pageDescription = 'Just testing some stuff.'
  - var pagePath = 'test-post'
  - var bodyClass = 'thought-detail'
  - var date = '30 December 2024'
  - var ogImage = 'test'
  - var laterText = 'bloop'
  - var later = 'bloop'
  - var earlierText = 'no'
  - var earlier = 'no'

block content

  :markdown-it

    ### Hello
