extends ../../layout

block vars
  - var pageDescription = 'On hiring designers and looking for that one most important trait.'
  - var bodyClass = 'thought-detail'

block title
  | The Most Important Trait in a Designer (MITIAD) - 

block content

  .content

    small.date 14 May 2013
    h1 The Most Important Trait in a Designer (MITIAD)

    p I’ve previously written about the #[a(href='/thoughts/entries/three-books-that-changed-my-professional-and-personal-perspective') Missing Tile Syndrome], a term coined by author Dennis Prager describing our tendency to fixate on whatever is flawed or missing in a situation. My favorite example he provides is his experience trying to discover the Most Important Trait in a Woman (MITIAW).

    p During his dating years, Dennis became obsessed with finding the MITIAW. In his book #[em Happiness Is a Serious Problem] he writes, “After one date it would be personality, after another it was physical attractiveness, after another it was intelligence, and after yet another it was good values.” After years of this, his friend Joseph finally pointed out that “the Most Important Trait in a Woman is whatever tonight’s date didn’t have.”

    p I’ve found myself thinking about this story a lot lately. Company culture is on everyone’s minds and blogs and “only hiring the right people” is a badge of honor companies wear proudly. And rightly so. The interview process is a lot like dating and we shouldn’t just let anyone into our beds.

    p Recently, as a position has gone unfilled for longer than expected, I participated in the same game. I was looking for the Most Important Trait in a Designer and found myself focusing on each person’s missing skills or experience. After one interview it would be strategy, after another it was development experience, after another it was humility, and after yet another it was clear communication. Of course all of these are important and we yearn to find the person who embodies them all.

    p So to focus my thoughts and energy, I took a step back. Is there possibly one MITIAD that could apply to all cases? While I’m still not certain what that trait is, I have found a good, albeit subjective measure for it. When I leave the interview, the first words out of my mouth should be, “I #[em can not] wait to work with this person.” I should feel a pang of excited urgency, knowing we’ve found the one.

    p And if the dating analogy is too much for you (business is business after all), remember many of us spend more waking hours per week with our coworkers than with our spouses. So while searching for the MITIAD can be a distraction, it’s important to articulate what it is we value and what to do when we find it.

    include includes/thoughts-back-link
