extends ../../_layout

block vars
  - var pageTitle = 'The value of an outside perspective'
  - var pageDescription = 'Why it’s valuable to show your work to both people who get you and people who don’t get you ...yet.'
  - var pagePath = 'the-value-of-an-outside-perspective'
  - var bodyClass = 'thought-detail'
  - var date = '20 June 2019'
  - var ogImage = 'outside-perspective'
  - var laterText = 'Case Study: lynnandtonic.com 2019 refresh'
  - var later = 'case-study-2019-refresh'
  - var earlierText = 'Five years of A Single Div'
  - var earlier = 'five-years-of-a-single-div'

block content

  figure
    img(src='/assets/images/thoughts/blog-illo-outside-perspective.png', width='860', height='522', alt='outside a window, a yeti smiles and waves hello')
    figcaption.footnote When is someone on the outside very helpful (and not creepy)?

  :markdown-it
    I don’t think I need to convince anyone that having another person review your work is a good thing. It’s probably already built into your teams and processes. Programmers pair up and build a feature together, bouncing ideas off one another. Code reviews are required before new work can be merged into our apps. Design teams hold critiques where the work is examined and people provide feedback.

    In most of these cases, the people reviewing the work are our teammates or clients. Let’s say they’re “People who get you.”

    ## People who get you

    These people work with you. Sometimes it feels like your coworkers and clients understand you better than you do. This makes discussing your work super productive. They know what you’re trying to do, they get your communication style, and they see a similar vision for the work. When the feedback is good, it’s *really* good. You’re collaborating and the work is flowing.

    But are there gaps that can cause the work to suffer? The People who get you are usually like-minded and can be oblivious or ignorant to the same things you are. Have you ever seen a product or marketing campaign that’s just blatantly offensive? You ask yourself, “*How* could they not see it? No one said anything?” Maybe all the people in the room were missing this crucial information. Or the person who saw it couldn’t speak up or was ignored.

    Keeping feedback inside a project, team, or org can be weighed down by cultural baggage. Teams love to say they’re low on politics, but honestly it’s unavoidable. A higher-up can drop a bomb of feedback and derail a team. Teammates can resist solutions because it’s not how it’s always been done. Sometimes feedback and ideas are *actually heard* from only specific people or roles, despite how many people are saying them.

    So what then? Ask for feedback from people who don’t know you? That can be risky. They don’t know your history, all the difficult decisions you’ve had to make to get to today. They don’t have an investment in your success. You’ll have to catch them up and answer questions you’ve answered before, turn down ideas you’ve already tried and rejected. It’ll take too much time.

    But there’s an opportunity there, with these People who don’t get you …yet.

    ## People who don’t get you …yet

    The cool thing about getting an outside perspective is it’s a viewpoint that’s impossible for you to have yourself. Seeing things for the first time is insight a person has once.

    We’ve seen the immense value of putting our work and processes in front of a beginner or a brand new teammate and them asking questions and speaking their mind. It can immediately reveal gaps in documentation, process, or our assumptions. It brings a unique clarity that only a Person who doesn’t get you yet can.

    And the time spent “catching them up” is the perfect chance to evaluate how you explain your work. There *is* only so much time, so what information do you convey and what do you cut? They’ll likely ask questions you’ve already answered, but I’m certain they’ll ask questions you haven’t considered. Often decisions get made without us realizing it and this forces you to examine them and explain why things are as they are.

    People who don’t get you yet can see and evaluate your work without the baggage I mentioned earlier. They can see the work at face value, as it is. They won’t be worried about shareholders or the many years you’ve spent iterating. Does the work reflect the purpose and direction you’re selling?

    And as far as investing in your success, if you find the right People who don’t get you yet, they will approach this important job of giving feedback with support and encouragement in mind. It can absolutely be counterproductive to seek this valuable insight from people who don’t have your back. In our experience, peers and/or consultants who can bring humility, kindness, and expertise to this process are value multipliers.

    ···

  small This was originally published on #[a(href='https://blog.andyet.com/2019/06/19/the-value-of-an-outside-perspective/') blog.andyet.com].
