extends ../../_layout

block vars
  - var pageTitle = 'Things are hard before they are easy'
  - var pageDescription = 'A lesson in humility.'
  - var pagePath = 'things-are-hard-before-they-are-easy'
  - var bodyClass = 'thought-detail'
  - var date = '21 February 2013'
  - var laterText = 'Why are designers* so bad at scoping?'
  - var later = 'why-are-designers-so-bad-at-scoping'
  - var earlierText = 'Start by speaking the same language'
  - var earlier = 'start-by-speaking-the-same-language'

block content

  :markdown-it
    Growing up, my family had a meeting every Sunday where we examined our week, celebrated our accomplishments, and reviewed our family mottos. One of these mottos was “Things are hard before they are easy.” I always thought, “well, duh” and moved on. I realized later it wasn’t only an encouragement to continue on a difficult path, but a lesson in humility.

    Before you knew it, you didn’t. I remind myself of this often. Even as adults we can fall victim to the childhood taunt, “You don’t know what [insert thing you should know] is?” And unfortunately this often manifests as doubt and resentment toward our clients or colleagues. Next time, think of it differently. A person’s lack of knowledge or skill is not a burden you must bear; it’s an exciting opportunity to share your experience with them.

    In the end, it’s a decision we make as students and teachers. Resist the urge to give up in the face of difficult challenges and avoid criticizing others for being behind. Instead, empower them to catch up. Because let’s be honest, we’ve all been that kid on the playground that didn’t know what [insert adult word] was.
