extends ../../_layout

block vars
  - var pageTitle = 'Thoughts from Phoenix Design Week 2018'
  - var pageDescription = 'Thoughts and highlights from the 2018 Phoenix Design Week conference.'
  - var pagePath = 'thoughts-from-phxdw-2018'
  - var bodyClass = 'thought-detail'
  - var date = '23 October 2018'
  - var ogImage = 'phxdw-2018'
  - var laterText = 'Case Study: lynnandtonic.com 2018 refresh'
  - var later = 'case-study-2018-refresh'
  - var earlierText = 'Why give a conference talk? But also, why not.'
  - var earlier = 'why-give-a-conference-talk-and-why-not'

block content

  p A few thoughts and highlights from this year’s Phoenix Design Week conference #[em Beyond Design]. But first, the rad intro video by the folks at #[a(href="https://magnetry.com/") Magnetry] in Phoenix:

  .video-container.wide
    iframe(width="100%" src="https://player.vimeo.com/video/293427065" frameborder="0" allowfullscreen)

  p #[a(href="http://marshallshore.blogspot.com/") Marshall Shore], the hip historian, emceed beautifully and shares my love for Arizona. As someone who usually dresses to blend in, I can appreciate his dramatic sartorial choices. Those jackets! So great.

  img(src="/assets/images/thoughts/phxdw-marshall-shore.png", width='800', height='700', alt='Marshall Shore, wearing a hand-painted jacket and Phoenix bow tie')

  hr

  h2 Armin Vit, #[a(href="https://underconsideration.com/") Under Consideration], #[a(href="https://www.underconsideration.com/brandnew/") Brand New]

  p The thing I found most fascinating about Armin’s talk was his utilization of unconventional materials. When creating custom conference materials he and his wife, #[a(href="https://underconsideration.com/about/") Bryony Gomez-Palacio], explored mold-making, #[a(href="https://www.behance.net/gallery/70707339/2018-Brand-New-Conference-Identity") cement curing], and #[a(href="https://underconsideration.com/favorite_things_weve_made/2016-brand-new-conference-identity/") screen printing on vinyl records] and #[a(href="https://underconsideration.com/favorite_things_weve_made/2017-brand-new-conference-identity/") highly reflective materials]. They made a lot of their materials tirelessly by hand. My favorite quote by Penn Jillette comes to mind here. He even admitted it can be hard to collaborate with others (besides his wife) because not many can match their pace and obsession.

  img.wide(src="/assets/images/thoughts/phxdw-armin-vit.png", width='1500', height='777', alt='examples of swag: concrete blocks, vinyl records, bags, and pins', loading='lazy')

  p Process-wise, he’s not a great sketcher. He moves quickly from a “shitty” sketch into the domain he’s mastered, Adobe Illustrator. Sometimes it makes sense to jump right in. He has an interesting approach to file setup, working from the top left corner of an artboard down and to the right as he iterates. This creates a neat timeline of thoughts and trials, keeping the latest version always on the bottom right of the file. Here’s a sad, quick recreation of that:

  img(src="/assets/images/thoughts/phxdw-illustrator-sketch.png", width='1614', height='992', alt='an Illustrator artboard with boxes diagonally arranged from top left (oldest) to bottom right (latest)', loading='lazy')

  blockquote I’m a fucking beast at Illustrator. I own it. Except actually I rent it from Adobe.
    cite Armin Vit

  hr

  h2 Anne Yoachim, #[a(href="http://small.tulane.edu/our-team/leadership/ann-yoachim/") Tulane School of Architecture]

  p Anne’s work is fascinating: designing for specific communities in New Orleans and implementing physical solutions in real spaces. Her team worked on visual communication surrounding Hurricane Katrina, set up a community book center for underserved youth, and started a #[a(href="http://rubarbike.com/") community bike shop] where kids can learn to build and fix bicycles together.

  p With her work in the community as examples, she encouraged us to examine the relationships between all the roles we play. What are the biases we benefit from and inject into our work? What power dynamics are in place?

  blockquote Design is a capacity builder for companies… but it can’t solve everything.
    cite Anne Yoachim

  hr

  h2 Shari Benko, Experience Designer

  p In another talk about recognizing bias, #[a(href="http://www.sharibenko.com/") Shari Benko] spoke on the relationship between UX and AI. In a field where you’re teaching a system to make decisions, how can you be as transparent as possible? How do you predict behaviors of the people interacting with it? She posed this question which I’ve been thinking about a lot ever since:

  blockquote How do you design for distrust?
    cite Shari Benko

  hr

  h2 Nakita M. Pope, #[a(href="http://brandingchicks.com/") Branding Chicks]

  p Nakita is a ray of sunshine and pure charisma. Branding is not a specialty of mine, but she makes it super relatable. She has a personal, one-to-one approach to branding and identity and compares it to counseling:

  blockquote You can help people figure out who they are and most importantly, you can give them permission to be fully themselves.
    cite Nakita M. Pope

  hr

  h2 Steve Thompson, Disney

  p #[a(href="https://www.instagram.com/sthompsonart/") Steve Thompson] talked about getting a gig at Disney and how his career path really started with a foundation in life drawing. An influential teacher in his past encouraged him to “draw from life.” It was this back-to-basics approach that’s helped him throughout all the turns of his career. It’s easy to forget about the foundations, but sometimes the simple stuff is what we need to solve hard problems.

  p He’s got an effortless, natural drawing style and I just love it.

  img.wide(src="/assets/images/thoughts/phxdw-steve-thompson.png", width='1500', height='997', alt='sketchy drawings of Disney characters like Ariel and Gaston', loading='lazy')

  p He also shared the inspiration he’s gained from taking circus class and mastering trapeze. It’s amazing the confidence we can achieve through other ventures outside of our work. It may seem unrelated, but it all affects the work we do and the way we can be fully ourselves. 

  hr

  h2 Jon Arvizu, #[a(href="https://jonarvizu.com/") Illustrator + Designer]

  p I found Jon’s honesty refreshing, speaking about the challenges of running your own business: navigating legal documents, protecting intellectual property, pushing against a lack of motivation, and the stress of leaving things unfinished.

  img.wide(src="/assets/images/thoughts/phxdw-jon-arvizu.png", width='1500', height='1008', alt='printed posters of various Phoenix locations like Scottsdale and Liberty Market', loading='lazy')

  p He’s an illustrator and printmaker and his work is really fun. I especially loved his Arizona-themed work (of course).

  hr

  h2 Cat Swetel, Lost Embossing Consulting

  p #[a(href="https://www.catswetel.com/") Cat Swetel]’s talk was a breakdown of the #[a(href="https://en.wikipedia.org/wiki/A3_problem_solving") A3 problem solving technique], but what I found most interesting was the portion about reframing the problems we’re trying to solve. We often come at problems with a solution already in mind.

  p She gave the example of feeling thirsty. Some may frame the problem as “I don’t have a glass of water.” which is too specific. It already has a solution built in. A better framing of the problem is “I’m dehydrated.” which could be solved in a number of ways.

  p A good lesson in taking a step back and observing, noticing what we may have overlooked, and adjusting our thought process.

  hr

  h2 Lisa Peña, The Design School at ASU

  p Lisa should really give a talk on the main stage next year. Her talk on design awareness had a lot of practical and insightful examples of how we “unconsciously omit groups from our designs” and how we can recognize our biases and design better experiences.

  p A few examples she spoke about:

  ul
    li #[a(href="https://youtu.be/LhpUJRGrZgc") Rainbow Bagel Quest] shows the time and effort it took for Zach Anner, a person with cerebral palsy, to obtain an elusive rainbow bagel
    li Burger King asks the American Sign Language (ASL) community to #[a(href="https://youtu.be/1akWJ2fiems") create a sign for the Whopper]
    li Toyota’s #[a(href="https://youtu.be/2DhI7D5sS5U") Mobility for All campaign]
     li #[a(href="https://youtu.be/dKCdV20zLMs") Sesame Street introduces Julia], a muppet with autism
    li Tennessee Tourist Development installs #[a(href="https://youtu.be/zi7R66sgvfU") scenic viewfinders for people with colorblindness] to experience the state’s natural beauty

  hr

  h2 Aaron Draplin, Draplin Design Co.

  p A peek at Draplin’s new book #[em Pretty Much Everything]:

  img.wide(src="/assets/images/thoughts/phxdw-draplin.jpg", width='1200', height='801', alt='an open book, the page shows a lot of Field Notes in varying colors and wear', loading='lazy')

  p Draplin is of course incredibly prolific and showcased that with gusto here. He spoke with passion about how any little thing in our lives—yard sale signs, birthday invites, funeral pamphlets—can become deeply personal, well-designed creative endeavors.

  p He’s certainly a unique communicator, full of energy and misdirection. The kind of person with a story about everything.

  hr

  p It would be remiss of me to not mention I also gave a talk at this year’s event. There was no video captured, but I plan to post slides and maybe a narrated slideshow soon. Stay tuned.
