extends ../../layout

block vars
  - var pageDescription = 'Highly recommended books for professional and personal growth.'
  - var bodyClass = 'thoughts layout-sub'

block title
  | Three books that changed my professional (and personal) perspective - 

block content

  .content-container.entry

    small.date.upper 12 March 2013
    h1 Three books that changed my professional (and personal) perspective

    p Every book we read changes us in some small way. And then there are the books that light a fire inside us. The following books did just that for me and truthfully, I could talk about them forever. Here are a few of the concepts I connect with most and some of my favorite quotes.

    hr

    p #[strong Happiness Is A Serious Problem] by Dennis Prager

    p A deeply honest book about human nature, what keeps us from being happy, and what we often mistake for happiness.

    p #[strong Concept:] Happiness is a moral obligation.  
    p Basically, we owe it to those around us to be happy. Or at the very least, to actively work on our happiness. Think about hanging out or working with someone who is consistently unhappy and complains often. It can be toxic to a relationship, a team, and a company. Others benefit from our happiness and suffer in its absence.

    p #[strong Concept:] The Missing Tile Syndrome  
    p Imagine looking up at an intricately decorated ceiling and noticing one tile is missing. You might find yourself fixated on the missing tile instead of appreciating the ceiling’s beauty. We do this in our personal and work lives; we allow that “one thing” that’s missing to ruin our experiences. Things will never be perfect and a missing tile shouldn’t keep us from enjoying life and moving forward.

    p #[strong Quote:] “Yes, there is a ‘secret to happiness’—and it is gratitude. All happy people are grateful, and ungrateful people #[em cannot] be happy.”

    hr

    p #[strong Linchpin] by Seth Godin

    p An encouragement to make the choice to be better.

    p #[strong Concept:] Become indispensable.  
    p We shouldn’t accept being “factory” workers who simply do the job. Being average means being replaceable. Instead, be remarkable. Bring passion and energy to your work, connect with those around you, make informed decisions, and do what needs to be done, regardless of “whose job it is.” Organizations will look for you, fight for you, and miss you when you’re gone.

    p #[strong Quote:] “The indispensable employee brings humanity and connection and art to her organization. She is the key player, the one who’s difficult to live without, the person you can build something around.”

    p #[strong Concept:] Give the gift of emotional labor.  
    p A lot of emphasis is placed on the skills specific to our craft. We are often judged by how much we know or how well we execute a measurable task. But this is only part of what we contribute to our teams. Bring all of yourself to your work, be vulnerable, and make your interactions joyful. Your teammates will benefit from these gifts and your work will be more fulfilling.

    p #[strong Quote:] “The act of giving someone a smile, of connecting to a human, of taking initiative, of being surprising, of being creative, of putting on a show—these are things that we do for free all our lives. And then we get to work and we expect to merely do what we’re told and get paid for it.”

    hr

    p #[strong The Nordstrom Way to Customer Service Excellence] by Robert Spector

    p An inspiring story of a company that gets it really right. Nordstrom provides incomparable customer experiences and maintains a company culture worth emulating.

    p #[strong Concept:] Hire the smile, train the skill.  
      Nordstrom knows the importance of hiring the right people, especially those who will interact directly with their customers. They hire people with strong work ethic, who are self-motivated, and most importantly, who are nice. Many of the necessary skills can be taught on the job, but much more difficult is making someone nice who isn’t.

    p #[strong Quote:] “When asked who trains his salespeople, Bruce [Nordstrom]’s simple answer was ‘their parents.’”

    p #[strong Concept:] Your team is worthy of real trust.  
    p The Nordstrom new employee handbook is a single card with a single rule: #[em Use good judgment in all situations]. I think I fell out of bed when I read that. Not only do they give their employees this rare kind of trust, but they are expected to do extraordinary things with it. An employee’s potential success with the company is unlimited, but it’s completely up to him or her to achieve it.

    p #[strong Quote:] “Put as much responsibility as possible into the hands of as many people as possible. That’s the only way to give the culture a chance to progress.” —Bruce Nordstrom

    p #[a.back(href='/thoughts') ← Back to recent writing list]
