extends ../../_layout

block vars
  - var pageTitle = 'Unordered, incomplete list of things I want from a job'
  - var pageDescription = 'If I have to have to a job, this is what I want it to offer me.'
  - var pagePath = 'unordered-incomplete-list-of-things-i-want-from-a-job'
  - var bodyClass = 'thought-detail'
  - var date = '16 February 2023'
  - var ogImage = 'comfy-spot'
  - var laterText = 'Put your name on it'
  - var later = 'put-your-name-on-it'
  - var earlierText = 'Case Study: lynnandtonic.com 2022 refresh'
  - var earlier = 'case-study-2022-refresh'

block content

  :markdown-it(html)

    In the last three years I’ve worked for three very different companies. This year the tech industry is laying off thousands. I’ve been thinking a lot about jobs. In rougher times it feels risky to ask a lot from your job, but we should. Especially now. So here’s an unordered, incomplete list of things I want from a job.

    - Work that benefits from my specific skills and ideas.
    - Work that benefits the people who receive it.
    - A salary that enables me to live a comfortable life, to be generous, and to save for retirement.
    - The ability to work from the sunny spot of my couch with my dog.
    - The ability to take a nap, run errands, or go to the cinema during the workday if I need/want to.
    - The flexibility to work in the way I work best and with the tools I choose.
    - A team small enough to know everyone personally.
    - A team that has fun.
    - A team that ships work often.
    - The autonomy to make small and big decisions about my work.
    - The ability and opportunity to share my work publicly.
    - Strategic leadership whose financial decisions I trust.
    - Courageous leadership who does the right thing.
    - Empathetic leadership who treats people well, even (especially) when it costs the business.
    - Good health insurance.
    - No implied requirement that I have Opinions™ about specific web technologies or companies.
    - Very few meetings, used effectively.
    - Encouragement.
    - Generosity.
    - Perks that enable me to do more with my time.
    - The space to be a vulnerable, flawed human.
    - Work that requires creativity.
    - Work that offers variety.
    - Work that makes me come alive.
