extends ../../_layout

block vars
  - var pageTitle = 'When your work disappears'
  - var pageDescription = 'A web designer’s lament, plus oss.love is mine now.'
  - var pagePath = 'when-your-work-disappears'
  - var bodyClass = 'thought-detail'
  - var date = '7 May 2024'
  - var laterText = 'Ten years of A Single Div'
  - var later = 'ten-years-of-a-single-div'
  - var ogImage = 'work-disappears-og'
  - var earlierText = 'I archived my tweets'
  - var earlier = 'i-archived-my-tweets'

block content

  :markdown-it(html)

    The web is always changing and that’s one of my favorite things about it. But there’s a unique sadness in visiting a URL and seeing a 404 where your work once was. 

    I make websites for a living and most of the time it’s for companies. I don’t have any delusion about who owns that work. *Don Draper voice*: “That’s what the money is for!”

    But that work is still also mine: the product of my brain and hands working together in the way only mine do. I made it a requirement that any job I take allows me to say so. But in the end, the code, the artwork, the domain—it belongs to them.

    Companies change. They grow, have layoffs, pivot. They get acquired, they close up shop. And as team members rotate and domains expire, you see more and more of your work disappear.

    I don’t have any solutions here, just thoughts and feelings about things I mostly have no control over. I feel hopeful about renewed enthusiasm for personal sites and blogs over platforms, but for most of my work, it’s just out of my hands.

    So when [oss.love](https://oss.love) went down this February, I felt that familiar grief. Another bit of work disappearing into the ether. Netlify decided not to renew the domain and planned to archive the project. A bit on impulse, I asked if they would give it to me and they said yes.

    After some work getting things transferred and updated, the site is back up and under my care! You can continue to visit [oss.love](https://oss.love) and share cards of appreciation with your fave open source peeps.

  p
    a(href='https://oss.love'): img(src='/assets/images/web-oss-love.svg', width='1150', height='700', alt='a developer pun Valentine’s card featuring a happy Earth saying “You had me at Hello World”', decoding='async', loading='lazy')

  :markdown-it(html)

    As with all my projects, but this one especially, I am keenly aware of the costs of maintenance:
    - **The domain is not cheap.** I thought I would have to pick a new one, but [OpenSauced](https://opensauced.pizza/) and [ui.dev](https://ui.dev) are generously sponsoring the project so I can cross that bridge later.
    - **The site has a lot of pieces I don’t understand.** It uses GitHub APIs, Netlify functions, Supabase, and Cloudinary. This is all outside of my skillset, so if things break or I want to make enhancements I’ll likely need help. The site is [open source](https://github.com/lynnandtonic/oss-valentines) so hopefully that will make it easier.
    - **High usage brings high costs**. Right now I’m using free tiers for services, but if the project gets a lot of traffic (good), the costs will go up (bad). Again another bridge I will cross later if needed.

    That’s not nothing, but I’m also not worried. I’m glad that—at least for now—my work still appears when you hit that URL.

    Some thanks are in order here. Thank you to Netlify and specifically [Phil Hawksworth ](https://www.hawksworx.com/) for his amazing work on the original project. Huge thank you to [Ryan Mulligan](https://ryanmulligan.dev/) for helping me transfer everything. Thank you to [Jason Lengstorf](https://jason.energy/) for helping me [get the site back up and running](https://www.youtube.com/watch?v=59P9xrZ5UvQ). And thank you again to [OpenSauced](https://opensauced.pizza/) and [ui.dev](https://ui.dev) for supporting the project.

    Now, get sending those cards 💚 [oss.love](https://oss.love)
