extends ../../_layout

block vars
  - var pageTitle = 'Why give a conference talk? But also, why not.'
  - var pageDescription = 'Benefits and drawbacks to speaking at conferences.'
  - var pagePath = 'why-give-a-conference-talk-and-why-not'
  - var bodyClass = 'thought-detail'
  - var date = '24 April 2018'
  - var ogImage = 'conf-guide'
  - var laterText = 'Thoughts from Phoenix Design Week 2018'
  - var later = 'thoughts-from-phxdw-2018'
  - var earlierText = 'Why do work without a practical purpose?'
  - var earlier = 'why-do-work-without-a-practical-purpose'

block content

  img(src='/assets/images/thoughts/lynnandtonic-conf-talk-guide.jpg', width='1600', height='1142', alt='@lynnandtonic’s Guide to Conference Talk Prep: 1. Thesis 2. Outline 3. Steam clean floors 4. Watch entire season of Scandal 5. Sob quietly 6. Slides')

  :markdown-it

    Earlier this month I was deciding whether I should speak at a developer conference in the fall and found myself waffling between a pros and cons list. Turns out I ❤️ giving conference talks *and* I also don’t?

    Every talk I’ve ever given was ultimately worth doing and I feel so, so grateful for each of those opportunities. But let’s be honest; prepping, traveling for, and giving a quality talk takes *work*, physically and emotionally.

    This breakdown of benefits and drawbacks helped me think through the “why?” and “why not?” of speaking this time around.

    ## Truly great benefits

    **Learning**  
    Prepping a talk requires research and double and triple checking facts. Writing a loose script for others to experience helps me better understand and articulate my process and perspectives. Nothing helps me master a topic like teaching it.

    **Personal growth**  
    Getting up on stage is *scary*. Public speaking is no joke in the fear department. Every time I do it, it becomes less intimidating and I become more confident.

    **Visibility**  
    Giving talks helps introduce new people to my work. These are folks who I may never have met or reached in any other way. It’s super cool to see my projects’ traffic spike after a talk or to see my work shared anew on social media.

    And although I’m not looking for a job, it’s helpful when potential employers have seen me speak or are already familiar with my work.

    **Credibility**  
    Whether it should or not, our industry values speaking at conferences. Having talks on my resume or videos/slides to point to increases my credibility with peers, clients, and with future conferences I might want to speak at too.

    **Introvert assist**  
    Chatting with people at large events can cause anxiety for me, especially if I’m attending solo. Being a speaker is like having an invisible wingperson. People will come talk to me about the topic I chose. It alleviates a lot of the pressure of small talk. Plus, if there’s a speaker dinner, that’s also a less stressful setting for conversation.

    **That Feeling**™  
    After I’m done giving a talk, I feel *incredible*. It’s a combination of adrenaline, accomplishment, relief, and a whole bunch of other emotions. All the preparation and the stress and the worrying feel completely worth it. I try to hold on to That Feeling™ for as long as I can. It’s the #1 thing that convinces me to do another talk later on.

    ## But of course there are drawbacks too

    **Time**  
    Even for a 30 minute talk, it takes me months of prep. Research, outline, write, slides, practice. Repeat until the minute I’m on stage. The majority of this work is done outside of my day job hours and a lot of conferences don’t pay their non-keynote speakers. So it can be a significant free time commitment.

    **Stress**  
    Even if I feel fully prepared, every moment until the talk is completed I’ll feel stressed out. I’ll be thinking about the talk while in the shower, when I’m out with friends, and OMG I should be working on my talk instead of watching this episode of The Office for the 76th time.

    If I have a lot of other emotionally demanding plans, the stress of a talk can be too much. Or it can cancel out the relaxation I hope for during a vacation.

    **Visibility**  
    On the flipside, sometimes greater visibility can be harmful. Being in the spotlight provides opportunity for negative attention, creepers, or harassment. 

    Sometimes the last thing I want is for a large group of people to be looking at me or my work and I know that’s not the season for doing conference talks.

    **Introvert kryptonite**.  
    Although being a speaker assists in conversation, it also can be super draining. The stresses of traveling, speaking, and full days of lots of people can leave me ready for a 24-hour nap. I sometimes need to skip the closing party when my talk is scheduled for later in the day. Planning some time to recover is a must for me.

    ## Why or why not?

    After thinking things through *a lot*, I ultimately decided to decline the invitation even though it would have provided a free trip to Europe (oof) and would have been, as I was reminded by friends and family, Good For My Career (double oof). With FOMO ever-present, it can seem like a no brainer to say “yes.”

    Sometimes “yes” is absolutely the right answer, and other times “no” is just as right for me. I know I’ll find another opportunity to speak if/when I feel up for it. And if you’re thinking of giving a conference talk, I do hope you find the right event for you. <3

    ···

  small This was originally published on #[a(href='https://blog.andyet.com/2018/04/24/why-give-a-conference-talk-but-also-why-not') blog.andyet.com].
