extends ../../_layout

block vars
  - var pageTitle = 'Why are designers* so bad at scoping?'
  - var pageDescription = 'Designers (and everyone else) often get scoping wrong and here’s why.'
  - var pagePath = 'why-are-designers-so-bad-at-scoping'
  - var bodyClass = 'thought-detail'
  - var date = '30 April 2013'
  - var laterText = 'I don’t know what I’m doing.'
  - var later = 'i-dont-know-what-im-doing'
  - var earlierText = 'Things are hard before they are easy'
  - var earlier = 'things-are-hard-before-they-are-easy'

block content

  small: em * I use the term “designers” here for simplicity’s sake, but this applies to developers and other disciplines as well.

  hr

  p Ah, scoping: a topic that hits the nerves of designers and business folk alike. It’s a necessary evil with annoyingly simple reasoning: time is limited and time equals money.

  p The two most frustrating (and common) examples of inaccurate scoping are: a.) the designer’s estimate is lower than the actual time it takes to complete the work, and b.) the designer’s estimate is too high to secure the work/satisfy the client. Occasionally designers complete the work in less time than the estimate, but people don’t usually complain about that.

  p So why do we suck at scoping? These are the most common reasons I’ve seen over the past few years. The following also assumes (as I do) that people are honest and committed to doing their best.

  h2 Scoping is not treated as a skill

  p Don’t make the mistake of thinking accurately scoping work is something that everyone can and should do. Scoping is a skill that requires learning and practice just like using Photoshop or writing JavaScript. Designers improve their scoping abilities with more experience.

  p Think about turning 15 and getting your driver’s permit. Your mom asks you how long it will take to drive across town. Do you think you could accurately tell her? Or offer the fastest route or the benefits of taking a slower, but safer one? Likely not.

  p As a driving adult, you’ve spent years estimating the time it takes to get from point A to point B, discovering less busy streets, and refining the time you leave your home in order to arrive as scheduled. Now you could tell her not only the fastest route, but how the time of day and weather conditions affect timing too. Experience matters.

  h2 All designers are treated as the same

  p Ask a senior designer and a junior designer for a scope and you’ll get two different answers. And that is perfectly reasonable. Usually, the more experienced the designers, the faster they work. Not only are they more proficient with the tools, they can make decisions quicker and with greater confidence.

  p Remember though, your clients are paying for expertise. It shouldn’t cost them more for a junior designer to spend 20 hours doing the work a senior designer could do in ten. In fact, it should be the opposite.

  h2 There isn’t enough information

  p Sometimes a designer is asked to scope work that isn’t clearly defined. Instead of asking questions or doing preliminary research, he will build extra time into his estimate for uncertainty and potential confusion that will need to be figured out later.

  p Asking the right questions before giving an estimate can significantly improve a scope’s accuracy. And most clients will readily deliver the proper information if it will save them time and money.

  h2 Estimates are treated like promises

  p Experienced or not, an estimate is still an educated guess. Especially with custom work, there are many factors that could affect the timeline of a project. Things change, surprises pop up, technology advances.

  p When estimates are treated like promises, designers are pressured to finish the work in the original estimated time, even if the definition or size of the work has changed. This causes them to add in additional time as a security measure they may or may not need.

  h2 There is confusion about effort vs. calendar time

  p This one seems pretty simple, but happens frequently. Instead of producing an estimate for how many hours it will take to complete the work itself, the designer gives an estimate of when in his schedule he will be able to complete the work.

  p An example: A design comp may take the designer only 20 hours to complete, but he has another comp on his plate with higher priority and several meetings this week. He builds that time into his estimate and says the work will take him two weeks. This can easily be solved with better clarity.

  h2 The designer’s competency is questioned

  p “This will take you seven hours? Well, Philip said he could do it in three. Why will it take you that long?” No one wants to be judged as incapable and sentiments like this are the main reason designers UNDER scope. Estimates will never become more accurate if designers don’t feel comfortable being truthful about them.

  h2 A few steps to improve scoping

  p Designers can improve scoping accuracy by breaking the work into smaller chunks. The larger and more complex the work, the more difficult to produce an accurate estimate.

  p Have junior designers observe senior designers scoping work. What kinds of questions do they ask? How do they deliver their estimates? Later, have those senior designers observe the junior designers and give guidance when needed.

  p Compare original estimates to the actual time it took to complete the work. This activity is about analysis and reflection, not placing blame. Use the data to find trends across projects and to help designers hone their scoping skills.
