extends ../../layout

block vars
  - var pageTitle = 'I tried to learn from the best, Thanks lynn'
  - var pageDescription = 'Creating a responsive art'
  - var pagePath = 'lets-create-responsive-art'
  - var bodyClass = 'thought-detail'
  - var date = '13 December 2023'
  - var ogImage = 'conf-guide'

block content

  img(src='/assets/images/thoughts/lynnandtonic-conf-talk-guide.jpg', width='1600', height='1142', alt='@lynnandtonic’s Guide to Conference Talk Prep: 1. Thesis 2. Outline 3. Steam clean floors 4. Watch entire season of Scandal 5. Sob quietly 6. Slides')

  :markdown-it

    I really love ❤️ Lynn Fisher, aka @lynnandtonic. She’s a designer, speaker, and all around awesome human. I’ve been following her for years and I’m always impressed by her work and her willingness to share her knowledge and experience.

    So in this article I will write about my tried on create a responsive art. I hope you like it.

    ## Let's learn from the best

    **Learning**  
    I cloned her repo and I created my own version of it. so thanks lynn for this awesome repo.

    **Personal growth**  
    Getting up on stage is *scary*. Public speaking is no joke in the fear department. Every time I do it, it becomes less intimidating and I become more confident.

    **Visibility**  
    Giving talks helps introduce new people to my work. These are folks who I may never have met or reached in any other way. It’s super cool to see my projects’ traffic spike after a talk or to see my work shared anew on social media. <3

    ···

  small Thanks for reading #[a(href='https://blog.andyet.com/2018/04/24/why-give-a-conference-talk-but-also-why-not') blog.andyet.com].
