block vars
  - var pageDescription = 'A lesson in humility.'
  - var bodyClass = 'thoughts layout-sub'

extends ../../layout

block title
  | Things are hard before they are easy - 

block content

  .content-container.entry

    small.date.upper 21 February 2013
    h1 Things are hard before they are easy

    :markdown
      Growing up, my family had a meeting every Sunday where we examined our week, celebrated our accomplishments, and reviewed our family mottos. One of these mottos was “Things are hard before they are easy.” I always thought, “well, duh” and moved on. I realized later it wasn’t only an encouragement to continue on a difficult path, but a lesson in humility.

      Before you knew it, you didn’t. I remind myself of this often. Even as adults we can fall victim to the childhood taunt, “You don’t know what [insert thing you should know] is?” And unfortunately this often manifests as doubt and resentment toward our clients or colleagues. Next time, think of it differently. A person’s lack of knowledge or skill is not a burden you must bear; it’s an exciting opportunity to share your experience with them.

      In the end, it’s a decision we make as students and teachers. Resist the urge to give up in the face of difficult challenges and avoid criticizing others for being behind. Instead, empower them to catch up. Because let’s be honest, we’ve all been that kid on the playground that didn’t know what [insert adult word] was.

    p #[a.back(href='/thoughts') ← Back to recent writing list]