@import '_css/archive/2018/generated-home-base.css'

@media screen and (max-device-width: 1600px)
  @import '_css/archive/2018/generated-home-small.css'

@media screen and (min-device-width: 1601px)
  @import '_css/archive/2018/generated-home-large.css'
