/*--------------------------------------------------------------------
* $LYNN - FACES
--------------------------------------------------------------------*/

$face-1  = 0                       var(--face-row-1)
$face-2  =      var(--face-x)      var(--face-row-1)
$face-3  = calc(var(--face-x) * 2) var(--face-row-1)
$face-4  = calc(var(--face-x) * 3) var(--face-row-1)
$face-5  = calc(var(--face-x) * 4) var(--face-row-1)
$face-6  = calc(var(--face-x) * 5) var(--face-row-1)
$face-7  = calc(var(--face-x) * 6) var(--face-row-1)
$face-8  = calc(var(--face-x) * 7) var(--face-row-1)
$face-9  = 0                       var(--face-row-2)
$face-10 =      var(--face-x)      var(--face-row-2)
$face-11 = calc(var(--face-x) * 2) var(--face-row-2)
$face-12 = calc(var(--face-x) * 3) var(--face-row-2)
$face-13 = calc(var(--face-x) * 4) var(--face-row-2)
$face-14 = calc(var(--face-x) * 5) var(--face-row-2)

.face
  width:  var(--face)
  height: var(--face)
  left: calc(var(--face) * .86)
  top:  calc(var(--face) * .08)
  background-position: $face-1

  frame(        0,     $face-2)
  frame-range(  1,  3, $face-3)
  frame-range(  3,  5, $face-2)
  frame(        5,     $face-4)
  frame(        6,     $face-5)
  frame-range(  7,  9, $face-6)
  frame(        9,     $face-5)
  frame(       10,     $face-4)
  frame-range( 11, 14, $face-2)
  frame-range( 14, 16, $face-3)
  frame(       16,     $face-2)
  frame(       17,     $face-7)
  frame(       18,     $face-8)
  frame-range( 19, 21, $face-9)
  frame(       21,     $face-8)
  frame(       22,     $face-7)
  frame-range( 23, 25, $face-3)
  frame(       25,     $face-10)
  frame(       26,     $face-2)
  frame(       27,     $face-11)
  frame-range( 28, 32, $face-1)
  frame(       32,     $face-10)
  frame(       33,     $face-12)
  frame(       34,     $face-13)
  frame(       35,     $face-14)
  frame(       36,     $face-13)
  frame(       37,     $face-12)
  frame(       38,     $face-10)
  frame(       39,     $face-2)
  frame-range( 40, 42, $face-3)
  frame(       42,     $face-2)
  frame-last(  43,     $face-1)
