/*--------------------------------------------------------------------
* $LYNN - SHOES, SHIRT
--------------------------------------------------------------------*/

.other
  background-image: url('/assets/images/archive/2018/sprite-other.svg')
  background-size: var(--sprite-w) var(--sprite-h)

.shoes
  width:  var(--shoes-w)
  height: var(--shoes-h)
  left: calc(var(--shoes-w) * .86)
  bottom: 0
  background-position: var(--shoes-x) var(--shoes-y)

.shirt
  width:  var(--shirt-w)
  height: var(--shirt-h)
  left: calc(var(--shirt-w) * .86)
  top:  calc(var(--shirt-h) * 1.6)
  background-position: var(--shirt-x) var(--shirt-y)
