/*--------------------------------------------------------------------
*   --HOME - LAPTOP SIZED AND BELOW
--------------------------------------------------------------------*/

@import '../../globals/_variables'

$min-w = 412px
$step = 23

@import '_breakpoints'
@import 'other'
@import 'legs'
@import 'arms'
@import 'hair'
@import 'face'
@import 'mouth'
@import 'pants-hoodie'
