@font-face
  font-family: 'CabinetGrotesk-Variable'
  src: url('/assets/fonts/archive/2022/CabinetGrotesk-Variable.woff2') format('woff2'),
       url('/assets/fonts/archive/2022/CabinetGrotesk-Variable.woff') format('woff'),
       url('/assets/fonts/archive/2022/CabinetGrotesk-Variable.ttf') format('truetype')
  font-weight: 100 900
  font-display: swap
  font-style: normal

@font-face
  font-family: 'GeneralSans-Variable'
  src: url('/assets/fonts/archive/2022/GeneralSans-Variable.woff2') format('woff2'),
       url('/assets/fonts/archive/2022/GeneralSans-Variable.woff') format('woff'),
       url('/assets/fonts/archive/2022/GeneralSans-Variable.ttf') format('truetype')
  font-weight: 200 700
  font-display: swap
  font-style: normal

@font-face
  font-family: 'GeneralSans-VariableItalic'
  src: url('/assets/fonts/archive/2022/GeneralSans-VariableItalic.woff2') format('woff2'),
       url('/assets/fonts/archive/2022/GeneralSans-VariableItalic.woff') format('woff'),
       url('/assets/fonts/archive/2022/GeneralSans-VariableItalic.ttf') format('truetype')
  font-weight: 200 700
  font-display: swap
  font-style: italic

