extends ../_layout

block vars
  - var pageDescription = 'Lynn Erickson is an artist, designer, and developer from Chandler, Arizona.'
  - var bodyClass = 'right'

block title
  | 2007 Site Archive - Subway - 

block content

  .blog
    h3 Subway
    p.date Corrugated cardboard, hot glue | Fall 2005
    img(src='/assets/images/archive/2007/sculpture/3d_subway.jpg')
