extends ../_layout

block vars
  - var pageDescription = 'Lynn Erickson is an artist, designer, and developer from Chandler, Arizona.'
  - var bodyClass = 'right'

block title
  | 2007 Site Archive - Allow 6-8 Weeks - 

block content

  .blog
    h3 Allow 6-8 Weeks
    p.date Fall 2006
    p This piece was for a project in Mixed Media. The assignment was a piece about identity and limited by its dimensions. I chose to do an adoption piece to stick with a common theme. It is also an important part of my identity.
    p Not long before I started this project, my adopted brother had requested information about his birth parents. A few weeks later he received a manila envelope in the mail with all of this new information about his life that he never knew. I found it humorous and intriguing that someone could receive unknown information about himself through the mail.
    p Included in the document frame is an envelope from post adoption services addressed to me. There is a stamp on the side that reads “This package contains: Your Life”. It seems impersonal, but contains your personal and familial history.
