extends ../_layout

block vars
  - var pageDescription = 'Lynn Erickson is an artist, designer, and developer from Chandler, Arizona.'
  - var bodyClass = 'right'

block title
  | 2007 Site Archive - Instababies Technology Inc. - 

block content

  .blog
    h3 Instababies Technology Inc.
    p.date Mixed media | Fall 2006
    img(src='/assets/images/archive/2007/sculpture/instababies_02.jpg')
