extends ../_layout

block vars
  - var pageDescription = 'Lynn Erickson is an artist, designer, and developer from Chandler, Arizona.'
  - var bodyClass = 'right'

block title
  | 2007 Site Archive - Instababies Technology Inc. - 

block content

  .blog
    h3 Instababies Technology Inc.
    p.date Fall 2006
    p This installation was created for my Mixed Media class with Denis Gillingwater. The project was limited by dimensions, but could be anything conceptually. I chose to do a spin-off of my #[em Shipping &#38; Handling] piece. The whole semester I played with different ideas about adoption.
    p  created a ficitional company called Instababies Technology Inc. who have created a new product they call “the new adoption solution.” The piece consists of a store display with graphics and products: tiny pill capsules that grow into babies with the addition of water. Now couples can avoid the pains of pregnancy and escape the worries of a sick child. All instababies are guaranteed to be healthy and intelligent.
    p I wanted the piece to look as real as possible, as if it could truly exist within the aisles of your local drug store. Later in the semester, I created a companion website for Instababies Technology Inc. where couples could learn more about the product and even order their instababy online.
