extends ../_layout

block vars
  - var pageDescription = 'Lynn Erickson is an artist, designer, and developer from Chandler, Arizona.'
  - var bodyClass = 'right'

block title
  | 2007 Site Archive - Various Older Work - 

block content

  .blog
    h3 Various Older Work
    p.date Spring 2004 - Fall 2005
    p Here is a small selection of work from all of my beginning art classes at ASU. Most of my projects were less than show-worthy. These are the few that I still love regardless of the skill level involved and the obvious mistakes.
    p Included here are the following pieces:
    ul
      li #[em Subway] (Project: make a 2-dimensional picture 3-dimensional)
      li #[em A Girl’s Best Friend] (Project: found object piece)
      li #[em Take Out] (Project: metaphor container)
