extends ../_layout

block vars
  - var pageDescription = 'Lynn Erickson is an artist, designer, and developer from Chandler, Arizona.'
  - var bodyClass = 'right'

block title
  | 2007 Site Archive - A Girl’s Best Friend - 

block content

  .blog
    h3 A Girl’s Best Friend
    p.date Mixed media | Spring 2006
    img(src='/assets/images/archive/2007/sculpture/sculpture_girlsbestfriend.jpg')
