extends ../_layout

block vars
  - var pageDescription = 'Lynn Erickson is an artist, designer, and developer from Chandler, Arizona.'
  - var bodyClass = 'right'

block title
  | 2007 Site Archive - Take Out - 

block content

  .blog
    h3 Take Out
    p.date Sheet steel, steel wire | Spring 2006
    img(src='/assets/images/archive/2007/sculpture/sculpture_takeout.jpg')
