extends ../_layout

block vars
  - var pageDescription = 'Lynn Erickson is an artist, designer, and developer from Chandler, Arizona.'
  - var bodyClass = 'right'

block title
  | 2007 Site Archive - Shipping & Handling - 

block content

  .blog
    h3 Shipping & Handling
    p.date Spring 2006

    p This installation was created for my Sculpture 3 class. The idea came from my interest in adoption from Asian countries, particularly in the 1980’s when adoption from South Korea was extremely popular. I had always joked that I was sent over to America in a FedEx box, commenting on the mass adoption of babies.
    p This piece features a warehouse shelf of boxes, each containing a baby girl ready for adoption. Each has her own product number and small blurb of information. Nearby are boxes filled with packing popcorn and an inventory list. The babies can be seen as products to be ordered, but they are also individuals awaiting an often-times better life. 
    p Everything in the piece is white except for the pink of the bows and the babies’ cheeks. White is often associated with innocence and purity which contributes to the human part of the piece. It is also associated with cold and sterile environments like hospitals which contributes to the factory, mass production part of the piece.
    p This piece was shown in <em>Off the Wall</em>, a group sculpture exhibition, at the Icehouse Gallery in Phoenix.
