extends _layout

block vars
  - var description = 'The portfolio of Lynn Fisher, artist and designer'

block title
  | 2014 Site Archive - Work - 

block content

  .work.cf

    a.project(href='/archive/2014/work/a-single-div')
      img(src='/assets/images/archive/2014/a-single-div-thumb.jpg')

    a.project(href='/archive/2014/work/crohn-wedding')
      img(src='/assets/images/archive/2014/crohn-wedding-thumb.jpg')

    a.project(href='/archive/2014/work/logical-doctor')
      img(src='/assets/images/archive/2014/logical-doctor-thumb.jpg')

    a.project(href='/archive/2014/work/whyaz')
      img(src='/assets/images/archive/2014/whyaz-thumb.jpg')

    a.project(href='/archive/2014/work/where-dwell-the-brave-at-heart')
      img(src='/assets/images/archive/2014/where-dwell-the-brave-at-heart-thumb.jpg')

    a.project(href='/archive/2014/work/lynnandtonic-v8')
      img(src='/assets/images/archive/2014/lynnandtonic-v8-thumb.jpg')

    a.project(href='/archive/2014/work/cadmium')
      img(src='/assets/images/archive/2014/cadmium-thumb.jpg')

    a.project(href='/archive/2014/work/arwen')
      img(src='/assets/images/archive/2014/arwen-thumb.jpg')

    a.project(href='/archive/2014/work/paintstagram1')
      img(src='/assets/images/archive/2014/paintstagram1-thumb.jpg')

    a.project(href='/archive/2014/work/paintstagram2')
      img(src='/assets/images/archive/2014/paintstagram2-thumb.jpg')

    a.project(href='/archive/2014/work/notconf')
      img(src='/assets/images/archive/2014/notconf-thumb.jpg')

    a.project(href='/archive/2014/work/lynnandtonic-v7')
      img(src='/assets/images/archive/2014/lynnandtonic-v7-thumb.jpg')

    a.project(href='/archive/2014/work/may-the-goose-be-with-you')
      img(src='/assets/images/archive/2014/may-the-goose-be-with-you-thumb.jpg')

    a.project(href='/archive/2014/work/japanese-american-gothic')
      img(src='/assets/images/archive/2014/japanese-american-gothic-thumb.jpg')

    a.project(href='/archive/2014/work/cartoons-playing-poker')
      img(src='/assets/images/archive/2014/cartoons-playing-poker-thumb.jpg')

    a.project(href='/archive/2014/work/character-studies')
      img(src='/assets/images/archive/2014/character-studies-thumb.jpg')
