/*--------------------------------------------------------------------
* $ABOUT
--------------------------------------------------------------------*/

.about
  
  .avatar
    width: 30%
    margin: 0 1.5em 1em 0
    float: left
    display: block
    position: relative
    border: $ui-border
    border-radius: $ui-radius
    overflow: hidden
    
    img
      display: block
      filter: brightness(1.3)
    
    &::after
      content: ''
      width: 100%
      height: 100%
      position: absolute
      left: 0
      top: 0
      background-color: var(--text-color)
      mix-blend-mode: color

    & + *
      margin-top: 0

  .links

    li
      margin: 0
      padding: 1em 0
      display: grid
      grid-template-columns: 1fr 4em
      align-items: center
      gap: .3em 2em
      font-size: var(--font-sm)
      font-weight: 400
      line-height: 1.3

      &:not(:last-child)
        border-bottom: $dotted

      * + *
        margin: 0

      span:first-child
        font-weight: 500

      .date
        grid-column: 2
        grid-row: 1 / 3
        text-align: right
        font-weight: 300

    a
      link-alt()

    small
      margin-top: 0

  .coffee
    margin-left: 2px
    padding: 6px 0 6px 26px
    background-repeat: no-repeat
    background-position: left center
    background-image: url('/assets/images/coffee-2024.svg')
    background-size: 20px 30px
