mixin svg-desc-uuu()
  svg(id="uuid-60acb7a9-99de-4a5f-822f-1128aa2e3df2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 25")&attributes(attributes)
    <rect y="20.07" width="10" height="3.23" fill="var(--text-color)"/>
          
