mixin svg-desc-hhh()
  svg(id="uuid-08da1e97-f800-41cb-82c7-29d744e965b5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 25")&attributes(attributes)
    <rect y="10.82" width="10" height="3.95" fill="#4000f5"/>
          