nav.main-nav
  a.nav-home(href='/') LF
  a.nav-about(href='/work') Work
  a.nav-about(href='/about') About
  a.nav-thoughts(href='/thoughts') Thoughts
  a.nav-archive(href='/archive') Archive
  .mode-toggle
    button(class='[ toggle-button ] [ js-mode-toggle ]')
      span(class='toggle-icon' aria-hidden='true')
        include ../../_assets/images/archive/2022/theme-icons.svg
      span(class='[ toggle-text ] [ js-mode-toggle-text ]') Mode
