nav#nav.main-nav(class=bodyClass)
  ol
    li: a(href='/about') About
    li: a(href='/work') Work
    li: a(href='/thoughts') Thoughts
    li: a(href='/archive') Archive
    li: a(href='/feed.xml') RSS
    li: a(href='/gifs') Gifs
small.center: a(href='/') v. XIX
include mode-toggle
