include nav-logo.pug
include nav-about.pug
include nav-work.pug
include nav-archive.pug
include nav-thoughts.pug
include toggle-plate.pug
include toggle-switch.pug

nav.main-nav(class=bodyClass)
  div: a(href='/').logo
    figure
      +svg-nav-logo(height='100%', width='auto')
  div: a(href='/about').about
    span about
    figure
      +svg-nav-about(height='100%', width='auto')
  div: a(href='/work').work
    span work
    figure
      +svg-nav-work(height='100%', width='auto')
  div: a(href='/archive').archive
    span archive
    figure
      +svg-nav-archive(height='100%', width='auto')
  div: a(href='/thoughts').thoughts
    span thoughts
    figure
      +svg-nav-thoughts(height='100%', width='auto')

  .mode-toggle
    button(class='[ toggle-button ] [ js-mode-toggle ]')
      +svg-toggle-plate(height='100%', width='auto')
      span(class='toggle-icon' aria-hidden='true')
        +svg-toggle-switch(height='100%', width='auto')
      span(class='[ toggle-text ] [ js-mode-toggle-text ]') mode
