.mode-toggle
  button(class='[ toggle-button ] [ js-mode-toggle ]')
    span(class='toggle-icon' aria-hidden='true')
      include ../../_assets/images/theme-icons.svg
    span(class='[ toggle-text ] [ js-mode-toggle-text ]') mode
