mixin svg-toggle-switch()
  svg(id="c" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 62 89")&attributes(attributes)
    <polygon points="21.82 29.26 38.09 29.26 38.09 59.74 21.82 59.74 17.46 39.46 21.82 29.26" fill="none" stroke="var(--text-color)" stroke-linejoin="round" stroke-width="2"/><polyline points="17.46 39.46 32.63 39.46 38.09 59.74" fill="none" stroke="var(--text-color)" stroke-linejoin="round"/><line x1="38.09" y1="29.26" x2="32.63" y2="39.46" fill="none" stroke="var(--text-color)" stroke-linejoin="round"/>
          
