extends _layout

block vars
  - var pageDescription = 'Lynn Erickson is an artist, designer, and developer from Chandler, Arizona.'
  - var bodyClass = 'right'

block title
  | 2007 Site Archive - About - 

block content

  .blog

    h3 About Me
    img.border(src='/assets/images/archive/2007/about_lynn.jpg')
    p I was born in Pusan, South Korea and when I was 11 months old I was adopted. I won my very first art contest in pre-school for the piece #[em My Mother and Me]. I was off to a good start.
    p Through middle school and high school, art took a backseat to academics and going to local shows in the Nile Basement. When I was 16 I fell in love with a band called 17FourEyes and I created my very first website, a fansite.
    p I studied fine arts in college and focused mostly on painting and sculpture. On my own time I taught myself HTML and have since created many websites for bands and artists in the Phoenix area.
    p In the spring of 2007, I completed and defended my honors thesis titled #[em We Were All Yellow], a painting series about Asian stereotypes in America. Since graduation I have had a mild life-crisis and obtained a job at meltmedia, a website production company out of Tempe.
    p I am available for fine art commissions, website design (both flash and html), artistic conversation, and to watch #[em Project Runway].
    p Please feel free to contact me in any of these ways:
    ul
      li Email: lynn@lynnandtonic.com
      li AIM: a familiar lynn
      li MYSPACE: myspace.com/lynnandtonic

