extends _layout

block vars
  - var pageDescription = 'Lynn Erickson is an artist, designer, and developer from Chandler, Arizona.'
  - var bodyClass = 'artwork'

block title
  | 2007 Site Archive - Design - 

block content

  .design
    p.title-top Posters
    a(href="/archive/2007/design/poster_intermedia", target="right-frame")
      img(src="/assets/images/archive/2007/design/thumb_senior_intermedia.jpg")
    a(href="/archive/2007/design/poster_sculpture", target="right-frame")
      img(src="/assets/images/archive/2007/design/thumb_senior_sculpture.jpg")
    a(href="/archive/2007/design/poster_instababies", target="right-frame")
      img(src="/assets/images/archive/2007/design/thumb_instababies_poster.jpg")

    p.title-light Websites
    a(href="/archive/2007/design/d4n", target="right-frame")
      img(src="/assets/images/archive/2007/design/thumb_d4n.jpg")
    a(href="/archive/2007/design/fieldhockey", target="right-frame")
      img(src="/assets/images/archive/2007/design/thumb_fieldhockey.jpg")
    a(href="/archive/2007/design/jillsabatino", target="right-frame")
      img(src="/assets/images/archive/2007/design/thumb_jillsabatino.jpg")
    a(href="/archive/2007/design/panophobic", target="right-frame")
      img(src="/assets/images/archive/2007/design/thumb_panophobic.jpg")

