extends _layout

block vars
  - var pageDescription = 'Lynn Erickson is an artist, designer, and developer from Chandler, Arizona.'
  - var bodyClass = 'artwork'

block title
  | 2007 Site Archive - Links - 

block content

  .design
    p.intro Click icon for more info
    br
    a(href='http://asuartmuseum.asu.edu', target='_blank')
      img(src='/assets/images/archive/2007/links/thumb_asumuseum.jpg')
    a(href='http://phxart.org', target='_blank')
      img(src='/assets/images/archive/2007/links/thumb_phixart.jpg')
    a(href='http://meltmedia.com', target='_blank')
      img(src='/assets/images/archive/2007/links/thumb_melt.jpg')
    a(href='http://rericmcmaster.com', target='_blank')
      img(src='/assets/images/archive/2007/links/thumb_mcmaster.jpg')
    a(href='http://tiffapiffa.com', target='_blank')
      img(src='/assets/images/archive/2007/links/thumb_tiffa.jpg')
    a(href='http://postsecret.blogspot.com', target='_blank')
      img(src='/assets/images/archive/2007/links/thumb_postsecret.jpg')
    a(href='http://unclutterer.com', target='_blank')
      img(src='/assets/images/archive/2007/links/thumb_unclutterer.jpg')
