extends _layout

block vars
  - var pageDescription = 'Lynn Erickson is an artist, designer, and developer from Chandler, Arizona.'
  - var bodyClass = 'artwork'

block title
  | 2007 Site Archive - Paintings - 

block content

  .artwork
    p.intro Select title for more info <br />Select icon for image

    p.title
      a.top(href='/archive/2007/paintings/wewereallyellow', target='right-frame') Series<br />We Were All Yellow
    a(href='/archive/2007/paintings/thesis_kirsten', target='right-frame')
      img(src='/assets/images/archive/2007/paintings/thumb_thesis_kirsten.jpg')
    a(href='/archive/2007/paintings/thesis_kori', target='right-frame')
      img(src='/assets/images/archive/2007/paintings/thumb_thesis_kori.jpg')
    a(href='/archive/2007/paintings/thesis_clay', target='right-frame')
      img(src='/assets/images/archive/2007/paintings/thumb_thesis_clay.jpg')
    a(href='/archive/2007/paintings/thesis_eric', target='right-frame')
      img(src='/assets/images/archive/2007/paintings/thumb_thesis_eric.jpg')
    a(href='/archive/2007/paintings/thesis_tiff', target='right-frame')
      img(src='/assets/images/archive/2007/paintings/thumb_thesis_tiff.jpg')
    a(href='/archive/2007/paintings/thesis_keri', target='right-frame')
      img(src='/assets/images/archive/2007/paintings/thumb_thesis_keri.jpg')

    p.title
      a.top(href='/archive/2007/paintings/smartone', target='right-frame') The Smart One<br />(Which One’s the Ho?)
    a(href='/archive/2007/paintings/smartone_tessa', target='right-frame')
      img(src='/assets/images/archive/2007/paintings/thumb_smartone_tessa.jpg')
    a(href='/archive/2007/paintings/smartone_lynn', target='right-frame')
      img(src='/assets/images/archive/2007/paintings/thumb_smartone_lynn.jpg')
    a(href='/archive/2007/paintings/smartone_kaycie', target='right-frame')
      img(src='/assets/images/archive/2007/paintings/thumb_smartone_kaycie.jpg')
    p.title
      a.bottom(href='/archive/2007/paintings/olderwork', target='right-frame') Various older work
    a(href='/archive/2007/paintings/2d_stalefish', target='right-frame')
      img(src='/assets/images/archive/2007/paintings/thumb_2d_stalefish.jpg')
    a(href='/archive/2007/paintings/2d_vincent', target='right-frame')
      img(src='/assets/images/archive/2007/paintings/thumb_2d_vincent.jpg')
    a(href='/archive/2007/paintings/2d_hobbit', target='right-frame')
      img(src='/assets/images/archive/2007/paintings/thumb_2d_hobbit.jpg')
    a(href='/archive/2007/paintings/drawing_trompe', target='right-frame')
      img(src='/assets/images/archive/2007/paintings/thumb_drawing_trompe.jpg')
    a(href='/archive/2007/paintings/color_tinydancer', target='right-frame')
      img(src='/assets/images/archive/2007/paintings/thumb_color_tinydancer.jpg')
    a(href='/archive/2007/paintings/painting_colorred', target='right-frame')
      img(src='/assets/images/archive/2007/paintings/thumb_painting_colorred.jpg')
    a(href='/archive/2007/paintings/painting_goodinblue', target='right-frame')
      img(src='/assets/images/archive/2007/paintings/thumb_painting_goodinblue.jpg')
