extends _layout

block vars
  - var pageDescription = 'Lynn Erickson is an artist, designer, and developer from Chandler, Arizona.'
  - var bodyClass = 'artwork'

block title
  | 2007 Site Archive - Sculpture - 

block content

  .artwork
    p.intro Select title for more info<br />Select icon for image

    p.title
      a.top(href='/archive/2007/sculpture/shipping', target='right-frame') Shipping &#38; Handling
    a(href='/archive/2007/sculpture/shipping01', target='right-frame')
      img(src='/assets/images/archive/2007/sculpture/thumb_shipping_01.jpg')
    a(href='/archive/2007/sculpture/shipping02', target='right-frame')
      img(src='/assets/images/archive/2007/sculpture/thumb_shipping_02.jpg')
    a(href='/archive/2007/sculpture/shipping03', target='right-frame')
      img(src='/assets/images/archive/2007/sculpture/thumb_shipping_03.jpg')
    p.title
      a.top(href='/archive/2007/sculpture/instababies', target='right-frame') Instababies Tech.
    a(href='/archive/2007/sculpture/instababies01', target='right-frame')
      img(src='/assets/images/archive/2007/sculpture/thumb_instababies01.jpg')
    a(href='/archive/2007/sculpture/instababies02', target='right-frame')
      img(src='/assets/images/archive/2007/sculpture/thumb_instababies02.jpg')
    a(href='/archive/2007/sculpture/instababies03', target='right-frame')
      img(src='/assets/images/archive/2007/sculpture/thumb_instababies03.jpg')
    p.title
      a.bottom(href='/archive/2007/sculpture/68weeks', target='right-frame') Allow 6-8 Weeks
    a(href='/archive/2007/sculpture/68weeks01', target='right-frame')
      img(src='/assets/images/archive/2007/sculpture/thumb_68weeks_01.jpg')
    a(href='/archive/2007/sculpture/68weeks02', target='right-frame')
      img(src='/assets/images/archive/2007/sculpture/thumb_68weeks_02.jpg')
    a(href='/archive/2007/sculpture/68weeks03', target='right-frame')
      img(src='/assets/images/archive/2007/sculpture/thumb_68weeks_03.jpg')
    p.title
      a.bottom(href='/archive/2007/sculpture/olderwork', target='right-frame') Various older work
    a(href='/archive/2007/sculpture/3d_subway', target='right-frame')
      img(src='/assets/images/archive/2007/sculpture/thumb_3d_subway.jpg')
    a(href='/archive/2007/sculpture/sculpture_girlsbest', target='right-frame')
      img(src='/assets/images/archive/2007/sculpture/thumb_sculpture_girlsbest.jpg')
    a(href='/archive/2007/sculpture/sculpture_girlsbest2', target='right-frame')
      img(src='/assets/images/archive/2007/sculpture/thumb_sculpture_girlsbest2.jpg')
    a(href='/archive/2007/sculpture/sculpture_takeout', target='right-frame')
      img(src='/assets/images/archive/2007/sculpture/thumb_sculpture_takeout.jpg')
