/*--------------------------------------------------------------------
* $HOME - Black and white and gold all over
--------------------------------------------------------------------*/

.home
  padding-left: 30px
  font-family: $font-family-helvetica
  font-weight: $font-weight-semibold

  &:before
    grid-column: 1 / -1
    grid-row: 1 / -1
    align-self: stretch
    z-index: -1
    margin-left: -30px
    background: linear-gradient(-35deg, gold 47%, transparent 47%) no-repeat 0 0
    mix-blend-mode: multiply

  .main-nav
    grid-column: 1 / -1
    grid-row: 1 / 2
    align-self: end
    font-size: 14px

    a
      margin-right: 20px
      padding: 4px 0
      display inline-block
      color: black
      
      &:hover
        background: $red
        color: white

  h1
    grid-column: 1 / 9
    grid-row: 2 / 3
    margin: 35px 0 15px
    font-size: 40px
    line-height: 1.1

    .name
      margin-right: 10px
      display: inline-block
      background: black
      color: white

  .intro
    grid-column: 1 / 6
    grid-row: 3 / 10

    span
      background: black
      font-size: 30px
      line-height: 1.6
      color white
      mix-blend-mode: multiply

  .lynn
    grid-column: 6 / -1
    grid-row: 2 / -1
    z-index: -2

    img
      height: 100%
      filter: contrast(1.8) grayscale(100%)
