/*--------------------------------------------------------------------
* $HOME - Diagonal
--------------------------------------------------------------------*/

.home

  .main-nav
    grid-column: 1 / -1
    grid-row: 1 / 1
    font-weight: $font-weight-semibold
    font-size: 12px

    a
      margin: 0 15px
      color: black
      
      &:hover
        background: linear-gradient(to top, gold 5px, transparent 5px)

  h1
    grid-column: 1 / 10
    grid-row: 2 / 3
    padding: 10px 15px 0
    font-size: 24px

    .name
      margin-right: 8px
      font-weight: $font-weight-semibold
      display: inline-block
      background: black
      color: white
  
  .intro
    grid-column: 1 / -1
    grid-row: 9 / -1
    align-self: center
    padding: 0 15px 15px
    text-align: right

  .lynn
    grid-column: 1 / -1
    grid-row: 2 / 10
    z-index: -1
    position: relative
    display: flex
    justify-content: center
    align-items: center
    background-color: gold
    background-image: linear-gradient(-9deg, white 25%,
                                             transparent 25%,
                                             transparent 75%,
                                             white 75%),
                      linear-gradient(to left, black(.5) 45%, transparent 45%)

    img
      margin-left: 10%
      height: 120%
      mix-blend-mode: overlay
      filter: contrast(1.4)
