/*--------------------------------------------------------------------
* $HOME - Fifty fifty
--------------------------------------------------------------------*/

.home

  &:before
    width: 100vw
    height: 6px
    position: absolute
    top: 0
    right: 0
    background: $red

  .main-nav
    grid-column: 6 / -1
    grid-row: 1 / 2
    align-self: center
    justify-self: center
    font-size: 14px
    a
      margin-right: 20px
      padding: 4px 0
      display inline-block
      color: black
      
      &:hover
        background: $red
        color: white

  h1
    grid-column: 6 / -1
    grid-row: 3 / 4
    font-size: 20px
    line-height: 1.1
    text-align: center
    // display: none

    .name
      display: block
      font-size: 50px
      color: white
      text-shadow: 2px 2px 0 black

  .intro
    grid-column: 1 / 6
    grid-row: 3 / 10
    display: none

    span
      background: black
      font-size: 30px
      line-height: 1.6
      color white
      mix-blend-mode: multiply

  .lynn
    grid-column: 1 / 6
    grid-row: 1 / -1
    z-index: -2
    background: $grey-light

    img
      height: 100%
      filter: contrast(1.8) grayscale(100%) opacity(.5)
