/*--------------------------------------------------------------------
* $HOME - Half
--------------------------------------------------------------------*/

.home
  
  // z-index
  .lynn
    z-index: 0
  .main-nav, h1, .intro
    z-index: 1

  .main-nav
    grid-column: 2 / 5
    grid-row: 1 / 2
    font-size: 14px

    a
      margin-right: 20px
      display inline-block
      color: black

      &:hover
        underline(gold)

  h1
    grid-col-full()
    grid-row: 4 / 6
    line-height: 1
    color: white

    .name
      display: block
      text-align: center
      font-size: 300px
      text-transform: uppercase
      font-style: $font-weight-semibold

    .desc
      margin-left: 200px
      text-align: left
      font-size: 20px
      color: white

  .intro
    grid-column: 2 / 5
    grid-row: 8 / 10

  .lynn
    grid-col-full()
    grid-row-full()
    display: flex
    justify-content: center
    align-items: center

    &:before,
    &:after
      content: ''
      width: 50%
      height: 100%
      position: absolute
      top: 0
      display: block
    
    &:before
      background: $red
      left: 0
    
    &:after
      right: 0
      stripes(0deg, 100%, 12px)

    img
      height: 140%
      margin-right: -12%
      filter: contrast(1.8) grayscale(100%)
      mix-blend-mode: overlay
