/*--------------------------------------------------------------------
* $HOME - DESKTOP SIZED AND ABOVE
--------------------------------------------------------------------*/

@import '../../globals/_variables'

$min-w = 412px
$step = 47

@import '_breakpoints'
@import 'other'
@import 'legs'
@import 'arms'
@import 'hair'
@import 'face'
@import 'mouth'
@import 'pants-hoodie'
