/*--------------------------------------------------------------------
*
* lynnandtonic.com ❤︎ 2008
*
--------------------------------------------------------------------*/

html
  margin: 0

body
  background-color: #c4d9d6
  font-family: Arial, Helvetica, sans-serif
  margin: 0
  padding: 0

a, a:active
  color: #476963
  outline: none
  text-decoration: none

a:hover
  text-decoration: underline

a img
  border: none

p
  font-size: 12px

div#landing
  margin: 50px auto
  width: 600px

div#content-area
  background-color: #fff
  border: 1px solid #000
  margin: 15px auto
  position: relative
  width: 608px

a#header
  background: transparent url('/assets/images/archive/2008/header.jpg') no-repeat top left
  height: 190px
  margin: 4px auto
  display: block
  width: 600px

/* navigation */

ul#navigation
  margin: 0 auto
  padding: 0
  width:585px

/* black outline of divs */

li.nav-item, div.blog, div#updates, div#about, img#about-lynn, div#portfolio
  border: 1px solid #34434c

li.nav-item
  border-top: none
  float: left
  height: 24px
  margin: 0 2px
  overflow: hidden
  text-indent: -9999px
  width: 111px

li.nav-item a
  display: block
  height: 24px
  width: 111px

li.nav-item a.fineart
  background: url('/assets/images/archive/2008/nav-fineart.jpg') no-repeat
li.nav-item a.fineart:hover
  background-position: 0 -27px !important
li.nav-item a.design
  background: url('/assets/images/archive/2008/nav-design.jpg') no-repeat
li.nav-item a.design:hover
  background-position: 0 -27px !important
li.nav-item a.photo
  background: url('/assets/images/archive/2008/nav-photo.jpg') no-repeat
li.nav-item a.photo:hover
  background-position: 0 -27px !important
li.nav-item a.links
  background: url('/assets/images/archive/2008/nav-links.jpg') no-repeat
li.nav-item a.links:hover
  background-position: 0 -27px !important
li.nav-item a.blog
  background: url('/assets/images/archive/2008/nav-blog.jpg') no-repeat
li.nav-item a.blog:hover
  background-position: 0 -27px !important

/* updates on home page */

div#updates
  background: #fff url('/assets/images/archive/2008/about-bg-grad.jpg') repeat-x 0 0
  margin: 5px auto
  padding: 10px 5px 15px
  position: relative
  width: 588px

div#updates img
  display: block
  position: absolute
  top: 5px
  right: 5px

div#updates p
  margin: 10px 15px 0px
  width: 550px

div#updates p.date
  border-bottom: 1px solid #000
  font-weight: bold
  margin: 20px 15px 5px

/* about me section on home page */

div#about
  background: #fff url('/assets/images/archive/2008/about-bg-grad.jpg') repeat-x 0 0
  border-bottom: none
  margin: 5px auto
  min-height: 200px
  padding: 5px
  width: 588px

div#about img#about-me
  margin-left: -8px

div#about img#about-lynn
  background-color: #fff
  float: left
  margin: 5px 10px 5px 5px
  padding: 3px

div#about p
  margin: 0 5px 6px

/* fine art and design pages */

div#portfolio
  background: #fff url('/assets/images/archive/2008/about-bg-grad.jpg') repeat-x 0 0
  border-bottom: none
  margin: 5px auto
  padding: 15px 10px 5px 14px
  width: 574px

div#portfolio h1
  font-size: 12px
  border-bottom: 1px solid #000
  margin-bottom: 10px
  width: 571px

div.thumb-popup, div.thumb-popup-vertical
  background-color: #fff
  border: 1px solid #000
  display:none
  position:absolute
  top:20px
  padding: 10px

div.thumb-popup
  left: 44px

div.thumb-popup-vertical
  left: 98px

div.thumb-popup a, div.thumb-popup-vertical a
  color: #000

div.thumb-popup a:hover, div.thumb-popup-vertical a:hover
  text-decoration: none

div.thumb-popup h2, div.thumb-popup-vertical h2
  font-size: 12px
  margin: 2px 0

div.thumb-popup p, div.thumb-popup-vertical p
  font-size: 11px
  margin: 0

div#portfolio img.thumbnail
  background-color: #fff
  border: 1px solid #000
  padding: 2px
  display: inline
  margin: 0 3px 3px 0

div#portfolio div.link
  float: left
  margin: 0 3px 5px 0

div#portfolio div.link p
  font-size: 11px
  margin: -5px 3px 0
  margin: -3px 3px 0
  text-align: right

div#portfolio div.link a, div#portfolio div.link a:hover
  color: #000
  text-decoration: none

div.clear
  clear: both
  height: 0

/* blog */

div.blog
  background: transparent url('/assets/images/archive/2008/about-bg-grad.jpg') repeat-x top left
  border-bottom: none
  margin: 4px auto
  width: 594px

div.blog h3, div.blog p.date, div.blog p
  width: 560px

div.blog h3
  border-bottom: 1px solid #34434c
  font-size: 12px
  margin: 40px auto 0

 div.blog p.date
  margin: 6px auto
  font-size: 10px

div.blog p
  margin: 6px auto

div.blog p.date
  color: #666

div.blog img
  border: 1px solid #000
  margin: 5px 0 5px 90px

/* footer */

div#footer
  background: transparent url('/assets/images/archive/2008/footer.jpg') no-repeat top left
  height: 65px
  margin: 4px auto
  width: 600px

div#copyright
  font-size: 10px
  margin: auto
  text-align: center
  width: 608px

.clearfix:after
  content: '.'
  display: block
  clear: both
  visibility: hidden
  line-height: 0
  height: 0

html[xmlns] .clearfix
  display: block

* html .clearfix
  height: 1%
