/*--------------------------------------------------------------------
*
* lynnandtonic.com ❤︎ 2010
*
--------------------------------------------------------------------*/

html, body
  background-color: #fff
  margin: 0
  padding: 0
  font-family: Helvetica, Arial, sans-serif

#top
  height: 1px !important
  line-height: 1px !important

#container
  margin: 0 auto
  padding: 15px 0
  position: relative
  width: 1000px

a, a:hover
  text-decoration: none

.top
  color: #246673
  font-size: 12px
  position: absolute
  top: 30px
  right: 10px

h1, h2, h3, h4
  font-family: 'league-gothic', Helvetica, Arial, sans-serif

h1, p
  color: #132730

h1
  background: transparent url('/assets/images/archive/2010/logo-subhead.png') no-repeat 100% 100%
  font-size: 47px
  left: 0
  margin: 0
  padding-bottom: 19px
  position: absolute
  top: 10px
  width: 218px

h2
  color: #bcc4a6
  font-size: 30px
  font-weight: normal
  margin: 25px 0 0
  text-transform: uppercase

h2 span
  color: #e5ead9

h3, label
  color: #246673
  font-size: 20px
  font-weight: normal
  margin: 0
  text-transform: uppercase

h4
  color: #bcc4a6
  font-size: 17px
  font-weight: normal
  margin: 0

#main-nav
  font-family: 'league-gothic', Helvetica, Arial, sans-serif
  font-size: 21px
  margin: 0
  list-style-type: none
  text-align: right

#main-nav li
  display: inline
  padding-left: 34px

#main-nav li a
  color: #246673
  text-transform: uppercase

#main-nav li a:hover
  color: #f2b12f

#header
  height: 290px
  margin: 0
  position: relative

#header #lynn-face
  position: absolute
  right: -23px
  top: 0

#twitter
  background: transparent url('/assets/images/archive/2010/twitter.png') no-repeat 0 0
  height: 232px
  left: 40px
  margin: 0
  position: absolute
  top: 44px
  width: 451px

#twitter .twtr-hd, #twitter .twtr-ft, #twitter .twtr-reply
  display: none

#twitter .twtr-tweet-text
  width: 320px

#twitter .twtr-tweet-text p
  font-size: 19px
  font-family: Helvetica, Arial, sans-serif
  line-height: 24px !important
  margin: 79px 0 0 39px !important
  text-shadow: 1px 1px 0px #fff

#twitter .twtr-tweet-text p i
  text-align: right
  padding-right: 30px

#twitter ul
  color: #246673
  font-size: 19px
  line-height: 24px
  margin: 0
  padding: 75px 0 0 40px
  width: 290px
  list-style-type: none

#twitter ul a
  color: #bcc4a6
  font-size: 14px

#twitter ul a:hover
  color: #f2b12f

#twitter ul span a
  font-size: 19px

.section
  background: transparent url('/assets/images/archive/2010/section.png') no-repeat 0 0
  border-top: 1px solid #bcc4a6
  min-height: 400px
  position: relative

.section .piece
  padding: 20px 0 30px

.section .piece p, .about p, p.copyright
  font-size: 11px
  line-height: 17px
  margin: 10px 0

div.copyright
  min-height: 50px

p.copyright
  text-align: center

p.copyright a
  color: #132730

p.copyright a:hover
  color: #f2b12f

.section .piece .info
  float: left
  width: 455px

.section .three-pieces .info
  margin-right: 28px
  width: 314px

.view-more
  margin: 31px 0 0 !important
  font-family: 'league-gothic', Helvetica, Arial, sans-serif
  text-align: right

.view-more a
  background: transparent url('/assets/images/archive/2010/view-more1.gif') no-repeat 100% 50%
  color: #f2b12f
  font-size: 21px
  padding-right: 20px
  text-transform: uppercase

.view-more a:hover
  color: #246673

.three-pieces .view-more
  margin: 20px 0 0 !important

.section .piece img
  background-color: #f5ffe5
  border: 1px solid #bcc4a6
  display: block
  padding: 6px

.section .three-pieces img
  margin-bottom: 6px

.section .piece .preview
  float: right

.section .large
  border-bottom: 1px solid #bcc4a6

.section .last
  margin: 0 !important
  border: none

.inactive, .inactive a, .inactive a:hover
  color: #f3f3f3 !important

img.inactive
  background-color: #fff !important
  border-color: #f3f3f3 !important

.contact-section
  float: left

.contact-form
  border: 1px solid #bcc4a6
  margin-top: 10px
  width: 400px

.contact-form form
  border: 6px solid #f5ffe5
  padding: 10px

.contact-form input, .contact-form textarea
  border: 1px solid #bcc4a6
  margin: 4px 0 0
  width: 290px

.contact-form label
  width: 70px
  font-family: 'league-gothic', Helvetica, Arial, sans-serif

.contact-form textarea
  width: 292px
  min-width: 292px
  max-width: 292px
  height: 100px
  min-height: 100px
  max-height: 100px

.contact-form, .contact-form label, .contact-form input, .contact-form textarea, .about, .friends-section, .friend
  float: left

.contact-form #send
  border: none
  width: 49px
  height: 16px
  float: right
  margin: 15px 5px 0 0

.contact-form .disabled
  opacity: .5

div.about
  padding: 0 40px 0 20px
  width: 165px

.contact-link
  text-align: left
  margin-top: 15px !important

.contact-link a
  font-size: 27px
  line-height: 30px

.friends-section
  width: 370px

.friends-section h2
  margin-bottom: 10px

.friend
  border: 1px solid #bcc4a6
  display: block
  margin: 0 6px 7px 0
  text-indent: -9999em
  width: 177px
  height: 28px

#duening
  background: transparent url('/assets/images/archive/2010/link-duening.jpg') no-repeat 0 0
#mcmaster
  background: transparent url('/assets/images/archive/2010/link-mcmaster.jpg') no-repeat 0 0
#rosichelli
  background: transparent url('/assets/images/archive/2010/link-rosichelli.jpg') no-repeat 0 0
#hassell
  background: transparent url('/assets/images/archive/2010/link-hassell.jpg') no-repeat 0 0
#wilkinson
  background: transparent url('/assets/images/archive/2010/link-wilkinson.jpg') no-repeat 0 0
#read
  background: transparent url('/assets/images/archive/2010/link-read.jpg') no-repeat 0 0
#woodson
  background: transparent url('/assets/images/archive/2010/link-woodson.jpg') no-repeat 0 0
#smoca
  background: transparent url('/assets/images/archive/2010/link-smoca.jpg') no-repeat 0 0
#swbat
  background: transparent url('/assets/images/archive/2010/link-swbat.jpg') no-repeat 0 0
#adrian
  background: transparent url('/assets/images/archive/2010/link-adrian.jpg') no-repeat 0 0
#kruback
  background: transparent url('/assets/images/archive/2010/link-kruback.jpg') no-repeat 0 0
#wirtz
  background: transparent url('/assets/images/archive/2010/link-wirtz.jpg') no-repeat 0 0
#alkire
  background: transparent url('/assets/images/archive/2010/link-alkire.jpg') no-repeat 0 0
#phxart
  background: transparent url('/assets/images/archive/2010/link-phxart.jpg') no-repeat 0 0
#asu
  background: transparent url('/assets/images/archive/2010/link-asu.jpg') no-repeat 0 0
#melt
  background: transparent url('/assets/images/archive/2010/link-melt.jpg') no-repeat 0 0

#duening:hover, #mcmaster:hover, #rosichelli:hover, #hassell:hover, #wilkinson:hover, #read:hover, #woodson:hover, #swbat:hover, #smoca:hover, #adrian:hover, #kruback:hover, #alkire:hover, #wirtz:hover, #phxart:hover, #asu:hover, #melt:hover
  background-position: 0 -28px

.mail h4
  margin: 20px
  font-size: 70px
  text-align: center

.mail p
  font-size: 40px
  text-align: center

.mail a
  color: #f2b12f

.mail a:hover
  color: #246673

/*clearfix */

.clearfix
  overflow: auto;

.clearfix:after 
    content: ''
    clear: both
    display: table
