/*--------------------------------------------------------------------
*
* lynnandtonic.com ❤︎ 
*
--------------------------------------------------------------------*/

@import '2020/globals/_variables'
@import '2020/globals/_reset'
@import '2020/globals/_fonts'

@import '2020/components/base'
@import '2020/components/type'
@import '2020/components/icons'
@import '2020/components/buttons'
@import '2020/components/video'
@import '2020/components/nav'
@import '2020/components/header-folding'
@import '2020/components/header'
@import '2020/components/content'
@import '2020/components/footer'
@import '2020/components/draggabilly'

@import '2020/pages/home'
@import '2020/pages/about'
// @import '2020/pages/thoughts'
@import '2020/pages/work'
// @import '2020/pages/archive'
@import '2020/pages/fourohfour'
@import '2020/pages/hire-me'

@import '2020/components/ie'
