/*--------------------------------------------------------------------
*
* lynnandtonic.com ❤︎ 
*
--------------------------------------------------------------------*/

@import '2023/globals/_variables'
@import '2023/globals/_reset'
@import '2023/globals/_fonts'

@import '2023/components/base'
@import '2023/components/type'
@import '2023/components/links'
@import '2023/components/icons'
@import '2023/components/video'
@import '2023/components/nav'
@import '2023/components/header'
@import '2023/components/content'
@import '2023/components/tweets'
@import '2023/components/footer'

@import '2023/pages/home'
@import '2023/pages/work'
@import '2023/pages/about'
// @import 'pages/thoughts'
// @import 'pages/thought-detail'
// @import 'pages/archive'
// @import 'pages/fourohfour'
// @import 'pages/gifs'
