/*--------------------------------------------------------------------
*
* lynnandtonic.com ❤︎ 
*
--------------------------------------------------------------------*/

@import '2024/globals/_variables'
@import '2024/globals/_reset'
@import '2024/globals/_fonts'

@import '2024/components/base'
@import '2024/components/type'
@import '2024/components/links'
@import '2024/components/icons'
@import '2024/components/video'
@import '2024/components/nav'
@import '2024/components/header'
@import '2024/components/content'
@import '2024/components/tweets'
@import '2024/components/footer'

@import '2024/pages/home'
@import '2024/pages/work'
@import '2024/pages/about'
// @import '2024/pages/thoughts'
// @import '2024/pages/thought-detail'
// @import '2024/pages/archive'
// @import '2024/pages/fourohfour'
// @import '2024/pages/gifs'
