extends ../_layout

block vars
  - var pageDescription = 'Lynn Erickson is an artist, designer, and developer from Chandler, Arizona.'
  - var bodyClass = 'right'

block title
  | 2007 Site Archive - Websites - 

block content

  .blog
    h3 Desire for Normality
    p.date Client since 2006
    img(src='/assets/images/archive/2007/design/d4n.jpg')
    p Desire for Normality is a traveling exhibition of sculptural works from a number of emerging artists working in the Phoenix Metroplitan area.
