extends ../_layout

block vars
  - var pageDescription = 'Lynn Erickson is an artist, designer, and developer from Chandler, Arizona.'
  - var bodyClass = 'right'

block title
  | 2007 Site Archive - Websites - 

block content

  .blog
    h3 ASU Field Hockey Club
    p.date Client since 2007
    img(src='/assets/images/archive/2007/design/fieldhockey.jpg')
    p This site was created for the ASU Field Hockey Club. It includes rosters, image galleries, slideshows, and video.
