extends ../_layout

block vars
  - var pageDescription = 'Lynn Erickson is an artist, designer, and developer from Chandler, Arizona.'
  - var bodyClass = 'right'

block title
  | 2007 Site Archive - Websites - 

block content

  .blog
    h3 Jill Sabatino
    p.date Client since 2005
    img(src='/assets/images/archive/2007/design/jillsabatino.jpg')
    p This was my first commissioned website. It hasn’t been changed since the initial upload so it is interesting to see my growth and development over the past few years.
    p Jill Sabatino is a friend and artist out of Phoenix who paints florals, landscapes, dancers, and musicians.
