extends ../_layout

block vars
  - var pageDescription = 'Lynn Erickson is an artist, designer, and developer from Chandler, Arizona.'
  - var bodyClass = 'right'

block title
  | 2007 Site Archive - Websites - 

block content

  .blog
    h3 Panophobic
    p.date Created Spring 2007
    img(src='/assets/images/archive/2007/design/panophobic.jpg')
    p This was my first attempt at a flash website for my Web Art class. The inspiration for the site is my interest in irrational fears. Panophobia is the fear of everything. I created a few short animations illustrating some irrational fears.
    p I spent a great deal of time on this project trying to make the animation seem realistic rather than cartoonish. I hope to keep working on it and other flash sites in the future.
