extends ../_layout

block vars
  - var pageDescription = 'Lynn Erickson is an artist, designer, and developer from Chandler, Arizona.'
  - var bodyClass = 'right'

block title
  | 2007 Site Archive - Posters - 

block content

  .blog
    h3 Poster: Instababies Technology Inc.
    p.date Fall 2006
    img(src='/assets/images/archive/2007/design/instababies_poster.jpg')
