form.content-narrower.contact-form(action=howdyDomain+'/contact/andyet/main', method='post', data-hook='howdy-form')
  input(name='success_page', type='hidden', value='thanks')
  input(name='error_page', type='hidden', value='bademail')

  fieldset
    .form-element
      label(for='fieldName') Your Name*
      input.form-input(id='fieldName', name='name', type='text', required)
    .form-element
      label(for='fieldEmail') Your Email Address*
      input.form-input(id='fieldEmail', name='email', type='email', required)
    .form-element
      label(for='fieldCompany') Your Company
      input.form-input(id='fieldCompany', name='company', type='text')
    .form-element
      label(for='fieldMessage') How can we help your team?
      textarea.form-input(id='fieldMessage', name='message', type='textarea')
    input.button.button-outlined.animated(type='submit', value='Send')
