footer.footer-primary(role='contentinfo')
  .container.cf

    a.logo.ampersand-logo.transition.transition-fadeout.pull-left(href='/', title='&yet\'s Home Page') &yet
    .pull-left
      nav(role='navigation')
        ul.list-inline.list-unstyled
          li
            a(href='/about') About
            | •
          li
            a(href='/contact') Contact
            | •
          li
            a(href='https://blog.andyet.com') Blog
            | •
          li
            a(href='https://twitter.com/andyet') @andyet

        ul.list-inline.list-unstyled
          li
            a(href='https://www.google.com/maps/place/710+George+Washington+Way,+Richland,+WA+99352') 710 George Washington Way Ste A, Richland, WA 99352
            | •
          li: a(href='tel:+15094166186') +1 509 416 6186

      p Have a nice day.
