.social-links
  a.social-link.twitter(href='https://twitter.com/lynnandtonic') @lynnandtonic on Twitter
  a.social-link.dribbble(href='https://dribbble.com/lynnandtonic') @lynnandtonic on Dribbble
  a.social-link.github(href='https://github.com/lynnandtonic') @lynnandtonic on GitHub
  a.social-link.instagram(href='https://instagram.com/lynnandtonic') @lynnandtonic on Instagram
  a.social-link.pinterest(href='https://pinterest.com/lynnandtonic') @lynnandtonic on Pinterest
  a.social-link.wordpress(href='https://lynnandtonicblog.com/') lynnandtonicblog.com