#mc_embed_signup.form-inline.andyou-form
  form(action="//andyet.us9.list-manage.com/subscribe/post?u=faa323952110d5be6830f05f5&amp;id=3aad4805ae" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate)
    fieldset#mc_embed_signup_scroll
      .mc-field-group.form-element
        label.left(for="mce-FNAME") Name
        input.form-input(type="text" value="" name="FNAME" id="mce-FNAME" placeholder="What can we call you?")
      .mc-field-group.form-element
        label.left(for="mce-EMAIL") Email Address*
        input.form-input(type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="you@reawesome.com" required)
      #mce-responses.clear
        div(class="response" id="mce-error-response" style="display:none")
        div(class="response" id="mce-success-response" style="display:none")
      //- for bots
      div(style="position: absolute; left: -5000px;" aria-hidden="true")
        input(type="text" name="b_faa323952110d5be6830f05f5_3aad4805ae" tabindex="-1" value="")
      div.clear
        input.button.button-outlined(type="submit" value="Subscribe to &you" name="subscribe" id="mc-embedded-subscribe" class="button")

script.
  var emailInput = document.getElementById('mce-EMAIL');
  emailInput.addEventListener('change', function () {
    var val = emailInput.value.replace(/\s*/g, '');
    if (val) {
      _kmq.push(['identify', val]);
    }
  });
  _kmq.push(['trackSubmit', '.andyou-form', '&you Subscribe']);

  // will get picked up by autofocus.js script, when loaded
  window.autofocus = document.getElementById('mce-FNAME')
