/*--------------------------------------------------------------------
* $ABOUT
--------------------------------------------------------------------*/

.about-content

  .press
    margin-left: 30px
    list-style: disc
    color: $grey-med

    a
      color: $grey-drk