/*--------------------------------------------------------------------
* $PROJECT
--------------------------------------------------------------------*/

.project-detail

  h1
    margin-bottom: 20px

  .footnote
    margin-top: -10px
    margin-bottom: 20px
    padding: 5px 10px
    display: block
    text-align: center
    border: 1px solid $grey-lightest

//- This appears on the homepage, thoughts, and project pages
.project-title
  margin-bottom: 5px
  position: relative
  font-family: $font-family-clavo
  font-style: italic
  font-weight: $font-weight-light
  font-size: 24px
  line-height: 1.3
  color: $grey-drk

  @media (max-width: $bp-sm)
    font-size: 20px

  .em
    display: block
    position: absolute
    left: -35px
    top: 4px
    font-size: 16px

  .title
    margin-right: 10px

  .url
    display: inline-block
    font-size: 14px
    color: $blue
    opacity: .8