/*--------------------------------------------------------------------
* $ABOUT
--------------------------------------------------------------------*/

.about

  .main-nav .nav-about
    nav-active()

  .links
    margin-top: 40px
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr))
    grid-gap: 20px

    h2
      margin-bottom: 10px
      font-size: 80%
      text-transform: uppercase
      color: $red

    li
      margin-bottom: 15px
      font-weight: $font-weight-semibold

    span
      font-weight: $font-weight-semibold

    a
      underline(white)

      &:hover
        background: gold

    small
      display: block
      font-weight: $font-weight-light

      a
        color: $grey-med

        &:hover
          color: black

    .support
      font-size: 80%

  .lynn-burger
    width: 200px
    height: 350px
    margin: 0 auto 30px
    background-repeat: no-repeat
    background-image: url('/assets/images/sprite-burger.svg')
    background-position: 0 0
    background-size: @width*2 @height
    animation: burger 1s steps(2, end) infinite

@keyframes burger
  from
    background-position: 0 0
  to
    background-position: -400px 0

