/*--------------------------------------------------------------------
*
* $&you
*
--------------------------------------------------------------------*/

.andyou-archive
  display: flex
  flex-wrap: wrap
  align-items: stretch

.andyou-dispatch
  flex: none
  width: 33.333%
  padding: 10px 20px

  & > a
    display: inline-block
    margin-bottom: 5px

@media screen and (max-width: 740px)

  .andyou-dispatch
    width: 50%

@media screen and (max-width: $breakpoint-smartphone)

  .andyou-dispatch
    width: 100%