/*--------------------------------------------------------------------
* $ARCHIVE
--------------------------------------------------------------------*/

.archive

  .main-nav .nav-archive
    nav-active()

.archive-list
  font-size: 80%

  a
    background-image: none

  a.archive-image
    hoverShadow()

  li
    width: 50%
    padding-right: 20px
    float: left

  .links
    display: flex
    justify-content: space-between

  span.study a
    font-weight: $font-weight-light

  img
    margin-bottom: 10px
    display: block
    border: $border-light
    @media (prefers-color-scheme: dark)
      border: none

@supports (display: grid)

  .archive-list
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
    grid-gap: 3em

    li
      width: 100%
      padding-right: 0
      float: none
