/*--------------------------------------------------------------------
* $ARCHIVE
--------------------------------------------------------------------*/

.archive-list
  display: grid
  gap: 2rem

  .archive-image
    margin-bottom: .5rem
    display: block
    position: relative
    border: $ui-border-thin
    overflow: hidden
    linked-img()

    &:hover img
      filter: grayscale(0%)

    img
      filter: grayscale(100%)
      transition: filter 150ms ease-in-out

  a
    link-alt()

  .links
    display: flex
    justify-content: space-between
    align-items: center
    gap: 1em

  .study a
    font-weight: 350

  img,
  small
    display: block

  .version
    font-family: $font-bold

  .project
    small:first-of-type
      font-family: $font-bold
      text-transform: uppercase
