/*--------------------------------------------------------------------
* $404
--------------------------------------------------------------------*/

.fourohfour

  @media screen and (min-width: 501px)
    .main-nav > :last-child
      &:after
        content: 'Nowhere'
        margin-left: 1em
        display: inline-block
        background-repeat: no-repeat
        background-size: 100% 1px
        background-position: center bottom
        nav-active()

  .space-illo
    display: block
