/*--------------------------------------------------------------------
* $404
--------------------------------------------------------------------*/

.fourohfour

  .container
    max-width: 800px
    margin: 50px auto
    align-self: center

    @media screen and (max-width: 600px)
      margin-bottom: 20px

    img
      width: 200px
      height: 390px
