.gifs
  
  @media screen and (max-width: 500px)
    --gif-margin: 1.2em
  @media screen and (min-width: 501px)
    --gif-margin: 2em

  header
    margin-bottom: 2em

  footer
    margin-top: 6em

  header ~ .load-image,
  header ~ p,
  header ~ img,
  header ~ pre
    margin-left: var(--gif-margin)
    margin-right: var(--gif-margin)

  pre
    max-width: 600px
    margin-right: var(--gif-margin)
    display: flex
    gap: var(--gif-margin)

  code
    // max-width: 80vw
    padding: 1em
    display: block
    overflow: scroll
    background-color: var(--text-color)
    font-weight: bold
    color: var(--background)
    
    &::selection
      background: var(--background)
      color: var(--text-color)

  pre button
    padding: .5em 1em
    background-color: $yellow
    border: none
    border-radius: 4px
    color: $brown
    font-weight: bold
    cursor: pointer
    
    &:hover
      background-color: $pink
      color: white
    &:active
      transform: translateY(1px)

  .load-image,
  img
    margin-bottom: 1.8em
    display: block
    transition: all 0.3s ease

  img
    max-width: calc(100% - var(--gif-margin) * 2)

    &:hover
      transform: scale(1.05)

  .load-image
    width: calc(100% - var(--gif-margin) * 2)
    position: relative
    background-size: contain
    opacity: .9

    &:hover
      opacity: 1

    &:after
      content:'click to preview gif'
      display: block
      position: absolute
      bottom: -1.5em
      font-size: 80%
      font-weight: 400
      font-style: italic
