.gifs

  header
    margin-bottom: 2em

  footer
    margin-top: 6em

  header ~ .load-image,
  header ~ p,
  header ~ img,
  header ~ pre
    margin-left: 2em

  pre
    max-width: 600px
    margin-right: 2em
    display: flex
    gap: 1em

  code
    // max-width: 80vw
    padding: 1em
    overflow: scroll
    background-color: var(--text-color)
    font-weight: bold
    color: var(--background)

  pre button
    padding: .5em 1em
    background-color: $yellow
    border: none
    border-radius: 4px
    color: $brown
    font-weight: bold
    cursor: pointer
    
    &:hover
      background-color: $pink
      color: white
    &:active
      transform: translateY(1px)

  img
    margin-bottom: 2em
    display: block
    transition: all 0.3s ease

    &:hover
      transform: scale(1.05)

  .load-image
    margin-bottom: 2em
    display: block
    position: relative
    opacity: .9
    transition: all 0.3s ease

    &:hover
      opacity: 1

    &:after
      content:'click to preview gif'
      display: block
      position: absolute
      bottom: -1.5em
      font-size: 80%
      font-weight: 400
      font-style: italic
