/*--------------------------------------------------------------------
* $HOME
--------------------------------------------------------------------*/

.header-main.home
  padding: 2rem 9.5vw
  border-radius: $ui-radius
  display: grid
  align-content: center

  h1
    container: name / inline-size
    display: grid
    gap: clamp(.1rem, 1vw, 1rem)

  .name,
  .tagline
    display: flex

  .name-piece
    height: 14vw
    max-height: 140px

  .tagline-piece
    height: 7vw
    max-height: 85px

  .stretch
    margin-inline: -.04rem
    flex: 1

@container name (min-width: 500px)
  .header-main.home
    .stretch
      margin-inline: -2px

@container name (min-width: 2000px)
  .header-main.home
    .stretch
      margin-inline: -4px

body.home
  display: grid
  
  main
    display: none

  nav
    display: flex
    gap: 3%
    justify-content: flex-end

  a,
  button
    font-size: clamp(.5rem, 2.5vw, 1.3rem)

    span
      justify-self: end

.main-nav.home
  align-items: flex-end

  & > div:nth-of-type(2)
    margin-inline-start: 10%
    margin-inline-end: auto

  a
    margin-block-end: -15%
    
    &.logo
      display: none

    &.about
      span
        rotate: 10deg
      figure
        height: 9vw
        max-height: 100px
        rotate: -8deg
      &:hover
        span
          transform: translate(40%,-40%) rotate(20deg)
        figure
          transform: scale(1.1) rotate(12deg)

    &.work
      span
        justify-self: start
        rotate: -13deg
      figure
        height: 10vw
        max-height: 130px
        rotate: 5deg
      &:hover
        span
          transform: translate(60%,-15%) rotate(20deg)
        figure
          transform: scale(1.1) rotate(-13deg)

    &.archive
      margin-block-end: -21%
      span
        rotate: 12deg
        margin-inline-end: -5%
      figure
        height: 10vw
        max-height: 130px
        rotate: -6deg
      &:hover
        span
          transform: translate(20%,-15%) rotate(25deg)
        figure
          transform: scale(1.1) rotate(-12deg)

    &.thoughts
      gap: .5em
      span
        rotate: 6deg
      figure
        height: 9.2vw
        max-height: 110px
        rotate: -3deg
      &:hover
        span
          transform: translate(20%,-10%) rotate(-10deg)
        figure
          transform: scale(1.1) rotate(13deg)

  .toggle-button
    margin-block-end: -20%

    & > svg:first-of-type,
    .toggle-icon
      height: 9vw
      max-height: 110px
      rotate: 5deg
    
    .toggle-text
      rotate: -2deg

    &:hover
      .toggle-text
        transform: translate(20%,-20%) rotate(10deg)
      & > svg:first-of-type,
      .toggle-icon
        transform: scale(1.1) rotate(-10deg)

.home-contact
  align-items: flex-start

  & > div:first-of-type
    flex: 1
    display: flex

  & > div:last-of-type
    margin-inline-end: 1.5%
    display: grid
    grid-template-columns: auto auto
    align-items: center
    font-size: clamp(.6rem, 1.5vw, .9rem)
    text-align: right
    line-height: 1.25

    em
      margin-inline-end: .5em
      display: block

  a
    &.email
      margin-block-start: 4%
      margin-inline-start: 20%
      span
        rotate: 12deg
        margin-block-start: -1%
      figure
        height: 5vw
        max-height: 60px
      &:hover
        span
          transform: translate(-30%,-10%) rotate(-12deg)
        figure
          transform: scale(1.1) rotate(-15deg)

    &.soda
      margin-block-start: -15%
      figure
        height: 8vw
        max-height: 110px
      &:hover
        figure
          transform: scale(1.1) rotate(-15deg)
