/*--------------------------------------------------------------------
* $HOME - DESKTOP SIZED AND ABOVE
--------------------------------------------------------------------*/

@import '../globals/_variables'
@import '../globals/_reset'
@import '../components/base'
@import '../components/nav'

$min-w = 412px
$step = 47

@import '/home/_variables'
@import '/home/_breakpoints'

@import '/home/base'
@import '/home/other'
@import '/home/legs'
@import '/home/arms'
@import '/home/hair'
@import '/home/face'
@import '/home/mouth'
@import '/home/pants-hoodie'
