/*--------------------------------------------------------------------
* $HOME
--------------------------------------------------------------------*/

@import '../globals/_variables'
@import '../globals/_reset'

*, *:before, *:after
  box-sizing: border-box

.home
  position: relative
  display: grid
  grid-template-columns: repeat(10, 1fr)
  grid-template-rows: repeat(10, 1fr)
  grid-column-gap: 15px
  align-items: center
  font-family: $font-family-proxima
  font-weight: $font-weight-light
  font-size: 16px
  height: 100vh
  line-height: 1.4
  color: black

  ::selection
    background: cyan
    color: black

  &:before,
  &:after
    content: ''

  .main-nav
    font-family: $font-family-ocr
    font-size: 12px

    .nav-home
      display: none

  a
    text-decoration: none

  .lynn
    align-self: stretch
    position: relative
    overflow: hidden

@media $media300
  @import 'home/diagonal'

@media $media400
  @import 'home/L-Y-N-N'

@media $media500
  @import 'home/blockhead'

@media $media600
  @import 'home/white-box'

@media $media700
  @import 'home/white-bars'

@media $media800
  @import 'home/b-and-w-gold-all-over'

@media $media900
  @import 'home/pop-out'

@media $media1000
  @import 'home/rotate'

@media $media1100
  @import 'home/fifty-fifty'

@media $media1200
  @import 'home/big-nav'

@media $media1300
  @import 'home/disguise'

@media $media1400
  @import 'home/triangle'

@media $media1500
  @import 'home/bolt'

@media $media1600
  @import 'home/third'

@media $media1700
  @import 'home/movie'

@media $media1800
  @import 'home/half'
