/*--------------------------------------------------------------------
* $THOUGHT ENTRY
--------------------------------------------------------------------*/

.thought-detail

  .header-main

    h1
      grid-row: 1
      grid-column: 1
      padding-inline: 5vw
      padding-block-end: clamp(1rem, 6vw, 2rem)
      font-size: clamp(3rem, 9vw, 7rem)
      text-align: center
      line-height: .9

      @supports (-webkit-text-stroke: 3px black)
        -webkit-text-fill-color: var(--bg-color)
        -webkit-text-stroke: .02em var(--text-color)
        text-shadow: .05em .045em 0 var(--text-color)

    .date
      padding-block-end: clamp(2rem, 6vw, 3rem)
      font-family: $font-squada
      text-transform: uppercase
      text-align: center
      
      small
        font-size: var(--font-base)

  .thoughts-nav
    width: 100%
    display: grid
    grid-template-columns: repeat(3,1fr)
    align-items: stretch
    line-height: 1.1
    border-top: $ui-border

    a
      link-alt()

    & > *
      padding: 2em 1em
      display: flex
      justify-content: center
      align-items: center
      gap: .3em
      font-size: var(--font-sm)
    
    & > :not(:first-child)
      border-left: $ui-border

    .earlier
      grid-column: 3
    .back
      grid-column: 2
      text-align: center
    .later
      grid-column: 1
      text-align: right
