/*--------------------------------------------------------------------
* $THOUGHTS ENTRIES
--------------------------------------------------------------------*/

.thoughts,
.thought-detail

  .main-nav .nav-thoughts
    nav-active()

.thoughts
  .container
    max-width: 600px
    margin: 30px auto 60px
    padding: 0 20px

  .thought
    margin-bottom: 30px

  .date
    display: block

  .thought-title
    underline(white)

  .external:not(:empty)
    margin-left: 15px

    &:after
      content: '↗'
      margin-left: 4px
      display: inline-block
      font-size: 12px
      position: relative

.thought-detail

  .date
    display: block
    margin-bottom: 10px

  .date, h1
    text-align: center

  .twitter-tweet
    margin-bottom: 30px !important

  .footnote
    margin-top: -20px
    margin-bottom: 30px
    display: block
    text-align: center

  ul
    padding-left: 30px
    list-style-type: disc

    li
      margin-bottom: 5px

  p img:last-child
    margin-bottom: 0
