/*--------------------------------------------------------------------
* $WORK
--------------------------------------------------------------------*/

// work pages uses layout stuff from /archive

.project
  .icon.codepen
    --icon-w: 1.3em

.work
  .archive-list
    .links
      @media screen and (max-width: $bp-xs)
        display: block
