mixin svg-tagline-hhh()
  svg(id="uuid-987d77aa-443b-4106-aba8-ca8d602d4bac" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 18 50")&attributes(attributes)
    <defs><clipPath id="uuid-2205bc8d-d8a8-4bde-9db2-97d50e0b41b6"><rect width="18" height="50.4" fill="none"/></clipPath></defs><g clip-path="url(#uuid-2205bc8d-d8a8-4bde-9db2-97d50e0b41b6)"><path d="M-1.09,30.14v-7.83h26.21v7.83H-1.09Z" fill="var(--text-color)" stroke="var(--text-color)" stroke-linejoin="round"/><path d="M-4.06,27.29v-7.83h26.21v7.83H-4.06Z" fill="var(--bg-color)" stroke="var(--text-color)" stroke-linejoin="round"/></g>
          
