extends ../_layout

block vars
  - var pageDescription = 'Recent illustration work by Lynn Fisher'
  - var bodyClass = 'work layout-sub'

block title
  | 2016 Site Archive - Illustration - 

block content

  .content-container.project-detail

    h1.project-title Illustration
    p A handful of recent icons and illustrations.

    img(src='/assets/images/archive/2016/illo-all-the-trades.png')
    img(src='/assets/images/archive/2016/icons-andyetconf.png')
    img(src='/assets/images/archive/2016/icons-andyetconf-2.png')
    img(src='/assets/images/archive/2016/illo-lynn-rainbow.png')
    img(src='/assets/images/archive/2016/icons-sandwich.png')
    img(src='/assets/images/archive/2016/icons-jsforteams.png')
    img(src='/assets/images/archive/2016/illo-security-map.png')
    img(src='/assets/images/archive/2016/illo-yoda.png')
    img(src='/assets/images/archive/2016/illo-sandwich-yeti.png')
    img(src='/assets/images/archive/2016/icons-seaworthy.png')
    img(src='/assets/images/archive/2016/illo-viewfinder.png')
    img(src='/assets/images/archive/2016/illo-yeti-threads.png')
    img(src='/assets/images/archive/2016/illo-alignment.png')
    img(src='/assets/images/archive/2016/crohn-wedding-1.jpg')
    img(src='/assets/images/archive/2016/crohn-wedding-2.jpg')

    p #[a.back(href='/archive/2016') ← Back to projects list]
