extends ../_layout

block vars
  - var pageDescription = 'Lynn Fisher is an artist, designer, and developer from Chandler, Arizona.'

block title
  | 2009 Site Archive - The Color Red - 

block content

  img.portfolio(src='/assets/images/archive/2009/color-red.jpg')
  p.title The Color Red - acrylic on canvas - 12″ x 16″ - 2005
