extends ../_layout

block vars
  - var pageDescription = 'Lynn Fisher is an artist, designer, and developer from Chandler, Arizona.'

block title
  | 2009 Site Archive - The Smart One (Which One’s the Ho?) - 

block content

  img.portfolio(src='/assets/images/archive/2009/smart-one-lynn.jpg')
  p.title The Smart One (Which One’s the Ho?) - acrylic on canvas- 16″ x 20″ each - 2004
