extends ../_layout

block vars
  - var pageDescription = 'Lynn Fisher is an artist, designer, and developer from Chandler, Arizona.'

block title
  | 2009 Site Archive - We Were All Yellow - 

block content

  img.portfolio(src='/assets/images/archive/2009/yellow-kirsten.jpg')
  p.title We Were All Yellow - oil on canvas - 4′x 4′ each - 2007
