blockquote
  margin-bottom: 30px
  padding-left: 30px
  position: relative
  font-style: italic
  font-size: 1.33em

  &:before
    content: '“'
    position: absolute
    left: 0
    top: -8px
    font-size: 200%

  &:before,
  cite
    color: $grey-med
    @media (prefers-color-scheme: dark)
      color: white(.6)

  cite
    margin-top: 10px
    display: block
    text-align: right
    font-size: 80%
    font-style: normal

    &:before
      content:'—'

  &.small
    font-size: 1em
    padding-left: 22px
