/*--------------------------------------------------------------------
* $CONTENT
--------------------------------------------------------------------*/

.container
  width: 100%
  max-width: 1100px
  margin: 0 auto

.intro
  max-width: 540px
  margin-bottom: 4em
