extends ../_layout

block vars
  - var pageDescription = 'Lynn Fisher is an artist, designer, and developer from Chandler, Arizona.'

block title
  | 2009 Site Archive - Allow 6-8 Weeks - 

block content

  img.portfolio(src='/assets/images/archive/2009/68weeks-1.jpg')
  p.title Allow 6-8 Weeks - mixed media - 2006
