extends ../_layout

block vars
  - var pageDescription = 'Lynn Fisher is an artist, designer, and developer from Chandler, Arizona.'

block title
  | 2009 Site Archive - Breakfast of Champions - 

block content

  img.portfolio(src='/assets/images/archive/2009/breakfast.jpg')
  p.title Breakfast of Champions - mixed media - 2006
