extends ../_layout

block vars
  - var pageDescription = 'Lynn Fisher is an artist, designer, and developer from Chandler, Arizona.'

block title
  | 2009 Site Archive - A Girl’s Best Friend - 

block content

  img.portfolio(src='/assets/images/archive/2009/girlsbestfriend.jpg')
  p.title A Girl’s Best Friend - mixed media - 2005
