extends ../_layout

block vars
  - var pageDescription = 'Lynn Fisher is an artist, designer, and developer from Chandler, Arizona.'

block title
  | 2009 Site Archive - Shipping and Handling - 

block content

  img.portfolio(src='/assets/images/archive/2009/shipping-1.jpg')
  p.title Shipping and Handling - mixed media - 2006
