extends ../_layout

block vars
  - var pageDescription = 'Lynn Fisher is an artist, designer, and developer from Chandler, Arizona.'

block title
  | 2009 Site Archive - Stalefish - 

block content

  img.portfolio(src='/assets/images/archive/2009/stalefish.jpg')
  p.title Stalefish - paint chips, rubber cement - 20″ x 16″ - 2004
