extends ../_layout

block vars
  - var pageDescription = 'Lynn Fisher is an artist, designer, and developer from Chandler, Arizona.'

block title
  | 2009 Site Archive - Subway - 

block content

  img.portfolio(src='/assets/images/archive/2009/subway.jpg')
  p.title Subway - corrugated cardboard, hot glue - 20″ x 20″ x 15″ - 2006
