/*--------------------------------------------------------------------
* $HOME - cutout
--------------------------------------------------------------------*/

.home
  // z-index
  .lynn
    z-index: 0
  .main-nav, h1, .intro
    position: relative
    z-index: 1

  .main-nav
    grid-column: 2 / 5
    grid-row: 1 / 3
    font-size: 14px
    margin-left: -12px

    a
      margin-right: 20px
      display inline-block
      color: black

      &:hover
        underline(gold)

  h1
    grid-column: 2 / 5
    grid-row: 9 / -1
    margin-left: -12px

    .name
      text-transform: uppercase
      font-weight: $font-weight-semibold

  .intro
    grid-column: 4 / 10
    grid-row: 9 / -1
    margin-left: 15px
    
    &:before
      content: '❤ '
      margin-right: 10px
      display: inline-block

  .lynn
    grid-col-full()
    grid-row-full()
    display: flex
    justify-content: center
    align-items: center
    background: linear-gradient(30deg, gold, $red)
    box-shadow: inset 0 0 0 100px black(.7)

    &:before
      content: ''
      width: 90%
      height: 90%
      position: absolute
      top: 5%
      left: 5%
      display: block
      z-index: 1
      background-repeat: no-repeat
      background-image: linear-gradient(to bottom, white 10%,
                                                   transparent 10%,
                                                   transparent 90%,
                                                   white 90%),
                        linear-gradient(to right, white, white),
                        linear-gradient(to right, white, white),
                        linear-gradient(-115deg, transparent 40%, white 40%),
                        linear-gradient(to right, transparent 62%, white 62%),
                        linear-gradient(115deg, transparent 40%, white 40%),
                        linear-gradient(to right, white, white),
                        linear-gradient(to right, white, white),
                        linear-gradient(-115deg, white 40%, transparent 40%),
                        linear-gradient(115deg, white 40%, transparent 40%),
                        linear-gradient(-110deg, white 40%, transparent 40%),
                        linear-gradient(-110deg, transparent 60%, white 60%),
                        linear-gradient(-110deg, white 40%, transparent 40%),
                        linear-gradient(-110deg, transparent 60%, white 60%)
      background-size: 100% 100%,
                       5% 100%,
                       5% 100%,
                       15% 75%,
                       15% 30%,
                       14% 75%,
                       14% 30%,
                       5% 100%,
                       11% 47%,
                       11% 47%,
                       11% 56%,
                       11% 56%,
                       11% 56%,
                       11% 56%
      background-position: 0 0,
                           0 0,
                           100% 0,
                           13% 0,
                           13% 100%,
                           38.5% 0,
                           38.5% 100%,
                           72% 0,
                           20.5% 8%,
                           32.8% 8%,
                           57% 8%,
                           61.5% 108%,
                           86.5% 8%,
                           91% 108%

    img
      height: 170%
      margin-right: -40%
      z-index: 0
      filter: contrast(1.8) grayscale(50%)
      mix-blend-mode: multiply
