extends _layout

block vars
  - var pageDescription = 'Lynn Erickson is an artist, designer, and developer from Chandler, Arizona.'

block title
  | 2008 Site Archive - Links - 

block content

  #portfolio.clearfix
    h1 Fine Art and Design
    .link
      a(href='http://phxart.org')
        img.thumbnail(src='/assets/images/archive/2008/thumb-phixart.jpg')
        p Phoenix Art Museum

    .link
      a(href='http://asuartmuseum.asu.edu')
        img.thumbnail(src='/assets/images/archive/2008/thumb-asumuseum.jpg')
        p ASU Art Museum

    .link
      a(href='http://rericmcmaster.com')
        img.thumbnail(src='/assets/images/archive/2008/thumb-mcmaster.jpg')
        p R. Eric McMaster

    .link
      a(href='http://tiffapiffa.com')
        img.thumbnail(src='/assets/images/archive/2008/thumb-tiffa.jpg')
        p Tiffany Duening

    .link
      a(href='http://anthonygoicolea.com')
        img.thumbnail(src='/assets/images/archive/2008/thumb-goicolea.jpg')
        p Anthony Goicolea

    .link
      a(href='http://indierockphoto.com')
        img.thumbnail(src='/assets/images/archive/2008/thumb-indierock.jpg')
        p Dennis Ho

    .link
      a(href='http://www.meltmedia.com')
        img.thumbnail(src='/assets/images/archive/2008/thumb-melt.jpg')
        p meltmedia

    .clear

    h1 Blogs
    .link
      a(href='http://postsecret.blogspot.com')
        img.thumbnail(src='/assets/images/archive/2008/thumb-postsecret.jpg')
        p Post Secret

    .link
      a(href='http://bentobjects.blogspot.com')
        img.thumbnail(src='/assets/images/archive/2008/thumb-bend.jpg')
        p Bent Objects

    .link
      a(href='http://unclutterer.com')
        img.thumbnail(src='/assets/images/archive/2008/thumb-unclutterer.jpg')
        p Unclutterer
