extends _layout

block vars
  - var pageDescription = 'Lynn Erickson is an artist, designer, and developer from Chandler, Arizona.'

block title
  | 2008 Site Archive - Photos - 

block scripts
  script(type='text/javascript', src='/assets/js/archive/2008/global.js')

block content

  #portfolio
    h1 Paris, France 2005

    #paris1.thumb-popup
      a(href="javascript:HideContent('paris1')")
        img(src='/assets/images/archive/2008/paris-01.jpg', alt='Paris, France 2005', width='500')

    #paris2.thumb-popup
      a(href="javascript:HideContent('paris2')")
        img(src='/assets/images/archive/2008/paris-02.jpg', alt='Paris, France 2005', width='500')

    #paris3.thumb-popup
      a(href="javascript:HideContent('paris3')")
        img(src='/assets/images/archive/2008/paris-03.jpg', alt='Paris, France 2005', width='500')

    #paris4.thumb-popup
      a(href="javascript:HideContent('paris4')")
        img(src='/assets/images/archive/2008/paris-04.jpg', alt='Paris, France 2005', width='500')

    #paris5.thumb-popup
      a(href="javascript:HideContent('paris5')")
        img(src='/assets/images/archive/2008/paris-05.jpg', alt='Paris, France 2005', width='500')

    #paris6.thumb-popup
      a(href="javascript:HideContent('paris6')")
        img(src='/assets/images/archive/2008/paris-06.jpg', alt='Paris, France 2005', width='500')

    #paris7.thumb-popup
      a(href="javascript:HideContent('paris7')")
        img(src='/assets/images/archive/2008/paris-07.jpg', alt='Paris, France 2005', width='500')

    #paris8.thumb-popup
      a(href="javascript:HideContent('paris8')")
        img(src='/assets/images/archive/2008/paris-08.jpg', alt='Paris, France 2005', width='500')

    #paris9.thumb-popup
      a(href="javascript:HideContent('paris9')")
        img(src='/assets/images/archive/2008/paris-09.jpg', alt='Paris, France 2005', width='500')

    #paris10.thumb-popup
      a(href="javascript:HideContent('paris10')")
        img(src='/assets/images/archive/2008/paris-10.jpg', alt='Paris, France 2005', width='500')

    #paris11.thumb-popup
      a(href="javascript:HideContent('paris11')")
        img(src='/assets/images/archive/2008/paris-11.jpg', alt='Paris, France 2005', width='500')

    #paris12.thumb-popup
      a(href="javascript:HideContent('paris12')")
        img(src='/assets/images/archive/2008/paris-12.jpg', alt='Paris, France 2005', width='500')

    #paris13.thumb-popup
      a(href="javascript:HideContent('paris13')")
        img(src='/assets/images/archive/2008/paris-13.jpg', alt='Paris, France 2005', width='500')

    #paris14.thumb-popup
      a(href="javascript:HideContent('paris14')")
        img(src='/assets/images/archive/2008/paris-14.jpg', alt='Paris, France 2005', width='449')

    a(onClick="ShowContent('paris1'); return true;", href="javascript:ShowContent('paris1')")
      img.thumbnail(src='/assets/images/archive/2008/thumb-paris-01.jpg')
    a(onClick="ShowContent('paris2'); return true;", href="javascript:ShowContent('paris2')")
      img.thumbnail(src='/assets/images/archive/2008/thumb-paris-02.jpg')
    a(onClick="ShowContent('paris3'); return true;", href="javascript:ShowContent('paris3')")
      img.thumbnail(src='/assets/images/archive/2008/thumb-paris-03.jpg')
    a(onClick="ShowContent('paris4'); return true;", href="javascript:ShowContent('paris4')")
      img.thumbnail(src='/assets/images/archive/2008/thumb-paris-04.jpg')
    a(onClick="ShowContent('paris5'); return true;", href="javascript:ShowContent('paris5')")
      img.thumbnail(src='/assets/images/archive/2008/thumb-paris-05.jpg')
    a(onClick="ShowContent('paris6'); return true;", href="javascript:ShowContent('paris6')")
      img.thumbnail(src='/assets/images/archive/2008/thumb-paris-06.jpg')
    a(onClick="ShowContent('paris7'); return true;", href="javascript:ShowContent('paris7')")
      img.thumbnail(src='/assets/images/archive/2008/thumb-paris-07.jpg')
    a(onClick="ShowContent('paris8'); return true;", href="javascript:ShowContent('paris8')")
      img.thumbnail(src='/assets/images/archive/2008/thumb-paris-08.jpg')
    a(onClick="ShowContent('paris9'); return true;", href="javascript:ShowContent('paris9')")
      img.thumbnail(src='/assets/images/archive/2008/thumb-paris-09.jpg')
    a(onClick="ShowContent('paris10'); return true;", href="javascript:ShowContent('paris10')")
      img.thumbnail(src='/assets/images/archive/2008/thumb-paris-10.jpg')
    a(onClick="ShowContent('paris11'); return true;", href="javascript:ShowContent('paris11')")
      img.thumbnail(src='/assets/images/archive/2008/thumb-paris-11.jpg')
    a(onClick="ShowContent('paris12'); return true;", href="javascript:ShowContent('paris12')")
      img.thumbnail(src='/assets/images/archive/2008/thumb-paris-12.jpg')
    a(onClick="ShowContent('paris13'); return true;", href="javascript:ShowContent('paris13')")
      img.thumbnail(src='/assets/images/archive/2008/thumb-paris-13.jpg')
    a(onClick="ShowContent('paris14'); return true;", href="javascript:ShowContent('paris14')")
      img.thumbnail(src='/assets/images/archive/2008/thumb-paris-14.jpg')
