/*--------------------------------------------------------------------
* $BUTTONS
--------------------------------------------------------------------*/

.real-big-buttons
  display: flex
  
  @media screen and (max-width: $bp-sm - 1)
    height: 200px
  @media screen and (min-width: $bp-sm)
    height: 300px

.real-big-button
  width: 100%
  padding: 0 30px
  position: relative
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-between
  overflow: hidden
  background: none
  text-align: center
  text-decoration: none
  color: white
  
  @media screen and (max-width: $bp-sm - 1)
    font-size: 1.2em
  @media screen and (min-width: $bp-sm)
    font-size: 1.5em

  &:hover
    &:after
      transform: translateY(0)

  @media screen and (max-width: $bp-sm - 1)
    --arrow-w: 40px
    --arrow-h: 60px
  @media screen and (min-width: $bp-sm)
    --arrow-w: 80px
    --arrow-h: 120px

  &:before,
  &:after
    content: ''
    width: var(--arrow-w)
    height: var(--arrow-h)

  &:after
    background-repeat: no-repeat
    background-image: url('/assets/images/archive/2020/real-big-button-arrow.svg')
    background-position: left bottom
    transition: transform 100ms ease-in-out
    background-size: auto var(--arrow-h)
    transform: translateY(var(--arrow-h))

  &.pink
    background-color: darken($pink,3.5)
    &:hover
      color: white
  &.gold
    background-color: $gold
    color: $grey-drk
    &:after
      background-position: calc(var(--arrow-w) * -1) bottom

  &:focus:focus-visible
    outline: none
    color: $grey-drk
    box-shadow: inset 0 0 0 3px $pink

  &:active
    transform: translateY(2px)
    box-shadow: 0 -2px 0 $grey-drk
