/*--------------------------------------------------------------------
* $HEADER - SLIM
--------------------------------------------------------------------*/

header.slim
  min-height: 180px
  display: grid
  align-items: center
  background-color: $grey-drk
  color: $gold

  h1
    margin-bottom: 0

.thoughts,
.archive
  header.slim h1
    text-transform: uppercase
