extends ../_layout

block vars
  - var pageDescription = 'Lynn Fisher is an artist, designer, and developer from Chandler, Arizona.'

block title
  | 2012 Site Archive - Allow 6-8 Weeks - 

block content

  #container
    section#piece.clearfix
      #statement
        div
          h2 Allow 6-8 Weeks
          dl.clearfix
            dt Media
            dd mixed media
            dt Size
            dd 20″ x 16″
            dt Date
            dd winter 2006
          p Both my brother and I were adopted. Recently, he sent out a request for information on his birth parents. I found it interesting that a piece of mail could arrive at your house with information about you, your life, and your health that you have no idea about. A pretty important envelope, to the say the least.

          p.italic: a(href='/archive/2012/work', title='View all recent work.') View all recent work

      #slides
        img(src='/assets/images/archive/2012/slide-68weeks1.jpg', alt='an opened letter, pressed inside a document frame')
        img(src='/assets/images/archive/2012/slide-68weeks3.jpg', alt='closeup of the letter, says “information requested, this package contains: your life”')
