extends ../_layout

block vars
  - var pageDescription = 'Lynn Fisher is an artist, designer, and developer from Chandler, Arizona.'

block title
  | 2012 Site Archive - Asian Viking - 

block content

  #container
    section#piece.clearfix
      #statement
        div
          h2 Asian Viking
          dl.clearfix
            dt Media
            dd acrylic on canvas
            dt Size
            dd 40″ x 30″
            dt Date
            dd winter 2006
          p The photo guy at my local Walgreen’s used to call me “Asian Viking” because of my last name (Erickson, at the time). It always stuck with me, so of course, I had to paint it. This piece showed at the 2005-2006 Juried Undergraduate Exhibition, Harry Wood Gallery, ASU.

          p.italic: a(href='/archive/2012/work', title='View all recent work.') View all recent work

      #slides
        img(src='/assets/images/archive/2012/slide-asianviking.jpg', alt='self portrait wearing a viking helmut and giant glasses, standing in front of a blackboard with math calculations')
