extends ../_layout

block vars
  - var pageDescription = 'Lynn Fisher is an artist, designer, and developer from Chandler, Arizona.'

block title
  | 2012 Site Archive - Character Studies - 

block content

  #container
    section#piece.clearfix
      #statement
        div
          h2 Character Studies
          dl.clearfix
            dt Media
            dd digital illustration
            dt Date
            dd 2010-2011
          p A series of little illustrations showing beloved and iconic film characters in everyday situations. These were shown during the First Friday Art Walk at New City Studios in October of 2011.

          p.italic: a(href='/archive/2012/work', title='View all recent work.') View all recent work

      #slides
        img.single-character(src="/assets/images/archive/2012/slide-character-amelie.jpg", alt="Amelie at Tour de Fat")
        img(src="/assets/images/archive/2012/slide-character-paulie.jpg", alt="Paulie at the Beach")
        img(src="/assets/images/archive/2012/slide-character-spock.jpg", alt="Spock at the Comic-Con")
        img(src="/assets/images/archive/2012/slide-character-thedude.jpg", alt="The Dude at IKEA")
        img(src="/assets/images/archive/2012/slide-character-margot.jpg", alt="Margot at the Fair")
        img(src="/assets/images/archive/2012/slide-character-boba.jpg", alt="Boba at a Luau")
        img(src="/assets/images/archive/2012/slide-character-joker.jpg", alt="The Joker at Disneyland")
        img.single-character(src="/assets/images/archive/2012/slide-character-gandalf.jpg", alt="Gandalf at the Arcade")
        img(src="/assets/images/archive/2012/slide-character-rufio.jpg", alt="Rufio at the Renaissance Faire")
        img(src="/assets/images/archive/2012/slide-character-wolverine.jpg", alt="Wolverine at an Ugly Sweater Party")
        img.single-character(src="/assets/images/archive/2012/slide-character-max.jpg", alt="Max at the Gym")
        img(src="/assets/images/archive/2012/slide-character-donnie.jpg", alt="Donnie at the DMV")
        img(src="/assets/images/archive/2012/slide-character-gogo.jpg", alt="Gogo at the Playboy Mansion")
        img.single-character(src="/assets/images/archive/2012/slide-character-veruca.jpg", alt="Veruca at the Rodeo")
