extends ../_layout

block vars
  - var pageDescription = 'Lynn Fisher is an artist, designer, and developer from Chandler, Arizona.'

block title
  | 2012 Site Archive - We Were All Yellow - 

block content

  #container
    section#piece.clearfix
      #statement
        div
          h2 We Were All Yellow
          dl.clearfix
            dt Media
            dd oil on canvas
            dt Size
            dd 36″ x 36″ each
            dt Date
            dd spring 2007
          p <em>We Were All Yellow</em> was my senior Honors thesis project on Asian stereotypes in America. I surveyed several Caucasians about what they picture when they think of Asian people. These were the most common answers I was given. It’s meant to be light-hearted, poking fun at our cultural differences and perceptions.

          p.italic: a(href='/archive/2012/work', title='View all recent work.') View all recent work

      #slides
        img(src='/assets/images/archive/2012/slide-yellow1.jpg', alt='We Were All Yellow')
        img(src='/assets/images/archive/2012/slide-yellow2.jpg', alt='We Were All Yellow')
        img(src='/assets/images/archive/2012/slide-yellow3.jpg', alt='We Were All Yellow')
        img(src='/assets/images/archive/2012/slide-yellow4.jpg', alt='We Were All Yellow')
        img(src='/assets/images/archive/2012/slide-yellow5.jpg', alt='We Were All Yellow')
        img(src='/assets/images/archive/2012/slide-yellow6.jpg', alt='We Were All Yellow')
