@media screen and (max-width: 450px)

  #nav #nav-blog
    display: none

  #header
    background-size: 570px auto
    height: 150px

  #lynnmfisher
    background: transparent url('/assets/images/archive/2011/lynnmfisher.png') no-repeat 15px 15px
    background-size: 120px auto

  #portfolio
    padding-left: 10px

  #portfolio li
    margin: 0px 2.5% 0
    width: 44%

  #contact
    font-size: 90%

  #contact #biography, #contact-stuffs
    float: none
    padding-right: 0

  #contact #biography, #contact-stuffs
    max-width: 98%

  input, textarea
    width: 95%

  input#send
    margin-right: 1%
