@media screen and (max-width: 700px)

  h2
    color: #92c2be
    display: block
    font-family: Georgia, Times, serif !important
    font-size: 120%
    font-weight: normal
    text-shadow: 1px 1px 0px #000

  #nav
    font-size: 130%
    margin-top: -8px

  #nav ul li
    padding: 22px 2% 16px

  #nav ul #oh-herro
    display: none

  #header
    background-size: 700px auto
    height: 190px

  #lynnmfisher
    background: transparent url('/assets/images/archive/2011/lynnmfisher.png') no-repeat 15px 15px
    background-size: 150px auto

  #portfolio, #contact
    float: none
    max-width: 100%

  #portfolio
    padding-right: 5px

  #contact
    background-color: #4f4f4f
    background-image: none
    margin: 20px 0 -10px
    padding-top: 20px
    max-width: 100%

  #contact p, #contact ul, #contact ul li a, h3
    color: #dbdbdb
    width: 100%
    text-shadow: 1px 1px 0px #252525

  #contact p a
    color: #92c2be

  #contact #biography, #contact-stuffs
    float: left

  #contact #biography
    max-width: 55%
    padding-right: 15px

  #contact-stuffs
    max-width: 40%

  input, textarea
    background-color: #d2d2d2

  #social #twitter
    background: transparent url('/assets/images/archive/2011/social-twitter2.png') no-repeat 0 0

  #social #facebook
    background: transparent url('/assets/images/archive/2011/social-facebook2.png') no-repeat 7px 2px

  #social #linkedin
    background: transparent url('/assets/images/archive/2011/social-linkedin2.png') no-repeat 3px 2px

  #social #wordpress
    background: transparent url('/assets/images/archive/2011/social-wordpress2.png') no-repeat 3px 2px

  #portfolio #copyright
    margin: 30px 0 0
    width: 98%
    max-width: 98%
