@media screen and (max-width: 900px)
  #nav
    font-size: 150%
    margin-top: -13px

  #nav ul li
    padding: 22px 2% 16px

  #header
    background-size: 900px auto
    height: 250px

  #lynnmfisher
    background-size: 175px auto

  #nav ul #oh-herro img
    right: -23px
