@media screen and (max-device-width: 480px)

  #nav
    background-size: auto 50px !important
    font-size: 100% !important
    height: 60px !important

  #nav ul li
    padding: 12px 1.9% 11px !important

  #header
    background-size: 500px auto !important
    height: 133px !important

  #lynnmfisher
    background: transparent url('/assets/images/archive/2011/lynnmfisher.png') no-repeat 10px 10px !important
    background-size: 110px auto !important

  #nav ul li:last-child
    display: none

  #portfolio li a:hover span
    display: none
